@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/Vazir-Bold.woff') format('woff'),
    url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light.eot');
    src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Light.woff2') format('woff2'),
    url('../fonts/Vazir-Light.woff') format('woff'),
    url('../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Thin.eot');
    src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/Vazir-Thin.woff') format('woff'),
    url('../fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Black.eot');
    src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Black.woff2') format('woff2'),
    url('../fonts/Vazir-Black.woff') format('woff'),
    url('../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}

/*---------------------------------- End of fonts ---------------------------------- */

*:not(i) {
    font-family: 'Vazir', sans-serif !important;
    direction: rtl;
}

.card .card-title {
    font-family: 'Vazir', sans-serif !important;
    text-shadow: 4px 4px 10px #525050;

}

.card .card-body {
    /*margin-top: 1rem !important;*/
    /*margin-right: -1rem !important;*/
    /*margin-bottom: 1rem !important;*/
    /*margin-left: -1rem !important;*/
    /*padding-right: 1rem !important;*/
}
.page-title {
    color: #343a40;
    font-size: 1.125rem;
    margin-bottom: inherit;
}
.page-header{
    margin: 0 0 -1.5rem 0;
}
/*.content-wrapper {*/
/*    padding: 2.75rem 1.10rem;*/
/*}*/


.input-group {
    display: flex;
    /*flex-direction: row-reverse;*/
    justify-content: center;
}

.page-title .page-title-icon {
    width: 20px;
    height: 24px;
    line-height: 30px;
}

.page-title .page-title-icon i {
    line-height: 1rem;
    font-size: 1rem;
    display: inline;
}

.rtl .sidebar .nav.sub-menu .nav-item .nav-link:before {
    content: "\F04D";
    left: auto;
    right: 0;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
    width: 70%;
    height: 70%;
}

.navbar .navbar-brand-wrapper .navbar-brand {
    font-size: 1rem;
    color: #1e2125;
    font-weight: bold;
}

.alert-success {
    /*width: content-box;*/
    /*margin-top: 10px;*/
    background-color: #469632;
    color: #fcfcfc;
    /*position: initial;*/
    /*padding: -1rem;*/
    margin-bottom: -1rem;
    border: 0 solid transparent;
    /*border-radius: 1.25rem;*/
    font-weight: 600;
    height: 35px;
}
.alert-danger {
    /*width: content-box;*/
    /*margin-top: 10px;*/
    background-color: #e06161;
    color: #fcfcfc;
    /*position: initial;*/
    /*padding: -1rem;*/
    margin-bottom: -1rem;
    border: 0 solid transparent;
    /*border-radius: 1.25rem;*/
    font-weight: 600;
    height: 35px;
}

.alert{
    /*margin-right: -1rem;*/
    font-weight: 400;
    font-size: medium;
    margin-top: 30px;
    height: 55px;
    /*margin-left: -1rem;*/
    /*padding: 0.3rem 1rem;*/
}

.errorlist {
   color: red;
}
.btn-light {
    background-color: #d9dcdf;
}

/*table head*/

.table thead th {
    height: 25px;
    color: #ffffff;
    font-weight: 900;
    background-color: #bcd6f8;
    font-size: 12px;
    text-align: center;
    /*border-bottom: None;*/
    /*width: 100%;*/
}
 /*table td*/
.table td {
    font-size: 12px;
    word-wrap:break-word;
    /*padding-right: 2rem;*/
    /*border-spacing: 70px;*/
    text-align: center;
    white-space: initial;
}

table tr{
    cursor: pointer;
    transition: all 0.1s ease-in-out;


}
tr.selected {
  background-color: #c7d4e5;
}

table tr:hover{
    background-color: #bddbf6;
    transform: scale(1.00);
    /*box-shadow: 2px 2px 12px rgb(67, 203, 29);*/
}
.tfoot td {
    background-color: #c7d6e3;
    color: black;

}

/*overview on Dashboard
.breadcrumb-item + .breadcrumb-item::before {
    float: right;
    padding: 0;
}

/*sidebar active*/

.sidebar {
    width: 245px;
}
.sidebar .nav-item .nav-link.active {
    color: #b66dff;
  font-family: 'Vazir', sans-serif !important;
}

.nav-link.active {
    color: #b66dff;
}

 /*image size profile*/

table th img, .table td img {
    width: 60px;
    height: 60px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item {
    color: #7e7e8a;
}

label {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 300;
    color: #5a5454;
}

/*Multiple Upload Images and Remove Button*/
/*Copied from bootstrap to handle input file multiple*/

.btn-success {
  border: 1px solid #c5dbec;
  background: #d0e5f5;
  font-weight: bold;
  color: #2e6e9e;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.thumb {
  height: 80px;
  width: 100px;
  border: 1px solid #000;
}

ul.thumb-Images li {
  width: 120px;
  float: left;
  display: inline-block;
  vertical-align: top;
  height: 120px;
}

.img-wrap {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  background-color: #d0e5f5;
  padding: 5px 2px 2px;
  color: #000;
  font-weight: bolder;
  cursor: pointer;
  opacity: 0.5;
  font-size: 23px;
  line-height: 10px;
  border-radius: 50%;
}

.img-wrap:hover .close {
  opacity: 1;
  background-color: #ff0000;
}

.FileNameCaptionStyle {
    font-size: 12px;
}

.img-fluid{
    position: relative;


    width: 200px;
  /*float: left;*/

  /*vertical-align: top;*/
  height: 200px;
}

/*Style Of Edit Uploaded Image*/

.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
    display: initial;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 1rem;
	outline: 0;
    border: 1px solid #ccc;
    margin-left: 1rem;
}
.image-checkbox input[type="checkbox"] {
	display: list-item;
}

.image-checkbox-checked {
	border-color: #4783B0;
    border: 3px solid;
    color: red;
}
.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}


/*search field on base html*/

.navbar .navbar-menu-wrapper .search-field .input-group input {
    font-size: 0.875rem;
    padding: 0.5rem;
    width: 175px;
    height: 30px;

}
.navbar .navbar-menu-wrapper .search-field .input-group .input-group-text {
    background: #b3c5e7;
    height: 30px;
    color: white;

}
.navbar .navbar-menu-wrapper .search-field .input-group i {
    font-size: 17px;
    margin-right: 0;
     color: #e8eaee;
    width: 1rem;

}
/*Date on header style*/

#demo {
  direction: rtl;
  text-align: center;
    margin: 0 2rem 0 0;
    padding: 0.5rem 0 0 0;
    color: black;
}

 /*input style*/
select{
    height: 29px;
    font-size: smaller;
}

 /*date style*/
.vjDateField{
    height: 39px;
    width: 220px;
    /*margin: 0rem auto 0rem 4rem;*/
    font-size: small;
}

.img.ui-datepicker-trigger {
    height: 24px;
    margin-right: 4rem;
}

/*--------------*/
.scrollable {
overflow-y: scroll;
    height: 100px;
}

.bg-gradient-light{
    color: #000706;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.error{
    color: red;
    font-size: small;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
}
 .button1{
     background-color: #84c56e;
     border: hidden;
     font-size: 14px;
     border-radius: 4px;
 }

.help1{
    color: #0a58ca;
    font-size: small;
    text-align: center;
    /*margin: auto;*/
    /*padding-right: 1rem;*/
    padding-top: 2.5rem;
    /*display: inline-flex;*/
    /*padding-left: 3rem;*/
}

.form-control.input1{
    height: 2.4rem;

    border-radius: 4px;
}

.errors{
    color: red;
    font-size: small;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
}

.note{
    color: red;
    font-size: 13px;

}

select.form-control {
    padding: 0.4375rem 0.75rem;
    border: 0;
    outline: 1px solid #ebedf2;
    color: #c9c8c8;
    font-size: 0.8125rem;
    border-radius: 6px;
}
input[type=text]{
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 9px 6px;
    margin-top: 0;
    color: var(--body-fg);
    background-color: var(--body-bg);
    font-size: small;
    /*width: -webkit-fill-available;*/
}
/*DatePicker*/


/*End DatePicker*/

textarea {
    resize: none;
    overflow-x: hidden;
    font-size: small;
}
div.d-flex.justify-content-between div{
    padding: 2px;
    margin: 1rem 1rem 2rem 2rem ;
    color: rgba(17, 16, 16, 0.5);
    font-size: 14px;

}

/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {*/
/*    border: 1px solid #d3d3d3;*/
/*    background: #1850c4;*/
/*    font-weight: normal;*/
/*    !* color: #ed101000; *!*/
/*    color: blanchedalmond;*/
/*}*/


@media
	  only screen
    and (max-width: 760px), (min-device-width: 768px)
    and (max-device-width: 1024px)  {

      table {
        margin-top: 106px;
      }
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
      overflow: auto;
      border-bottom: 1px solid #ccc;
    }



      tbody tr:before {
        counter-increment: my-sec-counter;
        content: "";
        background-color:#333;
        display: block;
        height: 1px;
      }


    tr:nth-child(odd) {
      background: #ccc;
    }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
      margin-right: 0%;
      display: block;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      box-sizing:border-box;
		}

		td:before {
			/* Top/left values mimic padding */
      font-weight: bold;
			width: 50%;
      float:left;
      box-sizing:border-box;
      padding-left: 5px;
		}

    .box ul.pagination {
      position: relative !important;
      bottom: auto !important;
      right: auto !important;
      display: block !important;
      width: 100%;
    }

    .box {
      text-align: center;
      position: fixed;
      width: 100%;
      background-color: #fff;
      top: 0px;
      left:0px;
      padding: 15px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
    }

    .box ul.pagination {
      display: block;
      margin: 0px;
    }

     .box .dvrecords {
      display: block;
       margin-bottom: 10px;
    }
    .pagination>li {
        display: inline-block;
    }
	}

.top-filters {
  font-size: 0px;
}

.search-field {
  text-align: right;
  margin-bottom: 5px;
}

.dd-number-of-recoeds {
  font-size: 12px;
}

.search-field,
.dd-number-of-recoeds {
  display: inline-block;
  width: 50%;
}

.box ul.pagination {
  position: absolute;
  bottom: -45px;
  right: 15px;
}

.box .dvrecords {
  padding: 5px 0;
}

.box .dvrecords .records{
  margin-right: 5px;
}

/*checkbox in indentCompltet*/

.cyberpunk-button {
  background-color: #30cfd0;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  /*cursor: pointer;*/
  /*transition: all 0.3s ease-in-out;*/
}

.cyberpunk-checkbox {
  /*appearance: none;*/
  width: 20px;
  height: 20px;
  border: 2px solid #30cfd0;
  /*border-radius: 5px;*/
  /*background-color: transparent;*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*margin-right: 10px;*/
  /*cursor: pointer;*/
}

.cyberpunk-checkbox-label {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}




/*clock head*/
.top-link {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}
/*end clock*/
@media screen and (max-width: 775px) {
    .product-res{
        width: 250px;
        height: 200px;
    }
}

/*=================================New Style for Abshar App ============================*/
.charge-text{
   max-height: 300px;
	text-align: justify;
}

#Register, #dark {
  display: none;
}
.card-charge-text{
    font-size: 13px;
}
.card-charge-title{
    font-size: 14px;
}
.circleSendNotify {
    position: relative;
    top: 8px;
  background: rgb(252, 223, 149);
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  color: #ffffff;
  height: 1.8em;
  width: 1.8em;
  display: inline-block;
  font-size: 11px;
  line-height: 1.8em;
  text-align: center;

}
.circlePayment {
    position: relative;
    top: 8px;
  background: rgb(133, 218, 99);
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  color: #ffffff;
  height: 1.8em;
  width: 1.8em;
  display: inline-block;
  font-size: 11px;
  line-height: 1.8em;
  text-align: center;

}
.chargeCircle{
      background: rgb(255, 255, 255);
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  color: rgba(1, 3, 14, 0.98);
  height: 1.8em;
  width: 1.8em;
  display: inline-block;
  font-size: 11px;
  line-height: 1.9em;
  text-align: center;
}
.chargeCircleText{
          background: rgb(12, 6, 6);
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  color: rgb(239, 237, 234);
  height: 1.8em;
  width: 1.8em;
  display: inline-block;
  font-size: 11px;
  line-height: 1.9em;
  text-align: center;
}

.chargeCircleParking{
      background: rgba(22, 83, 238, 0.98);
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  color: rgb(255, 255, 255);
  height: 1.8em;
  width: 1.8em;
  display: inline-block;
  font-size: 11px;
  line-height: 1.9em;
  text-align: center;
}

    select.form-select option {
        padding: 5px;
    }
    select.form-select option:hover {
        background-color: #f1f1f1;
    }
    .btn-outline-primary:hover,
    .btn-outline-success:hover,
    .btn-outline-warning:hover,
    .btn-outline-danger:hover {
        transform: scale(1.1);
        transition: all 0.2s ease;
    }

.counter-badge-middle {
    position: relative;
    top: -8px;
    right: -30px;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}

.header-style{
	font-family: VazirBold, sans-serif;
	font-weight: 900;
	font-size: 20px;
	color: #0f1531;
	margin: 10px;
	text-shadow: 1px 5px 6px #525050;

}

.select-fix {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    height: auto !important;
    font-size: 14px; /* تنظیم سایز دلخواه */
}


.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #b66dff;
    font-family: "Vazir", sans-serif;
}