/*order process*/

.multi-step-bar {
    overflow: hidden;
    counter-reset: step;
    width: 80%;
    margin: 15px auto 30px;
    direction: rtl;
    position: relative;
}

@media (max-width: 768px) {
    .multi-step-bar {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.multi-step-bar li {
    text-align: center;
    list-style-type: none;
    color: #363636;
    text-transform: capitalize;
    width: 16%;
    position: relative;
    font-weight: 500;
    float: right;
}

/* Circle number styling */
.multi-step-bar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 14px;
    color: #4CAF50; /* Default circle color */
    background: #e6e6e6;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    box-shadow: 0 6px 20px 0 rgba(69, 90, 100, 0.15);
    position: relative;
    z-index: 2;
}

/* Connecting line styling */
.multi-step-bar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #e6e6e6; /* Default line color */
    position: absolute;
    right: -50%;
    top: 15px;
    z-index: 1;
}

/* Remove line for the first step */
.multi-step-bar li:first-child:after {
    content: none;
}

/* Styling for completed steps */
.multi-step-bar li.completed:before {
    background: #4CAF50; /* Completed step circle color */
    color: white;
}

/* Styling for active steps */
.multi-step-bar li.active:before {
    background: green; /* Active step circle color */
    color: white;
}

/* Change the color of the connecting line for completed or active steps */
.multi-step-bar li.completed:after,
.multi-step-bar li.active:after {
    background: #4CAF50; /* Completed or active line color */
}

/* Override the connecting line color when the next step is not completed */
.multi-step-bar li.completed + li:after {
    background: #e6e6e6; /* Inactive line color */
}

/* Step Info Styling */
.step-info {
    display: none; /* Hide all text boxes by default */
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 8px 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
}

/* Show text box only for the active step */
.multi-step-bar li.active .step-info {
    display: block; /* Show the text box for active step */
}
/*=========================================*/
.circleOrangeReturn {
  background: rgba(232, 233, 239, 0.98);
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  color: #0e0e0d;
  height: 2em;
  width: 2em;
  display: inline-block;
  font-size: 11px;
   line-height: 2em;
  text-align: center;
}

/*================================*/
