
{% extends 'renter_partials/base.html' %}
{% block title %}شارژ یار |درباره ما{% endblock %}
{% block content %}

      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fluid py-4">
            <div class="row">
               <div class="col-md-12">
                  <div class="full mt-3">
                     <h4>About us | درباره ما</h4>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
    <div class="about">
   <div class="container py-5">
      <div class="row">
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="about_box">
               <figure><img src="/static/home/images/intro/pc_layout.png" width="100%"></figure>
            </div>
         </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="about_box">
               <h3 class="mb-4">چرا شارژیار رو انتخاب میکنید؟</h3>
               <p>اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام لورم ایپسوم شناخته می‌شوند. لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند.</p>
               <p> اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام لورم ایپسوم شناخته می‌شوند. لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند.</p>
            </div>
         </div> 
      </div>
   </div>
</div>
    
{#    <div class="whyschose">#}
{#         <div class="container">#}
{#            <div class="row">#}
{#               <div class="col-md-7 offset-md-3">#}
{#                  <div class="title">#}
{#                     <h2>Why <strong class="black">choose us</strong></h2>#}
{#                     <span>Fastest repair service with best price!</span>#}
{#                  </div>#}
{#               </div>#}
{#            </div>#}
{#         </div>#}
{#      </div>#}
    <div class="choose_bg">
         <div class="container">
             
            <div class="white_bg">
                          <div class="heading_container heading_center py-4" dir="rtl">
                           <h2> مزایای شارژیار</h2>
                       
                     <span>به انتخاب شما احترام میگذاریم و همواره به توسعه شارژیار فکر میکنیم.</span>
                  </div>
            <div class="row text-center">
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="/static/home/images/intro/1.png"></i>
                     <h3 class="py-3">کاربرپسند و ساده</h3>
                     <p>اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام لورم ایپسوم شناخته می‌شوند. لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند.</p>
                  </div>
               </dir>
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="/static/home/images/intro/2.png"></i>
                     <h3 class="py-3">مدیریت هوشمند شارژ </h3>
                     <p>اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام لورم ایپسوم شناخته می‌شوند. لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند.</p>
                  </div>
               </dir>
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="/static/home/images/intro/3.png"></i>
                     <h3 class="py-3">گزارش دهی مفید</h3>
                     <p>اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام لورم ایپسوم شناخته می‌شوند. لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند.</p>
                  </div>
               </dir>
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="/static/home/images/intro/4.png"></i>
                     <h3 class="py-3">مدیریت دقیق هزینه و درآمد</h3>
                     <p>اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام لورم ایپسوم شناخته می‌شوند. لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند.</p>
                  </div>
               </dir>
{#               <div class="col-md-12">#}
{#                  <a class="read-more">Read More</a>#}
{#               </div>#}
            </div>
         </div>
       </div>
      </div>
    
    <div class="service">
         <div class="container py-4">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                      <div class="heading_container heading_center py-4">
                           <h2 > مشاوره رایگان</h2>
                       
                     <span>Easy and effective way to get your device repaired.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/intro/service1.png"></i>
                     <h3 class="py-3">خدمات سریع</h3>
                     <p>طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/intro/service2.png"></i>
                     <h3 class="py-3">پرداخت ایمن</h3>
                     <p>طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/intro/service3.png"></i>
                     <h3 class="py-3">تیم حرفه ای</h3>
                     <p>طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/intro/service4.png"></i>
                     <h3 class="py-3">دقیق و موثر</h3>
                     <p>طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/intro/service5.png"></i>
                     <h3 class="py-3">ضمانت برگشت وجه</h3>
                     <p>طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service-box">
                     <i><img src="/static/home/images/intro/service6.png"></i>
                     <h3 class="py-3">مطمئن و تایید شده</h3>
                     <p>طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
  
 
{% endblock %}
     