{% extends 'renter_partials/base.html' %}
{% load static %}
{% load poll_extras %}
{% block title %}شارژیار | ارتباط با ما{% endblock %}
{% block content %}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h4>Contact us | ارتباط با ما</h4>
                  </div>
               </div>
            </div>
         </div>
      </section>

    
<section class="why_section layout_padding">

      <!-- Section Title -->
     <div class="heading_container heading_center mb-4">
                   <div class="row g-2" dir="rtl">
                        <div class="col-12">
                            <div class="heading_container heading_center">
                                <h2 >راه های ارتباط با ما</h2>
                                <h5 class="mb-2 mt-2">
                                    طرح پیشنهاد، انتقاد و ثبت شکایات
                                </h5>
                                <p>آماده شنیدن صدای شما هستیم!</p>
                            </div>
                        </div>
               </div>
    </div>

      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" dir="rtl">

        <div class="row gy-4 py-5" dir="rtl">

          <div class="col-lg-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center step-card" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3 class="mb-3">آدرس</h3>
              <p>تهران، مجتمع رزمال پلاک 98</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center step-card" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3 class="mb-3">شماره تماس</h3>
              <p >44783265 - 021 </p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center step-card" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3 class="mb-3">ایمیل</h3>
              <p>info@example.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">
          <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="300">
              <img src="/static/home/images/img/vecteezy_vibrant-classic-woman-with-headphones-taking-online-course_57572658.png" width="350" alt="">
          </div><!-- End Google Maps -->

          <div class="col-lg-6">
                 <div class="full">
                      {{ form.non_field_errors }}
                            <form method="POST" id="commentForm" novalidate dir="rtl">
                                {% csrf_token %}
                              {{ form.name }}
                                    <small class="text-danger float-right">{{ form.name.errors }}</small>
                                
                              {{ form.subject }}
                                <small class="text-danger float-right">{{ form.subject.errors }}</small>
                                {{ form.mobile }}
                                    <small class="text-danger float-right">{{ form.mobile.errors }}</small>


                              {{ form.message }}
                                <small class="text-danger float-right">{{ form.message.errors }}</small>

                         <input type="submit" value="ارسال پیام" />
                            </form>

                  </div>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section>
{% endblock %}