{% extends 'renter_partials/base.html' %}
{% load static %}
{% block title %}شارژیار | معرفی{% endblock %}
{% block content %}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fluid py-4">
            <div class="row">
               <div class="col-md-12">
                  <div class="full mt-3">
                     <h4>Introduction | معرفی شارژیار</h4>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
     <div class="container-fluid py-2">
            <div class="container pt-5">
                <div class="row g-5">
                    <div class="col-lg-6 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="/static/home/images/img/about-1.png" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="/static/home/images/img/about-2.png" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 wow fadeIn first_about" data-wow-delay=".5s">
                        <h5 class="mb-4">شارژیار!</h5>
                        <h2 class="mb-4 ">یک تجربه خوب در مدیریت ساختمان </h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زورد استفاده قرار گیرد.</p>
                        <p class="mb-4">اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام لورم ایپسوم شناخته می‌شوند. لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند.</p>
{#                        <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>#}
                    </div>
                </div>
            </div>
        </div>
    
    <section id="about" class="about section bg-light py-4">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <p class="who-we-are">نیازهای شما رو میدانیم!</p>
{#            <h3>شارژیار حرفه ای و مطمئن </h3>#}
            <p class="fst-italic">
             از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند که قالب طراحی شده بعد از اینکه متن در آن قرار میگرد چگونه خواهد بود و فونت ها و اندازه ها چگونه در نظر گرفته شده است.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</span></li>
            </ul>
{#            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>#}
          </div>

           <div class="col-lg-6 col-md-6 col-sm-12" data-wow-delay=".3s">
                        <div class="h-100 position-relative" >
                            <img src="/static/home/images/img/project-1.png" class="w-100 rounded" alt="">
                       
{#                             <div class="position-absolute w-100" style="top: 40%; left: 0;">#}
{#                                <img src="/static/home/images/img/project-1.png" class="img-fluid w-100 rounded" alt="">#}
                            </div>
                        </div>
                    </div>

        </div>
      
    </section>
    
    
    <section id="features-details" class="features-details section py-5">

      <div class="container">

        <div class="row gy-4 justify-content-between features-item">

          <div class="col-lg-6 aos-init aos-animate mb-4" data-aos="fade-up" data-aos-delay="100">
            <img src="/static/home/images/img/unit.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-5 d-flex align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3 class="mb-4">با شارژیار واحدهای ساختمونتو مدیریت کن!</h3>
              <p>
               اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام لورم ایپسوم شناخته می‌شوند. لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) متنی ساختگی و یا پر کردن فضا در یک طر شکل کلی طرح استفاده می‌کنند.
              </p>
                <p>
                    طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درستی به کار فرما نمیدهد. اگر طراح بخواهد دنبال متن های مرتبط بگردد تمرکزش از روی کار اصلی برداشته میش
{#              <a href="#" class="btn more-btn">Learn More</a>#}
            </div>
          </div>

        </div><!-- Features Item -->

        <div class="row gy-3 justify-content-between features-item ">

          <div class="col-lg-5 d-flex align-items-center order-2 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

            <div class="content">
              <h3 class="mb-3">آسوده خاطر شارژ ساختمونتو مدیریت کن!</h3>
              <p>
                  محاسبه شارژ متنوع، ارسال سیستمی و پیامکی شارژ،افزودن شارژ عمرانی، گزارش گیری آسان، پرداخت آنلاین، محاسبه جریمه دیرکرد در پرداخت و سایر خدماتی که انتظارش را دارید!
              </p>
                <div class="row g-0">
                    <div class="col-6">
               <ul class="feature-list-one">
                <li><i class="bi bi-easel flex-shrink-0"></i>  شارژ ثابت</li>
                <li><i class="bi bi-patch-check flex-shrink-0"></i>  شارژ متراژی</li>
                <li><i class="bi bi-brightness-high flex-shrink-0"></i>  شارژ نفری</li>
                <li><i class="bi bi-brightness-high flex-shrink-0"></i>   شارژ واحدی نفری</li>
                            </ul>
                    </div>
                    <div class="col-6 text-end p-0">
                        <ul class="feature-list-one">
                        <li><i class="bi bi-brightness-high flex-shrink-0"></i>   شارژ واحدی متراژی </li>
                        <li><i class="bi bi-brightness-high flex-shrink-0"></i>  شارژ نفری متراژی</li>
                        <li><i class="bi bi-brightness-high flex-shrink-0"></i>   شارژ واحدی نفری متراژی</li>
                        <li><i class="bi bi-brightness-high flex-shrink-0"></i>   شارژ ثابت و متغیر</li>
                      </ul>
                    </div>
                </div>

            </div>

          </div>

          <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate py-5" data-aos="fade-up" data-aos-delay="200">
            <img src="/static/home/images/img/charge.png" class="img-fluid" alt="">
          </div>

        </div><!-- Features Item -->

      </div>

    </section>
    
    
    
    <section id="about" class="about section bg-light py-4">

      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 align-items-center justify-content-between">

          <div class="col-xl-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <span class="about-meta">گزارش گیری شارژیار بی نظیره!</span>
{#            <h2 class="about-title">Voluptas enim suscipit temporibus</h2>#}
            <p class="about-description">تو شارژیار گزارش های مورد نیاز شما را  پیش بینی و در دسترس قرار داده ایم تا بتوانید با گزارش گیری از عملیات ثبت شده، عملکرد بهتری در مدیریت مجتمع یا ساختمانتان داشته باشیید. چنانچه گزارشی مدنظر شما هست که در شارژیار نیست میتوانید با ما مکاتبه نمایید</p>
            <div class="row feature-list-wrapper">
              <div class="col-md-6">
                <ul class="feature-list">
                  <li><i class="bi bi-check-circle-fill"></i> گزارش صندوق و بیلان ساختمان</li>
                  <li><i class="bi bi-check-circle-fill"></i> گزارش مالی اشخاص</li>
                  <li><i class="bi bi-check-circle-fill"></i> گزارش بانک ها</li>
                  <li><i class="bi bi-check-circle-fill"></i> گزارش شارژهای اعلامی</li>
                  <li><i class="bi bi-check-circle-fill"></i> گزارش واحدهای بدهکار</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="feature-list">
                  <li><i class="bi bi-check-circle-fill"></i> گزارش سوابق سکونت</li>
                  <li><i class="bi bi-check-circle-fill"></i> گزارش هزینه و درآمد</li>
                  <li><i class="bi bi-check-circle-fill"></i> گزارش اسناد دریافت و پرداخت</li>
                  <li><i class="bi bi-check-circle-fill"></i> گزارش اموال ساختمان</li>
                  <li><i class="bi bi-check-circle-fill"></i> گزارش تعمیرات و نگهدای</li>
                </ul>
              </div>
            </div>

{#            <div class="info-wrapper">#}
{#              <div class="row gy-4">#}
{#                <div class="col-lg-5">#}
{#                  <div class="profile d-flex align-items-center gap-3">#}
{#                    <img src="/static/home/images/intro/avatar-1.webp" alt="CEO Profile" class="profile-image">#}
{#                    <div>#}
{#                      <h4 class="profile-name">Mario Smith</h4>#}
{#                      <p class="profile-position">CEO &amp; Founder</p>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="col-lg-7">#}
{#                  <div class="contact-info d-flex align-items-center gap-2">#}
{#                    <i class="bi bi-telephone-fill"></i>#}
{#                    <div>#}
{#                      <p class="contact-label">Call us anytime</p>#}
{#                      <p class="contact-number">+123 456-789</p>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
          </div>

          <div class="col-xl-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="image-wrapper">
              <div class="images position-relative aos-init aos-animate" data-aos="zoom-out" data-aos-delay="400">
                <img src="/static/home/images/img/operation.png" alt="Business Meeting" class="img-fluid main-image rounded-4">
{#                <img src="/static/home/images/img/report.png" alt="Business Meeting" class="img-fluid main-image rounded-4">#}
                <img src="/static/home/images/img/report.png" alt="Team Discussion" class="img-fluid small-image rounded-4">
              </div>
{#              <div class="experience-badge floating">#}
{#                <h3>15+ <span>Years</span></h3>#}
{#                <p>Of experience in business service</p>#}
{#              </div>#}
            </div>
          </div>
        </div>

      </div>

    </section>
    
    
    <section id="features" class="features section py-5">

      <!-- Section Title -->
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>ویژگی ها</h2>
        <p>آنچه باید از ویژگی های شارژیار بدانید!</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="d-flex justify-content-center">

          <ul class="nav nav-tabs aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" role="tablist">

            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#features-tab-1" aria-selected="false" role="tab" tabindex="-1">
                <h5>مدیریت حساب بانکی</h5>
              </a>
            </li><!-- End tab nav item -->

            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2" aria-selected="false" role="tab" tabindex="-1">
                <h5>مدیریت شارژ عمرانی و هزینه های فاضلاب</h5>
              </a><!-- End tab nav item -->

            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3" aria-selected="true" role="tab">
                <h5>مدیریت تیکت و پیامک</h5>
              </a>
            </li><!-- End tab nav item -->

          </ul>

        </div>

        <div class="tab-content aos-init aos-animate mt-4" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade" id="features-tab-1" role="tabpanel">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Voluptatem dignissimos provident</h3>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/static/home/images/img/report.png" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane fade" id="features-tab-2" role="tabpanel">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Neque exercitationem debitis</h3>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/static/home/images/img/charge.png" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane fade active show" id="features-tab-3" role="tabpanel">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Voluptatibus commodi accusamu</h3>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</span></li>
                </ul>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/static/home/images/img/report.png" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

        </div>

      </div>

    </section>
    
    
    
    
    
{% endblock %}