{% extends 'middleShared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
افزودن مستاجر جدید به واحد {{ unit.unit }}
{% endblock page_title %}

{% block main_content %}
    <hr/>
<div class="container mt-3">


     {{ form.non_field_errors }}
                              <form class="row gy-2 gx-5 justify-content-md-center" action="" method="POST"
                                    enctype="multipart/form-data" novalidate>
                                  {% csrf_token %}
                                  <div class="container-fluid">
                                      
                                   <div class="row g-3 justify-content-start">
                                      <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.renter_name.label_tag }}
                                          {{ form.renter_name }}
                                          {{ form.renter_name.errors }}
                                      </div>
                                      <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.renter_mobile.label_tag }}
                                          {{ form.renter_mobile }}
                                          {{ form.renter_mobile.errors }}
                                      </div>
                                      <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.renter_national_code.label_tag }}
                                          {{ form.renter_national_code }}
                                          {{ form.renter_national_code.errors }}
                                      </div>
                                      <div class="col-6 col-lg-2 col-xl-2">
                                      {{ form.renter_people_count.label_tag }}
                                      {{ form.renter_people_count }}
                                      {{ form.renter_people_count.errors }}
                                  </div>
                                  
                                      <div class="col-6 col-lg-2 col-xl-2">
                                       {{ form.contract_number.label_tag }}
                                      {{ form.contract_number }}
                                      {{ form.contract_number.errors }}
                                      </div>
                                          <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.estate_name.label_tag }}
                                          {{ form.estate_name }}
                                          {{ form.estate_name.errors }}
                                      </div>
                                    </div>
                                    <div class="row g-3">
                                      <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.start_date.label_tag }}
                                          {{ form.start_date }}
                                          {{ form.start_date.errors }}
                                      </div>
                                        <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.end_date.label_tag }}
                                          {{ form.end_date }}
                                          {{ form.end_date.errors }}
                                      </div>
                                         <div class="form-group col-12 col-lg-8 col-xl-8">
                                            {{ form.renter_details.label_tag }}
                                            {{ form.renter_details }}
                                            {{ form.renter_details.errors }}
                                          </div>
                                      
                                    </div>
                                            <div class="row g-3">
                                    <div class="col-6 col-lg-3 col-xl-3">
                                      {{ form.first_charge_renter.label_tag }}
                                      {{ form.first_charge_renter }}
                                      {{ form.first_charge_renter.errors }}
                                  </div>
                                     <div class="col-6 col-lg-4 col-xl-4">
                                          {{ form.renter_bank.label_tag }}
                                          {{ form.renter_bank }}
                                          {{ form.renter_bank.errors }}
                                      </div>
                                       <div class="col-6 col-lg-4 col-xl-2">
                                          {{ form.renter_payment_date.label_tag }}
                                          {{ form.renter_payment_date }}
                                          {{ form.renter_payment_date.errors }}
                                      </div>
                                         <div class="col-6 col-lg-4 col-xl-3">
                                          {{ form.renter_transaction_no.label_tag }}
                                          {{ form.renter_transaction_no }}
                                          {{ form.renter_transaction_no.errors }}
                                      </div>
                                        </div>
                                 
                                       <hr class="mt-2" style="color: #0f1531">
                                      <div class="row g-3 justify-content-start">
                                             <p class="mt-2 mb-0" style="font-weight: 900">اطلاعات کاربری</p>
{#                                           <div class="col-6 col-lg-3 col-xl-3 ">#}
{#                                          {{ form.mobile.label_tag }}#}
{#                                          {{ form.mobile }}#}
{#                                          {{ form.mobile.errors }}#}
{#                                          </div>#}
                                              <div class="col-6 col-lg-3 col-xl-3">
                                          {{ form.password.label_tag }}
                                          {{ form.password }}
                                          {{ form.password.errors }}
                                           </div>
                                              <div class="col-6 col-lg-3 col-xl-3">
                                          {{ form.confirm_password.label_tag }}
                                          {{ form.confirm_password }}
                                          {{ form.confirm_password.errors }}
                                           </div>
                                      </div>
                                 
                                    <div class="d-flex justify-content-end mt-4">
                                          <button type="submit" class="btn btn-gradient-success btn-md">ثبت اطلاعات</button>
                                         </div>
                                  </div>

                              </form>

</div>
{% endblock %}


