{% extends 'middleShared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
افزودن واحد
{% endblock page_title %}

{% block main_content %}
    <hr/>
<div class="container mt-3">

     {{ form.non_field_errors }}
                              <form class="row gy-2 gx-5 justify-content-md-center" action="" method="POST"
                                    enctype="multipart/form-data" novalidate>
                                  {% csrf_token %}
                                  <div class="container-fluid">
                                    <div class="row g-3 justify-content-start">
                                        <p class="mb-4 mt-4 mb-0" style="font-weight: 900">اطلاعات واحد مسکونی</p>
                                      <div class="col-4 col-lg-2 col-xl-2">
                                          {{ form.unit.label_tag }}
                                          {{ form.unit }}
                                          {{ form.unit.errors }}
                                      </div>
                                      <div class="col-4 col-lg-2 col-xl-2">
                                          {{ form.floor_number.label_tag }}
                                          {{ form.floor_number }}
                                          {{ form.floor_number.errors }}
                                      </div>
                                      <div class="col-4 col-lg-2 col-xl-2">
                                          {{ form.area.label_tag }}
                                          {{ form.area }}
                                          {{ form.area.errors }}
                                      </div>
                                      <div class="col-4 col-lg-2 col-xl-2">
                                          {{ form.bedrooms_count.label_tag }}
                                          {{ form.bedrooms_count }}
                                          {{ form.bedrooms_count.errors }}
                                      </div>
                                          <div class="col-4 col-lg-2 col-xl-2">
                                          {{ form.parking_count.label_tag }}
                                          {{ form.parking_count }}
                                          {{ form.parking_count.errors }}
                                      </div>
                                       <div class="col-4 col-lg-2 col-xl-2">
                                          {{ form.status_residence.label_tag }}
                                          {{ form.status_residence }}
                                          {{ form.status_residence.errors }}
                                      </div>

                                    </div>
                                         <div class="row g-3">
                                      <div class="col-4 col-lg-2 col-xl-2">
                                          {{ form.parking_place.label_tag }}
                                          {{ form.parking_place }}
                                          {{ form.parking_place.errors }}
                                      </div>
                                      <div class="col-4 col-lg-2 col-xl-2">
                                          {{ form.parking_number.label_tag }}
                                          {{ form.parking_number }}
                                          {{ form.parking_number.errors }}
                                      </div>
                                         <div class="col-4 col-lg-2 col-xl-2">
                                          {{ form.extra_parking_first.label_tag }}
                                          {{ form.extra_parking_first }}
                                          {{ form.extra_parking_first.errors }}
                                      </div>
                                        <div class="col-4 col-lg-2 col-xl-2">
                                          {{ form.extra_parking_second.label_tag }}
                                          {{ form.extra_parking_second }}
                                          {{ form.extra_parking_second.errors }}
                                      </div>
                                       <div class="col-4 col-lg-2 col-xl-2">
                                           {{ form.unit_phone.label_tag }}
                                          {{ form.unit_phone }}
                                          {{ form.unit_phone.errors }}
                                      </div>
                                         </div>
                                 <div class="row">
                                      <div class="form-group col-12">
                                        {{ form.unit_details.label_tag }}
                                        {{ form.unit_details }}
                                        {{ form.unit_details.errors }}
                                      </div>
                                    </div>
                                       <hr class="mt-2" style="color: #0f1531">
                                      <div class="row g-3 justify-content-start">
                                             <p class="mt-2 mb-0" style="font-weight: 900">اطلاعات مالک</p>
                                           <div class="col-6 col-lg-2 col-xl-2 ">
                                          {{ form.owner_name.label_tag }}
                                          {{ form.owner_name }}
                                          {{ form.owner_name.errors }}
                                          </div>
                                              <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.owner_mobile.label_tag }}
                                          {{ form.owner_mobile }}
                                          {{ form.owner_mobile.errors }}
                                           </div>
                                              <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.owner_national_code.label_tag }}
                                          {{ form.owner_national_code }}
                                          {{ form.owner_national_code.errors }}
                                           </div>
                                              <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.owner_people_count.label_tag }}
                                          {{ form.owner_people_count }}
                                          {{ form.owner_people_count.errors }}
                                           </div>
                                              <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.purchase_date.label_tag }}
                                          {{ form.purchase_date }}
                                          {{ form.purchase_date.errors }}
                                           </div>
                                           <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.is_active.label_tag }}
                                          {{ form.is_active }}
                                          {{ form.is_active.errors }}
                                           </div>
                                      </div>
                                     <div class="row g-1">
                                      <div class="form-group col-12">
                                        {{ form.owner_details.label_tag }}
                                        {{ form.owner_details }}
                                        {{ form.owner_details.errors }}
                                      </div>
                                    </div>
                                          <div class="row g-1">
                                         <div class="col-12 col-lg-3 col-xl-3">
                                          {{ form.first_charge_owner.label_tag }}
                                          {{ form.first_charge_owner }}
                                          {{ form.first_charge_owner.errors }}
                                      </div>
                                      <div class=" col-12 col-lg-4 col-xl-4">
                                        {{ form.owner_bank.label_tag }}
                                        {{ form.owner_bank }}
                                        {{ form.owner_bank.errors }}
                                      </div>
                                       <div class=" col-12 col-lg-2 col-xl-2">
                                        {{ form.owner_payment_date.label_tag }}
                                        {{ form.owner_payment_date }}
                                        {{ form.owner_payment_date.errors }}
                                      </div>
                                      <div class=" col-12 col-lg-2 col-xl-2">
                                        {{ form.owner_transaction_no.label_tag }}
                                        {{ form.owner_transaction_no }}
                                        {{ form.owner_transaction_no.errors }}
                                      </div>
                                    
                                    </div>
                             <hr class="mt-2" style="color: #0f1531">
                                    <div class="row">
                                       <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.is_renter.label_tag }}
                                          {{ form.is_renter }}
                                          {{ form.is_renter.errors }}
                                           </div>
                                  </div>
                                  <div  id="renter_div">
                                      <div class="row justify-content-start">
                                        <p class="mb-4 mt-4 mb-0" style="font-weight: 900">اطلاعات مستاجر</p>
                                      <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.renter_name.label_tag }}
                                          {{ form.renter_name }}
                                          {{ form.renter_name.errors }}
                                      </div>
                                      <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.renter_mobile.label_tag }}
                                          {{ form.renter_mobile }}
                                          {{ form.renter_mobile.errors }}
                                      </div>
                                      <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.renter_national_code.label_tag }}
                                          {{ form.renter_national_code }}
                                          {{ form.renter_national_code.errors }}
                                      </div>
                                       <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.renter_people_count.label_tag }}
                                          {{ form.renter_people_count }}
                                          {{ form.renter_people_count.errors }}
                                      </div>
                                      <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.estate_name.label_tag }}
                                          {{ form.estate_name }}
                                          {{ form.estate_name.errors }}
                                      </div>
                                       <div class="col-6 col-lg-2 col-xl-2">
                                           {{ form.contract_number.label_tag }}
                                          {{ form.contract_number }}
                                          {{ form.contract_number.errors }}
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.start_date.label_tag }}
                                          {{ form.start_date }}
                                          {{ form.start_date.errors }}
                                      </div>
                                        <div class="col-6 col-lg-2 col-xl-2">
                                          {{ form.end_date.label_tag }}
                                          {{ form.end_date }}
                                          {{ form.end_date.errors }}
                                      </div>
                                   
                                           <div class="col-12 col-lg-8 col-xl-8">
                                          {{ form.renter_details.label_tag }}
                                          {{ form.renter_details }}
                                          {{ form.renter_details.errors }}
                                      </div>
                                    </div>
                                         <div class="row g-3">
                                    <div class="col-6 col-lg-3 col-xl-3">
                                      {{ form.first_charge_renter.label_tag }}
                                      {{ form.first_charge_renter }}
                                      {{ form.first_charge_renter.errors }}
                                  </div>
                                     <div class="col-6 col-lg-4 col-xl-4">
                                          {{ form.renter_bank.label_tag }}
                                          {{ form.renter_bank }}
                                          {{ form.renter_bank.errors }}
                                      </div>
                                       <div class="col-6 col-lg-4 col-xl-2">
                                          {{ form.renter_payment_date.label_tag }}
                                          {{ form.renter_payment_date }}
                                          {{ form.renter_payment_date.errors }}
                                      </div>
                                         <div class="col-6 col-lg-4 col-xl-3">
                                          {{ form.renter_transaction_no.label_tag }}
                                          {{ form.renter_transaction_no }}
                                          {{ form.renter_transaction_no.errors }}
                                      </div>
                                        </div>
                                  </div>
                                        <hr class="mt-2" style="color: #0f1531">
                                <div class="row g-3 justify-content-start">
    <p class="mt-2 mb-0" style="font-weight: 900">اطلاعات کاربری</p>

    {# اگر مستاجر فعال باشد، اطلاعات مربوط به مستاجر است، در غیر این صورت مالک #}

    <div class="col-6 col-lg-3 col-xl-3">
        <label for="id_password">
            {{ form.password.label }}
            {% if is_renter %} (مستاجر) {% else %} (مالک) {% endif %}
        </label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <div class="col-6 col-lg-3 col-xl-3">
        <label for="id_confirm_password">
            {{ form.confirm_password.label }}
            {% if is_renter %} (مستاجر) {% else %} (مالک) {% endif %}
        </label>
        {{ form.confirm_password }}
        {{ form.confirm_password.errors }}
    </div>
</div>

                                    <div class="d-flex justify-content-end mt-4">
                                          <button type="submit" class="btn btn-gradient-success btn-md">ثبت اطلاعات</button>
                                         </div>
                                  </div>

                              </form>

</div>
    
{% endblock %}

