{% extends 'middleShared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
     اطلاعات واحد شماره {{ unit.unit }}
{% endblock page_title %}

{% block main_content %}
      <div class="row mb-3">
        <div class="col text-start"><a class="btn btn-gradient-info" href="{% url 'middle_manage_unit' %}">بازگشت </a>
       </div>
     </div>
    <hr/>
   
    <div class="card shadow-lg">
    <div class="card-body m-0">
      <div class="row text-end">
          <div class="col-6 col-lg-3 col-xl-3">
            <p class="renterInfoModal"><i class="fas fa-home px-1"></i>طبقه:<strong class="me-2">{{ unit.floor_number }}</strong></p>
          </div>
           <div class="col-6 col-lg-3 col-xl-3">
           <p class="renterInfoModal">متراژ:<strong class="me-2">{{ unit.area }}متر</strong></p>

          </div>
         <div class="col-6 col-lg-3 col-xl-3">
          <p class="renterInfoModal"> تعداد خواب:<strong class="me-2">{{ unit.bedrooms_count }}</strong></p>
          </div>
        <div class="col-6 col-lg-3 col-xl-3">
                  <p class="renterInfoModal">تلفن واحد<strong class="me-2">{{ unit.unit_phone }}</strong></p>
           </div>

      </div>
      <div class="row">
       <div class="col-6 col-lg-3 col-xl-3">
            <p class="renterInfoModal">تعداد پارکینگ:<strong class="me-2">{{ unit.parking_count }}</strong></p>
        </div>
      <div class="col-6 col-lg-3 col-xl-3">
             <p class="renterInfoModal">موقعیت پارکینگ:<strong class="me-2">{{ unit.parking_place }}</strong></p>
        </div>
         <div class="col-6 col-lg-3 col-xl-3">
             <p class="renterInfoModal">شماره پارکینگ:<strong class="me-2">{{ unit.parking_number }}</strong></p>
        </div>
         <div class="col-6 col-lg-3 col-xl-3">
              <p class="renterInfoModal">وضعیت سکونت:<strong class="me-2">{{ unit.status_residence }}</strong></p>
        </div>
            <div class="col-6 col-lg-3 col-xl-3">
             <p class="renterInfoModal"> پارکینگ اضافه اول:<strong class="me-2">{{ unit.extra_parking_first }}</strong></p>
        </div>
         <div class="col-6 col-lg-3 col-xl-3">
              <p class="renterInfoModal"> پارکینگ اضافه دوم:<strong class="me-2">{{ unit.extra_parking_second }}</strong></p>
        </div>
    </div>
      <div class="row">
       <div class="col">
                <p> توضیحات:<strong class="me-2 text-danger">{{ unit.unit_details }}</strong></p>
           </div>
    </div>
       <hr>
      <div class="row">
         <div class="col-6 col-lg-3 col-xl-3">
             <p class="renterInfoModal"><i class="fas fa-user-tie px-1"></i>نام مالک:<strong class="me-2">{{ unit.owner_name }}</strong></p>
        </div>
      <div class="col-6 col-lg-3 col-xl-3 p-0">
               <p class="renterInfoModal">شماره همراه:<strong class="me-2">{{ unit.owner_mobile }}</strong></p>
        </div>
         <div class="col-6 col-lg-3 col-xl-3">
               <p class="renterInfoModal">کدملی مالک:<strong class="me-2">{{ unit.owner_national_code }}</strong></p>
        </div>
         <div class="col-6 col-lg-3 col-xl-3 p-0">
               <p class="renterInfoModal"  style="font-size: 13px">تاریخ خرید:<strong class="me-2 t">{{ unit.purchase_date|show_jalali_date_only }}</strong></p>
        </div>
      
    </div>
      <div class="row">
           <div class="col-6 col-lg-3 col-xl-3">
               <p class="renterInfoModal">تعداد نفرات:<strong class="me-2">{{ unit.owner_people_count }}</strong></p>
            </div>
{#             <div class="col-6 col-lg-3 col-xl-3 p-0">#}
{#               <p class="renterInfoModal bg-warning">نام کاربری:<strong class="me-2">{{ unit.user.username }}</strong></p>#}
{#            </div>#}
            <div class="col-6 col-lg-3 col-xl-3">
               <p class="renterInfoModal">شارژ اولیه:<strong class="me-2">
                   {% if unit.first_charge_owner %}
                   	  {{ unit.first_charge_owner|three_digit_currency }} تومان
                       {% else %}
                       ---
                   {% endif %} 
                 
               </strong></p>
            </div>
           <div class="col-6 col-lg-6 col-xl-6">
               <p class="renterInfoModal">توضیحات:<strong class="me-2">
                    {% if unit.owner_details %}
                   {{ unit.owner_details }}
                        {% else %}
                       ثبت نشده است
                   {% endif %} 
               </strong></p>
            </div>
          <h5 class="text-danger mt-3">توجه: نام کاربری، شماره موبایل شخص ساکن در ساختمان(مالک/مستاجر) میباشد.</h5>
        </div>
    </div>
    </div>
      <hr>
    <br/>
    <div class="col-12 col-md-4 col-xl-5">
            <input
                type="text"
                id="searchInput"
                placeholder="جستجوی سریع در جدول..."
                onkeyup="searchTableUnit()"
                class="form-control">
        </div>
        <div class="table-responsive mt-3">
                <table class="table table-bordered" id="unitTable">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>نام مستاجر</th>
                            <th>موبایل مستاجر</th>
                            <th>کد ملی</th>
                            <th>تعداد نفرات مستاجر</th>
                            <th> شارژ اولیه</th>
                            <th> شماره قرارداد</th>
                            <th> تاریخ شروع اجاره</th>
                            <th> تاریخ پایان اجاره</th>
                            <th> نام اجاره دهنده</th>
                            <th>فعال/غیرفعال</th>
                        </tr>
                    </thead>
            
               <tbody class="text-center">
    {% if renters %}
        {% for renter in renters %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ renter.renter_name|default:"---" }}</td>
                <td>{{ renter.renter_mobile|default:"---" }}</td>
                <td>{{ renter.renter_national_code|default:"---" }}</td>
                <td>{{ renter.renter_people_count|default:"---" }}</td>
                <td>{{ renter.first_charge_renter|three_digit_currency}}</td>
                <td>{{ renter.contract_number|default:"---" }}</td>
                <td>{{ renter.start_date|show_jalali }}</td>
                <td>{{ renter.start_date|show_jalali }}</td>
                <td>{{ renter.estate_name}}</td>
                <td>
                    {% if renter.renter_is_active %}
                        <button class="btn btn-primary bg-success p-1">فعال</button>
                    {% else %}
                        <button class="btn btn-danger p-1">غیرفعال</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="11">اطلاعات مستاجر ثبت نشده است!</td>
        </tr>
    {% endif %}
</tbody>

                   
                </table>


<!-- Pagination -->
      <div class="col-12">
        <div class="pagination d-flex justify-content-center mt-5">
            {% if page_obj.has_previous %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_obj.previous_page_number }}" class="rounded mx-1">قبلی</a>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_number }}"
                   class="rounded mx-1 {% if page_number == page_obj.number %}active{% endif %}">
                    {{ page_number }}
                </a>
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_obj.next_page_number }}" class="rounded mx-1">بعدی</a>
            {% endif %}
        </div>
    </div>
            </div>

{% endblock %}








