{% extends 'shared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
 ثبت درگاه پرداخت برای ساختمان {{ house.name }}
{% endblock %}

{% block main_content %}

<div class="container-fluid mt-4">

    <div class="row justify-content-center py-2">

        <div class="col-lg-12">

            <div class="card shadow border-0 rounded-4">
            
                <div class="card-body">
             

<form method="post">
    {% csrf_token %}
   <div class="row g-2">
                  <div class="col">
                      {{ form.gateway_type.label_tag }}
                      {{ form.gateway_type }}
                      {{ form.gateway_type.errors }}
                  </div>
           <div class="col-12">
                      {{ form.merchant_id.label_tag }}
                      {{ form.merchant_id }}
                      {{ form.merchant_id.errors }}
                  </div>
              </div>
       <div class="row g-2 mt-2">
                  <div class="col-12">
                      {{ form.api_key.label_tag }}
                      {{ form.api_key }}
                      {{ form.api_key.errors }}
                  </div>
           <div class="col">
                      {{ form.is_active.label_tag }}
                      {{ form.is_active }}
                      {{ form.is_active.errors }}
                  </div>
             <div class="col">
                      {{ form.is_sandbox.label_tag }}
                      {{ form.is_sandbox }}
                      {{ form.is_sandbox.errors }}
                  </div>
              </div>

    <button type="submit" class="btn btn-gradient-success mt-2">
        ذخیره درگاه پرداخت
    </button>
</form>

           

                </div>

            </div>
            <div class="row">
                      <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                         <th>نام درگاه</th>
                                        <th> آی دی</th>
                                        <th>کد Api</th>
                                        <th>فعال/غیرفعال</th>
                                        <th>تست/غیر تست</th>
                                        <th>تاریخ ایجاد</th>
                                        <th>دستورات</th>
                                    </tr>
                                </thead>
                            {% if gateways %}
                           {% for house in gateways %}
                                    <tbody class="text-center">
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                           <td>{{house.gateway_type }}</td>
                                           <td>{{house.merchant_id }}</td>
                                           <td>{{house.api_key }}</td>
                                           <td>{{house.is_active }}</td>
                                           <td>{{house.is_sandbox }}</td>
                                           <td>{{house.created_at|show_jalali }}</td>
                                   

                                               <td>
                                        
                                                            <a href="{% url 'update_house_gateway' house.id %}"
                                           class="btn btn-gradient-info p-1">
                                    <i class="fas fa-pencil-alt"></i>
                                        
                                        </a>

                  <a href="{% url 'delete_house_gateway' house.id %}" class="btn btn-gradient-danger p-1"
                                        onclick="return confirmDeleteWithSweetAlert(event)">
                                              <i class="mdi mdi-delete" aria-hidden="true"></i>
                                            </a>                   

                                        </td>
                                        </tr>

                                    {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="8" class="text-center">هیچ رکوردی برای نمایش وجود ندارد.</td>
                                        </tr>
                                 <tbody>
                                {% endif %}
                            </table>
               </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}