{% extends 'shared/base_template.html' %}
{% load static %}
{% load poll_extras %}
{% load jalali_tags %}

{% block page_title %}
مدیریت مدیران ساختمان
{% endblock page_title %}

{% block main_content %}
    <hr/>
<div class="container mt-3">
 <div class="col-12 mb-2">
                <button type="button" class="btn btn-primary px-1 py-2" data-bs-toggle="modal" data-bs-target="#exampleModalLong3">
                        <img src="/static/admin_panel/icone8/icons8-plus.gif" class="mx-2" width="20" alt="">
                    افزودن مدیر ساختمان
                </button>
                 </div>
               <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                        <th> نام </th>
                                        <th>شماره همراه</th>
                                        <th>نام کاربری</th>
                                        <th>فعال/غیرفعال </th>
                                        <th>دستورات</th>
                                    </tr>
                                </thead>
                            {% if middleAdmins %}
                           {% for middle in middleAdmins %}
                                    <tbody class="text-center">
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{middle.full_name }}</td>
                                            <td>{{middle.mobile }}</td>
                                            <td>{{middle.username }}</td>
                                              <td>
                                               {% if middle.is_active == True %}
                                                <button class="btn btn-primary bg-gradient-success p-1">فعال</button>
                                                   {% else %}
                                                   <button class="btn btn-gradient-danger p-1">غیر فعال</button>

                                               {% endif %}
                                            </td>

                                               <td>
                                                      <a
                                           class="btn btn-gradient-info p-1 edit-middle-btn"
                                           data-id="{{ middle.id }}"
                                           data-full_name="{{ middle.full_name }}"
                                           data-mobile="{{ middle.mobile}}"
                                           data-username="{{ middle.username }}"
                                           data-password="{{ middle.password }}"
                                           data-confirm_password="{{ middle.confirm_password }}"
                                           data-bs-toggle="modal"
                                           data-bs-target="#exampleModalLong3">
                                           <i class="mdi mdi-lead-pencil" aria-hidden="true"></i>
                                        </a>
                                                          <a href="" class="btn btn-gradient-danger p-1"
                                                       onclick="return confirm('آیا نسبت به حذف این آیتم اطمینان دارید؟')">
                                                              <i class="mdi mdi-delete" aria-hidden="true"></i>
                                                            </a>

                                        </td>
                                        </tr>
                                    {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="9" class="text-center">هیچ پیامی برای نمایش وجود ندارد.</td>
                                        </tr>
                                 <tbody>
                                {% endif %}
                            </table>
               </div>

    <hr>


</div>
    
        <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="exampleModalLongTitle3">
        <h5 class="modal-title">افزودن مدیر ساختمان جدید</h5>
      </div>
         <hr>
      <div class="modal-body" >
         {{ form.non_field_errors }}
          <form id="middleForm" action="" method="POST"
                enctype="multipart/form-data" novalidate>
              {% csrf_token %}
                 <div class="row g-2">
                  <div class="col-6">
                      {{ form.full_name.label_tag }}
                      {{ form.full_name }}
                      {{ form.full_name.errors }}
                  </div>
                      <div class="col-6">
                       {{ form.mobile.label_tag }}
                      {{ form.mobile }}
                      {{ form.mobile.errors }}
                  </div>
                     </div>
                  <div class="row g-2">
                      <div class="col-6">
                       {{ form.username.label_tag }}
                      {{ form.username }}
                      {{ form.username.errors }}
                  </div>
                     </div>
              
                  <div class="row g-2">
                  <div class="col-6">
                      {{ form.password.label_tag }}
                      {{ form.password }}
                      {{ form.password.errors }}
                  </div>
                    <div class="col-6">
                      {{ form.confirm_password.label_tag }}
                      {{ form.confirm_password }}
                      {{ form.confirm_password.errors }}
                  </div>
                     </div>
          
                 
              
              
                   <hr class="mt-2" style="color: #0f1531">
                    <div class="d-flex justify-content-between">
                        <button type="submit" name="submit_bank" id="account_holder_name" class="btn btn-gradient-success px-4 py-2">ثبت </button>
                           <button type="button" class="btn btn-dark p-3" data-bs-dismiss="modal">بستن</button>
                     </div>
        

          </form>
      </div>

    </div>
  </div>
</div>

    
    
{% endblock %}


