{% extends 'shared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
ثبت پیامک 
{% endblock page_title %}

{% block main_content %}
<div class="container mt-3">

    <form id="smsForm" action="" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-lg-8">
                {{ form.subject.label_tag }}
                {{ form.subject }}
                {{ form.subject.errors }}
            </div>
            <div class="col-12 col-lg-4 py-2">
                {{ form.is_active.label_tag }}
                {{ form.is_active }}
                {{ form.is_active.errors }}
            </div>
         <div class="col-12 py-2">
                {{ form.message.label_tag }}
                {{ form.message }}
                {{ form.message.errors }}
            </div>
            <div class="col-12">
{#                <textarea#}
{#                    id="sms_message"#}
{#                    name="message"#}
{#                    class="form-control"#}
{#                    rows="4"#}
{#                    placeholder="متن پیامک را وارد کنید..."#}
{#                ></textarea>#}
                
            <div class="mt-2 text-muted small" id="smsInfo">
                 1/ <span class="remaining">70</span>
            </div>
            </div>


                  {% if form.instance.id %}
        	<div class=" col-12 pt-4 text-start">
                 <button type="submit" class="btn btn-gradient-success">ذخیره پیامک</button>
              </div>
             {% else %}
             <div class="col-12  pt-4 text-start">
                 <button type="submit" class="btn btn-gradient-success">ثبت پیامک</button>
              </div>
        {% endif %}

        </div>


    </form>

    <div class="container p-0 mt-4">
        <div class="row mt-2">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>عنوان </th>
                            <th>متن پیامک </th>
                            <th>تاریخ ایجاد</th>
                            <th>فعال/غیرفعال</th>
                            <th>وضعیت</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                    {% if all_sms %}
                        {% for sms in all_sms %}
                        <tbody class="text-center">
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ sms.subject }}</td>
                                <td class="col-4">{{ sms.message }}</td>

                                <td>{{ sms.created_at|show_jalali}}</td>
                                  <td class="p-0">
                                   {% if sms.is_active == True %}
                                    <button class="btn btn-primary bg-info p-2">فعال</button>
                                       {% else %}
                                       <button class="btn btn-danger p-2">غیر فعال</button>
                                   {% endif %}
                                </td>
                                       <td class="p-0 m-0">
                                   {% if sms.send_notification == False %}
                                    <button class="btn btn-warning p-2">در انتظار ارسال </button>
                                   {% endif %}
                                </td>
                            
                            
                                      <td class="col-1 p-0">
                                   <a href="{% url 'admin_edit_sms' sms.id %}" class="btn btn-primary p-1">
                              <i class="mdi mdi-lead-pencil" aria-hidden="true"></i></a>
                                     <a href="{% url 'admin_delete_sms' sms.id %}" class="btn btn-gradient-danger p-1"
                                        onclick="return confirmDeleteWithSweetAlert(event)">
                                              <i class="mdi mdi-delete" aria-hidden="true"></i>
                                            </a>
                             <a href="{% url 'admin_show_send_sms_form' sms.id %}" class="btn btn-gradient-success p-1"
                                   data-bs-toggle="tooltip" title="ارسال پیامک">
                                   <i class="fas fa-sms"></i>
                                </a>

                            </td>
                     
                            </tr>
                        </tbody>
                        {% endfor %}
                    {% else %}
                        <tbody>
                            <tr>
                                <td colspan="11" class="text-center">هیچ پیامکی ثبت نشده است.</td>
                            </tr>
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
<script>

</script>

{% endblock %}





