{% extends 'shared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
 اشتراک های کاربران 
{% endblock page_title %}

{% block main_content %}
<div class="container mt-3">
    <div class="container p-3">
         <div class="row mb-2 mt-4">
          <div class="col-12 col-md-2 col-xl-2">
         	<button type="button" class="btn btn-primary px-1 py-2" data-bs-toggle="modal" data-bs-target="#exampleModalLong3">
                        <img src="/static/admin_panel/icone8/icons8-plus.gif" class="mx-2" width="15" alt="">
                    ثبت اشتراک
                </button>
          </div>
        <!-- بخش جستجو -->
        <div class="col-12 col-md-8 col-xl-8 align-self-center">
            <form method="get" action="" class="d-flex gap-2 align-items-center">
                <input type="text"
                       class="p-2 w-50 w-md-75"
                       name="q"
                       id="searchInput"
                       autocomplete="off"
                       value="{{ query }}"
                       placeholder="جستجوی ..."
                       dir="rtl"
                       oninput="if(this.value === '') this.form.submit();">
                <button type="submit" class="btn btn-info px-3 py-2">جستجو</button>
            </form>
        </div>

        <!-- بخش تعداد نمایش → فقط دسکتاپ -->
        <div class="col-12 col-md-2 col-xl-2 p-0 d-none d-md-block">
            <div class="d-flex align-items-center gap-1">
                <label for="cardsPerPage" class="form-label mb-0">تعداد نمایش:</label>
           <select id="cardsPerPage" 
        class="form-select select-fix"
        style="width: auto;"
        onchange="window.location.href='?q={{ query }}&paginate=' + this.value;">
    <option value="20" {% if request.GET.paginate|default:'20' == '20' %}selected{% endif %}>20</option>
    <option value="50" {% if request.GET.paginate == '50' %}selected{% endif %}>50</option>
    <option value="100" {% if request.GET.paginate == '100' %}selected{% endif %}>100</option>
    <option value="1000" {% if request.GET.paginate == '1000' %}selected{% endif %}>همه</option>
</select>

            </div>
        </div>
    </div>
       <div class="container p-0 mt-4">
        <div class="row mt-2">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>ساختمان</th>
                            <th>نام مدیر</th>
                            <th>شماره همراه</th>
                            <th>نوع اشتراک</th>
                            <th>تعداد واحد </th>
                            <th>مبلغ اشتراک </th>
                            <th>تاریخ شروع </th>
                            <th>تاریخ پایان</th>
                            <th>تاریخ پرداخت</th>
                            <th>کد پیگیری</th>
                            <th>آخرین وضعیت</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                    {% if subscriptions %}
                        {% for sub in subscriptions %}
                        <tbody class="text-center">
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{% if sub.house.name %}
                                	{{ sub.house.name }}
                                           {% else %}
                                    ---
                                {% endif %} 
                                </td>
                                <td>{{ sub.user.full_name }}</td>
                                <td>{{ sub.user.mobile }}</td>
                                <td>
                                    {% if sub.plan.duration %}
                                    	    {{sub.plan.duration }}ماهه
                                        {% else %}
                                        <button class="badge badge-info">اشتراک رایگان</button>
                                    {% endif %} 
                                
                                </td>
                                <td>{{ sub.units_count }}</td>
                                <td>{% if sub.total_amount %}
                                    {{ sub.total_amount|three_digit_currency }}
                                         {% else %}
                                    ---
                                {% endif %} 
                                </td>
                                <td>{{ sub.start_date|show_jalali }}</td>
                                <td>{{ sub.end_date|show_jalali }}</td>
                                <td>{% if sub.payment_date|show_jalali %}
                            
                                    {{ sub.payment_date|show_jalali }}
                                       {% else %}
                                    ---
                                {% endif %} 
                                </td>
                                <td>{% if sub.transaction_id %}
                                	      {{ sub.transaction_id }}
                                    {% else %}
                                    ---
                                {% endif %} 
                              
                                </td>
                                <td>
                                    {% if sub.status == "active" %}
                                        <span class="badge badge-success">فعال</span>
                                    {% elif sub.status == "cancelled" %}
                                        <span class="badge badge-danger">لغو شده</span>
                                    {% elif sub.status == "expired" %}
                                        <span class="badge badge-secondary">منقضی شده</span>
                                    {% endif %}
                                </td>
                              

                                


                                  <td>
{#                                      {% if sub.status == "expired" or sub.status == "cancelled" %}#}
{#                                      	  <a href="{% url 'admin_create_subscription' user.id %}" class="btn btn-gradient-primary p-2">#}
{#                                         ثبت #}
{#                                            </a>#}
{#                                      {% endif %} #}
                                  	  <a href="{% url 'admin_edit_subscription' sub.id %}" class="btn btn-gradient-primary p-2">
                                         ویرایش 
                                            </a>
{#                                     <a href="{% url 'subscription_change' sub.id %}" class="btn btn-gradient-danger p-2"#}
{#                                        onclick="return confirmApprovedWithSweetAlert(event)"> لغو #}
{#                                            </a>#}
                              
                         

                            </td>

                            </tr>
                        </tbody>
                        {% endfor %}
                    {% else %}
                        <tbody>
                            <tr>
                                <td colspan="13" class="text-center">هیچ رکوردی ثبت نشده است.</td>
                            </tr>
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    </div>

   <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="exampleModalLongTitle3">
        <h5 class="modal-title">ثبت اشتراک جدید</h5>
      </div>
         <hr>
      <div class="modal-body" >
         {{ form.non_field_errors }}
          <form id="bankForm" action="" method="POST"
                enctype="multipart/form-data" novalidate>
              {% csrf_token %}
    <div class="row g-1">
          <div class="col-6">
            {{ form.house.label_tag }}
            {{ form.house }}
            {{ form.house.errors }}
        </div>
        <div class="col-6">
            {{ form.plan.label_tag }}
            {{ form.plan }}
            {{ form.plan.errors }}
        </div>
        <div class="col-6">
            {{ form.start_date.label_tag }}
            {{ form.start_date }}
            {{ form.start_date.errors }}
        </div>
        <div class="col-6">
            {{ form.end_date.label_tag }}
            {{ form.end_date }}
            {{ form.end_date.errors }}
        </div>
    </div>
              <div class="row g-1">
                    <div class="col-4">
            {{ form.units_count.label_tag }}
            {{ form.units_count }}
            {{ form.units_count.errors }}
        </div>
        <div class="col-4">
            {{ form.total_amount.label_tag }}
            {{ form.total_amount }}
            {{ form.total_amount.errors }}
        </div>
      
        <div class="col-4">
            {{ form.status.label_tag }}
            {{ form.status }}
            {{ form.status.errors }}
        </div>
    </div>
    
        <div class="row g-1">
        <div class="col-6">
            {{ form.payment_date.label_tag }}
            {{ form.payment_date }}
            {{ form.payment_date.errors }}
        </div>
        <div class="col-6">
            {{ form.transaction_id.label_tag }}
            {{ form.transaction_id }}
            {{ form.transaction_id.errors }}
        </div>
    </div>
                 
              
              
                   <hr class="mt-2" style="color: #0f1531">
                    <div class="d-flex justify-content-between">
                        <button type="submit" name="submit_bank" id="account_holder_name" class="btn btn-gradient-success px-4 py-2">ثبت اشتراک</button>
                           <button type="button" class="btn btn-dark p-3" data-bs-dismiss="modal">بستن</button>
                     </div>
        

          </form>
      </div>

    </div>
  </div>
</div>

 <!-- Pagination -->
      <div class="col-12">
        <div class="pagination d-flex justify-content-center mt-5">
            {% if page_obj.has_previous %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_obj.previous_page_number }}" class="rounded mx-1">قبلی</a>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_number }}"
                   class="rounded mx-1 {% if page_number == page_obj.number %}active{% endif %}">
                    {{ page_number }}
                </a>
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?q={{ query }}&paginate={{ request.GET.paginate|default:'20' }}&page={{ page_obj.next_page_number }}" class="rounded mx-1">بعدی</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock main_content %}









