{% extends 'shared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
مدیریت واحدها
{% endblock page_title %}

{% block main_content %}
    <hr/>
<div class="container-fluid">
    <div class="container p-0">
        <div class="row mt-2">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>شماره واحد</th>
                            <th>نام مالک</th>
                            <th>موبایل مالک</th>
                            <th>نام مستاجر</th>
                            <th>موبایل مستاجر</th>
                            <th>متراژ</th>
                            <th>تعداد نفرات</th>
                            <th>تعداد خواب</th>
                            <th>وضعیت</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                {% if renters %}
               {% for unit in units %}
                        {% for renter in unit.renters.all %}
                        <tbody class="text-center">
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{renter.unit.unit }}</td>
                                <td>{{renter.unit.owner_name }}</td>
                                <td>{{renter.unit.owner_mobile }}</td>
                                <td>{{renter.renter_name }}</td>
                                <td>{{renter.renter_name }}</td>
                                <td>{{renter.unit.area }}</td>
                                <td>{{renter.people_count }}</td>
                                <td>{{renter.unit.bedrooms_count }}</td>
                                <td>{{renter.unit.status }}</td>

                               <td class="col-lg-1 col-xl-1">
                                   <a href="" class="btn btn-primary p-1">
                              <i class="mdi mdi-eye" aria-hidden="true"></i></a>
                            </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        {% endfor %}

                            {% else %}
                        <tbody>
                            <tr>
                                <td colspan="7" class="text-center">هیچ پیامی برای نمایش وجود ندارد.</td>
                            </tr>
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}








