{% extends 'middleShared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
مدیریت شارژ
{% endblock page_title %}

{% block main_content %}
    <hr/>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 grid-margin">
            <a href="{% url 'middle_add_fixed_charge' %}">
            <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="py-4">
                    <img src="/static/admin_panel/images/circle.svg" class="card-img-absolute" alt="circle">
                     <h4 class="text-center text-white"><span class="chargeCircle">1</span>
                   محاسبه شارژ ثابت واحدی</h4></div></div></a></div>
        
        <div class="col-md-4 grid-margin text-white">
            <a href="{% url 'middle_add_area_charge' %}">
            <div class="card bg-gradient-dark card-img-holder text-white">
            <div class="py-4">
                <img src="/static/admin_panel/images/circle.png" class="card-img-absolute" alt="circle">
                   <h4 class="text-center text-white"><span class="chargeCircle">2</span>
                  محاسبه شارژ متراژی</h4></div></div></a></div>
        
        <div class="col-md-4 grid-margin text-white">
            <a href="{% url 'middle_add_person_charge' %}">
            <div class="card bg-gradient-success card-img-holder text-white">
            <div class="py-4">
                <img src="/static/admin_panel/images/circle.svg" class="card-img-absolute" alt="circle">
                 <h4 class="text-center text-white p-0">
                     <span class="chargeCircle">3</span>
                     محاسبه شارژ نفری
                     
                 </h4></div></div></a></div>
             </div>
    <div class="row">
        <div class="col-md-4 grid-margin">
            <a href="{% url 'middle_add_fix_area_charge' %}">
            <div class="card bg-secondary card-img-holder text-white">
                <div class="py-4">
                    <img src="/static/admin_panel/images/circle.svg" class="card-img-absolute" alt="circle">
                     <h4 class="text-center text-white"><span class="chargeCircle">4</span>
                   محاسبه شارژ واحدی متراژی</h4></div></div></a></div>
        
        <div class="col-md-4 grid-margin text-white">
            <a href="{% url 'middle_add_fix_person_charge' %}">
            <div class="card bg-gradient-primary card-img-holder text-white">
            <div class="py-4">
                <img src="/static/admin_panel/images/circle.png" class="card-img-absolute" alt="circle">
                   <h4 class="text-center text-white"><span class="chargeCircle">5</span>
                  محاسبه شارژ واحدی نفری</h4></div></div></a></div>
        
        <div class="col-md-4 grid-margin text-white">
            <a href="{% url 'middle_add_person_area_charge' %}">
            <div class="card bg-secondary card-img-holder text-white">
            <div class="py-4">
                <img src="/static/admin_panel/images/circle.svg" class="card-img-absolute" alt="circle">
                 <h4 class="text-center text-white p-0"><span class="chargeCircle">6</span>
                   محاسبه شارژ نفری متراژی</h4></div></div></a></div>
             </div>
    <div class="row">
        <div class="col-md-4 grid-margin text-white">
            <a href="{%  url 'middle_add_person_area_fix_charge' %}">
            <div class="card bg-gradient-warning card-img-holder text-white">
            <div class="py-4">
                <img src="/static/admin_panel/images/circle.svg" class="card-img-absolute" alt="circle">
                 <h4 class="text-center text-white p-0"><span class="chargeCircle">7</span>
                  محاسبه شارژ واحدی نفری متراژی</h4></div></div></a></div>
        
        <div class="col-md-4 grid-margin text-white">
            <a href="{% url 'middle_add_variable_fix_charge' %}">
            <div class="card bg-gradient-dark card-img-holder text-white">
            <div class="py-4">
                <img src="/static/admin_panel/images/circle.svg" class="card-img-absolute" alt="circle">
                 <h4 class="text-center text-white p-0"><span class="chargeCircle">8</span>
                     
                  محاسبه شارژ بر اساس شارژ ثابت و متغیر</h4></div></div></a></div>
        <div class="col-md-4 grid-margin text-white">
            <a href="">
            <div class="card bg-gradient-info card-img-holder text-white">
            <div class="py-4">
                <img src="/static/admin_panel/images/circle.svg" class="card-img-absolute" alt="circle">
                 <h4 class="text-center text-white p-0"><span class="chargeCircle">9</span>
                 محاسبه شارژ بر اساس هزینه های ساختمان</h4></div></div></a></div>
             </div>

      </div>
    
    <div class="container text-end mt-1">
      <div class="row align-items-start" >
        <div class="col-12 ">
            <hr/>
            <div class="col-12 justify-content-center" >
                
                     <p class="charge-text mt-2 p-0 m-0"><span class="chargeCircleText">1</span>
شارژ واحدی مناسب مجتمع‌های مسکونی، اداری و تجاری است. این نوع شارژ بر اساس تعداد واحدها محاسبه می‌شود و همه واحدها به میزان برابر، شارژ را به صورت ماهانه پرداخت می‌کنند.                     </p>
                <p class="charge-text mt-2"><span class="chargeCircleText">2</span>
این نوع محاسبه، مناسب مجتمع‌های مسکونی، اداری و تجاری است. در این نوع پرداخت شارژ، همه واحدها با توجه به میزان متراژی که دارند، شارژ خود را به صورت ماهانه پرداخت می‌کنند.                     </p>
                <p class="charge-text mt-2"><span class="chargeCircleText">3</span>
این روش محاسبه بیشتر مربوط به مجتمع هایی است که سیستم آب مشترک دارند. در واقع عمده هزینه مربوط به آب است. در شارژ نفری که مختص مجتمع های مسکونی است، معیار محاسبه ساکنین هستند یعنی هر واحد نسبت به تعداد افراد ساکن در آن، باید شارژ بپردازند                     </p>
                <p class="charge-text mt-2"><span class="chargeCircleText">4</span>
در این نوع محاسبه از شارژ ساختمان، ملاک عمل جمع دو روش واحدی و متراژی برای تعیین شارژ است. شارژ ماهانه شامل یک شارژ ثابت به اضافه شارژ متغیر متراژی است. متراژ هر واحد، میزان تغییر در شارژ ماهانه آن واحد را تعیین می‌کند. بطوریکه ابتدا بر اساس متر واحد، شارژ متراژی آن محاسبه و سپس شارژ ثابت به آن افزوده می شود. این روش برای مجتمع هایی مناسب است که واحدها دارای متراژ متفاوت و سیستم گرمایش و سرمایشی مرکزی هستند.                     </p>
                <p class="charge-text mt-2"><span class="chargeCircleText">5</span>
مجتمع های مسکونی که دارای واحدهای با متراژ یکسان و سیستم آب آنها مشترک است، از این روش برای محاسبه شارژ استفاده می‌کنند. در این روش، واحدها دارای یک شارژ ثابت هستند و شارژ متغیری که بر اساس تعداد ساکنین هر واحد مشخص می‌شود، به آن اضافه می‌شود.                     </p>
                
                     <p class="charge-text mt-2"><span class="chargeCircleText">6</span>
                          روش شارژ نفری متراژی، برای مجتمع‌ هایی که واحدهایشان متراژ مختلفی دارند و از سیستم گرمایش و سرمایش مرکزی نیز استفاده می‌کنند، بسیار مناسب است. در این روش، میزان شارژ هر واحد براساس تعداد افراد و متراژ واحد در جدول شارژ ساختمان محاسبه می ‌شود. نحوه محاسبه شارژ نفری متراژی به این صورت است که میزان شارژی که برای متراژ تعیین می ‌شود، باید نسبت بیست به هشتاد (20٪ از 80٪) با میزان شارژ نفری متناسب باشد.
                     </p>
                      <p class="charge-text mt-2"><span class="chargeCircleText">7</span>
در این روش، از ترکیب شارژ واحدی و ثابت یک واحد به همراه شارژ نفری و شارژ متراژی برای محاسبه استفاده می‌شود.                     </p>
                     <p class="charge-text mt-2"><span class="chargeCircleText">8</span>
                         در روش محاسبه شارژ بر اساس هزینه ثابت و متغیر، واحدها شارژی ثابت پرداخت می ‌کنند و شارژ متغیری که بر اساس تعداد ساکنین هر واحد مشخص می‌شود، به آن اضافه می ‌شود و واحدها باید آن را به صورت ماهانه پرداخت کنند. شارژ نفری با اضافه شدن افراد خانواده بیشتر می ‌شود اما شارژ ثابت بر اساس هزینه‌ های ثابت هر ساله تعیین می ‌گردد. این روش از تعادل میان شارژ نفری و شارژ ثابت برای تقسیم هزینه ‌های مشترک در مجتمع‌های مسکونی با واحدهای مشابه بهره می‌برد.
                     </p>
                <p class="charge-text mt-2"><span class="chargeCircleText">9</span>
یکی از روشهای مناسب برای تعیین حق شارژ ، روش محاسبه بر حسب هزینه‌هاست. در این روش معمولا هزینه‌های آب به صورت نفری، هزینه گاز متراژی و هزینه‌های برق به صورت واحدی یا ثابت محاسبه می‌شوند. به این مدل از محاسبه که شارژ ساختمان بر اساس هزینه‌های انجام شده بین واحدها تقسیم می‌شود، شارژ با روش برآورد هزینه ها نیز می‌گویند.                     </p>
            </div>
        </div>
    
      </div>
</div>
    
{#    <div class="d-flex justify-content-between">#}
{#                                  <a class="btn btn-outline-info btn-md"#}
{#                                     href="">مرحله قبل</a>#}
{#                                #}
{#                                  <a class="btn btn-outline-info btn-md"#}
{#                                     href=""> تایید و ادامه</a>#}
{#                              </div>#}

    
{% endblock %}


