{% extends 'middleShared/base_template.html' %}
{% load static %}
{% load poll_extras %}
{% block page_title %}
مدیریت شارژ عمرانی ( تعداد ثبت شده:{{ total_civil|to_persian_number }} )
{% endblock page_title %}

{% block main_content %}
    <hr/>
<div class="container p-0">
 
      <div class="row align-self-center mb-2">
                <div class="col-12 col-md-3 col-xl-3 align-self-center">
                <button type="button" class="btn btn-primary px-1 py-2" data-bs-toggle="modal" data-bs-target="#exampleModalLong2">
                          <img src="/static/admin_panel/icone8/icons8-plus.gif" class="mx-2" width="20" alt="">
                    ثبت شارژ عمرانی جدید
                </button>
                 </div>
          <div class="col-12 col-md-5 col-xl-4">
              <input type="text" id="searchInput" placeholder="جستجوی سریع در جدول..." onkeyup="searchTableIncome()" class="form-control mb-2 mt-2 p-1">
          </div>
        <div class=" col-12 col-md-5 col-xl-5 text-md-start align-self-center">
{#            <button onclick="openQuery()" class="btn btn-gradient-info px-2 py-2">جستجوی پیشرفته</button>#}
             {% if page_obj %}
                    <a href="{% url 'middle_civil_charge_report_pdf' %}?{{ request.GET.urlencode }}"
               class="btn btn-gradient-danger px-md-4 px-2 py-2">
               خروجی PDF
            </a>
{#            <a href="{% url 'export_income_excel' %}?{{ request.GET.urlencode }}"#}
{#   class="btn btn-facebook text-white px-2 px-md-4 py-2">خروجی Excel</a>#}
         
                   {% else %}
                        <button class="btn btn-gradient-danger px-2 px-md-4 py-2" disabled>خروجی PDF</button>
{#                    <button class="btn btn-facebook text-white px-2 px-md-4 py-2" disabled>خروجی Excel</button>#}
             
                {% endif %}
            </div>
          </div>
       


            <div class="table-responsive">
                <table class="table table-bordered " id="incomeTable">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th> عنوان</th>
                            <th> تعداد واحد</th>
                            <th>مبلغ شارژ عمرانی</th>
                            <th>مبلغ پیش پرداخت</th>
                              <th>تعداد اقساط</th>
                            <th>تاریخ سررسید اول</th>
                             <th>توضیحات </th>
                             <th>تصویر </th>
                             <th>ارسال شده </th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                {% if page_obj %}
               {% for civil in page_obj %}
                        <tbody class="text-center">
                            <tr>
                                <td>{{ forloop.counter|to_persian_number }}</td>
                                <td>{{civil.name|to_persian_number }}</td>
                                <td>{{units|to_persian_number }}</td>
                                <td>{{civil.amount|three_digit_currency }}</td>
                                <td>{{civil.prepayment|three_digit_currency }}</td>
                                <td>{{civil.installment_count|three_digit_currency }}</td>
                                 <td>{{civil.first_due_date|show_jalali }}</td>
                               <td>
                                   {% if civil.details|to_persian_number %}
                                       دارد
                                   	{% else %}
                                       ندارد
                                   {% endif %} 
                             
                               </td>
                                <td class="d-flex justify-content-center align-self-center">
                                  {% for doc in civil.civil_documents.all %}
                                        <a href="{{ doc.document.url }}" target="_blank" 
                                           > 
                                            <i class="fas fa-image fa-2x me-2"></i></a>
                                    {% empty %}
                                     !No File
                                    {% endfor %}
                                </td>
                            <td>
                                   {{ civil.count_sent_units }} 
                            </td>
{#                                       <td>#}
{#                                {% if income.is_paid %}#}
{#                                	<span class="badge badge-success fw-bold">پرداخت شده</span>#}
{#                                    {% else %}#}
{#                                	<span class="badge badge-danger fw-bold">پرداخت نشده</span>#}
{#                                {% endif %} #}
{#                              #}
{#                            </td>#}
                            
                                   <td class="col-lg-2 col-xl-2 p-0">
                                      <a
                                           class="btn btn-gradient-warning p-1 edit-m-civil"
                                           data-id="{{ civil.id }}"
                                           data-name="{{ civil.name }}"
                                           data-amount="{{ civil.amount }}"
                                           data-prepayment="{{ civil.prepayment}}"
                                           data-installment_count="{{ civil.installment_count}}"
                                           data-first_due_date="{{ civil.first_due_date|show_jalali }}"
                                           data-details="{{ civil.details|escapejs }}"
                                           data-images='{{ civil.get_documents_urls_json|default:"[]" }}'
                                           data-bs-toggle="modal"
                                           data-bs-target="#exampleModalLong2">
                                           <i class="mdi mdi-lead-pencil" aria-hidden="true"></i>
                                        </a>

                                              <a href="{% url 'middle_civil_delete' civil.id %}" class="btn btn-danger p-1"
                                           onclick="return confirmDeleteWithSweetAlert(event)">
                                                  <i class="mdi mdi-delete" aria-hidden="true"></i>
                                                </a>
                                    <button data-bs-toggle="modal" data-bs-target="#exampleModalLong2{{ civil.id }}" title="نمایش جزئیات"
                                                        class="btn btn-gradient-info text-dark px-2 py-1" ><i class="mdi mdi-eye"></i>
                                                </button>
                                  <a href="{% url 'middle_show_send_civil_form' civil.id %}"
                                         class="btn btn-gradient-success px-3 py-1" 
                                          data-bs-toggle="tooltip"  title="اعلان شارژ">
                                         <i class="fas fa-bullhorn fa-flip-horizontal"></i>
                                            </a>

                            </td>
                       <div class="modal fade"  id="exampleModalLong2{{ civil.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ civil.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ civil.id }}">مشاهده جزئیات </h5>
                            </div>
                          <hr/>
                            <div class="modal-body text-end">
                                <p><strong> عنوان:</strong> {{ civil.name|to_persian_number }}</p>
                                 <p><strong>مبلغ شارژ :</strong> {{ civil.amount|three_digit_currency }}تومان </p>
                                <p><strong>مبلغ پیش پرداخت:</strong> {{ civil.prepayment|three_digit_currency }} تومان</p>
                                <p><strong>تعدا اقساط :</strong> {{ civil.installment_count|to_persian_number }} </p>
{#                                <p><strong>مبلغ هر قسط :</strong> {{ civil.get_per_installment_amount|three_digit_currency }} </p>#}
                                <p><strong>تاریخ اولین سررسید :</strong> {{ civil.first_due_date|show_jalali_date_only}} </p>
                                <p><strong>توضیحات:</strong>
                                    {% if civil.details %}
                                        <span class="badge bg-warning">{{ civil.details|to_persian_number }} </span>
                                        {% else %}
                                        توضیحات ثبت نشده است
                                    {% endif %}

                                </p>
                            </div>
                     
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger p-2" data-bs-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>


                            </tr>
                        {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="11" class="text-center">هیچ رکوردی برای نمایش وجود ندارد.</td>
                            </tr>
                     <tbody>
                    {% endif %}
                </table>
                   <div class="col-12">
                    <div class="pagination d-flex justify-content-center mt-5">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="rounded mx-1">قبلی</a>
                        {% endif %}
                
                        {% for page_number in page_obj.paginator.page_range %}
                            {% if page_number == page_obj.number %}
                                <a href="?page={{ page_number }}" class="{% if page_obj.number == page_number %}active{% endif %}">{{ page_number }}</a>
                            {% else %}
                                <a href="?page={{ page_number }}" class="rounded mx-1">{{ page_number }}</a>
                            {% endif %}
                        {% endfor %}
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="rounded mx-1">بعدی</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>



{#      ============================= Moda Form ==================#}
    
    <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="exampleModalLongTitle2">
        <h5 class="modal-title">ثبت شارژ عمرانی جدید</h5>
     
      </div>
         <hr>
      <div class="modal-body" >
         {{ form.non_field_errors }}
          <form id="civilForm" action="" method="POST"
                enctype="multipart/form-data" novalidate>
              {% csrf_token %}
                 <div class="row align-items-center p-0 g-2">
                  <div class="col-12">
                      {{ form.name.label_tag }}
                      {{ form.name }}
                      {{ form.name.errors }}
                  </div>
                     </div>
               <div class="row g-2">
                   <div class="col-6 p-1">
                       {{ form.amount.label_tag }}
                      {{ form.amount }}
                      {{ form.amount.errors }}
                  </div>
                      <div class="col-6 p-1">
                       {{ form.prepayment.label_tag }}
                      {{ form.prepayment }}
                      {{ form.prepayment.errors }}
                  </div>
                  
                     </div>
                     <div class="row g-2">
                      <div class="col-6 p-1">
                       {{ form.installment_count.label_tag }}
                      {{ form.installment_count }}
                      {{ form.installment_count.errors }}
                  </div>
                  <div class="col-6">
                      {{ form.first_due_date.label_tag }}
                      {{ form.first_due_date }}
                      {{ form.first_due_date.errors }}
                  </div>
                     </div>
                 
                <div class="row">
                  <div class="form-group col-12">
                    {{ form.details.label_tag }}
                    {{ form.details }}
                    {{ form.details.errors }}
                  </div>
                </div>
              
                    <div class="row">
                  <div class="image-item form-group col-12">
                    <label>تصاویر سند:</label>
                      <span class="form-text text-danger text-small">آپلود حداکثر ۲ فایل مجاز است.</span>
                      <input type="file" name="document" multiple class="form-control" accept="image/*">
                      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="{{ civil.id }}">
                       <div id="preview" class="mt-3"></div>
                  </div>
                </div>
              
                   <hr class="mt-2" style="color: #0f1531">
                <div class="d-flex justify-content-between">
                        <button type="submit" id="btn-submit-expense" class="btn btn-gradient-success px-4 py-2">ثبت شارژ</button>
                           <button type="button" class="btn btn-dark p-3" data-bs-dismiss="modal">بستن</button>
                     </div>
              
          </form>
      </div>

    </div>
  </div>
</div>
    
{% endblock %}








