{% extends 'middleShared/base_template.html' %}
{% load poll_extras %}

{% block page_title %}
    لیست شارژ 
{% endblock page_title %}

{% block main_content %}
    
    <div class="container">
        <hr class="p-0">
     <div class="row g-2">
     
        <!-- بخش جستجو -->
        <div class="col-12 col-md-4 col-xl-4 align-self-center">
            <form method="get" action="" class="d-flex gap-2 align-items-center">
                <input type="text"
                       class="p-2 w-100 w-md-75"
                       name="q"
                       id="searchInput"
                       autocomplete="off"
                       value="{{ query }}"
                       placeholder="جستجو ..."
                       dir="rtl"
                       oninput="if(this.value === '') this.form.submit();">
                <button type="submit" class="btn btn-info px-3 py-2">جستجو</button>
            </form>
        </div>
     <div class=" col-12 col-md-6 col-xl-6 text-end text-md-center align-self-center">
    {% if charges %}
        <a href="{% url 'middle_main_charges_excel'  %}?{{ request.GET.urlencode }}"
            class="btn btn-facebook text-white px-4 py-2">خروجی Excel </a>
        <a href="{% url 'middle_main_charges_pdf'  %}?{{ request.GET.urlencode }}"
               class="btn btn-gradient-danger px-4 py-2">
               خروجی PDF 
        </a>
    {% else %}
        <button class="btn btn-facebook text-white px-4 py-2" disabled>خروجی Excel</button>
        <button class="btn btn-gradient-danger px-4 py-2" disabled>خروجی PDF</button>
    {% endif %}
</div>

        <!-- بخش تعداد نمایش → فقط دسکتاپ -->
        <div class="col-12 col-md-2 col-xl-2 text-start p-0 d-none d-md-block">
            <div class="d-flex align-items-center justify-content-end">
                <label for="cardsPerPage" class="form-label mb-0">تعداد نمایش:</label>
           <select id="cardsPerPage"
        class="form-select select-fix"
        style="width: auto;"
        onchange="window.location.href='?q={{ query }}&paginate=' + this.value;">
    <option value="20" {% if request.GET.paginate|default:'20' == '20' %}selected{% endif %}>20</option>
    <option value="50" {% if request.GET.paginate == '50' %}selected{% endif %}>50</option>
    <option value="100" {% if request.GET.paginate == '100' %}selected{% endif %}>100</option>
    <option value="1000" {% if request.GET.paginate == '1000' %}selected{% endif %}>همه</option>
</select>

            </div>
        </div>
    </div>
        <div class="table-responsive mt-2">
                            <table class="table table-bordered">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                        <th> عنوان شارژ </th>
                                        <th>تاریخ ثبت</th>
                                        <th>جریمه دیرکرد</th>
                                        <th>مهلت پرداخت </th>
                                        <th>توضیحات</th>
                                        <th> اعلام شارژ </th>
                                        <th> پرداخت شده </th>
                                        <th>دستورات</th>
                                    </tr>
                                </thead>
                            {% if charges %}
                           {% for charge in charges %}
                                    <tbody class="text-center">
                                        <tr>
                                         <td>{{ forloop.counter0|add:page_obj.start_index|add:"0" }}</td>
                                            <td>{{charge.name }}</td>
                                            <td>{{charge.created_at|show_jalali }}</td>
                                              	  <td>
                                                   {% if charge.payment_penalty_amount %}
                                                      % {{charge.payment_penalty_amount }}
                                                {% else %}
                                               ----
                                            {% endif %} 
                                          </td>
                                             <td>
                                                 {% if charge.payment_deadline %}
                                                 	  {{charge.payment_deadline | show_jalali}}
                                                   {% else %}
                                                ----
                                            {% endif %} 

                                             </td>
                                                 <td> {% if charge.details %}
                                            	   دارد
                                                {% else %}
                                                ندارد
                                            {% endif %} 
                                             
                                            </td>
                                              <td class="bg-gradient-light">
                                                <span>{{ charge.notified_count  }} از {{ charge.unit_count }} واحد</span>
                                                </td>
                                           <td>
                                                <span>{{ charge.paid_count  }} از {{ charge.notified_count }} واحد</span>
                                                </td>

                                               <td class="p-0">
                                                         <button data-bs-toggle="modal" data-bs-target="#exampleModalLong2{{ charge.id }}" title="نمایش جزئیات"
                                                        class="btn btn-gradient-info text-dark px-2 py-1" ><i class="mdi mdi-eye"></i>
                                                </button>

                                      <a href="{% url 'charge_units_list' charge.app_label charge.model_name charge.id %}"
                                         class="btn btn-gradient-primary px-3 py-2">  صورتحساب واحدها </a>
                                                   
                                        </td>

                                        </tr>
                                    {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="11" class="text-center">هیچ رکوردی برای نمایش وجود ندارد.</td>
                                        </tr>
                                 <tbody>
                                {% endif %}

                            </table>
                {% for charge in charges %}
                         <div class="modal fade"  id="exampleModalLong2{{ charge.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ charge.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ charge.id }}">مشاهده جزئیات </h5>
                            </div>
                          <hr/>
                            <div class="modal-body text-end">
                                <p><strong>عنوان:</strong> {{ charge.name }}</p>
                                {% for key, value in charge.items %}
                                    {% if key not in 'id name charge_type created_at unit_count app_label model_name civil other_cost_amount payment_deadline payment_penalty_amount details notified_count' %}
                                        {% if value %}
                                            <p><strong>{{ key }}:</strong> {{ value|three_digit_currency }} تومان</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}   
                            
                                <p><strong>شارژ عمرانی:</strong> 
                                    {% if charge.civil %}
                                    {{ charge.civil|three_digit_currency }} تومان
                                         {% else %}
                                               ---
                                            {% endif %} 
                                </p>
                            
                                <p><strong>سایر هزینه ها:</strong>
                                    {% if charge.other_cost_amount %}
                                    {{ charge.other_cost_amount|three_digit_currency }} تومان
                                         {% else %}
                                             ---
                                            {% endif %} 
                                </p>
                            
                                <p><strong>تاریخ ثبت :</strong> {{ charge.created_at|show_jalali_date_only }} </p>
                            
                               <p><strong>مهلت پرداخت :</strong>
                                          {% if charge.payment_deadline %}
                                                 	  {{charge.payment_deadline|show_jalali_date_only }}
                                                   {% else %}
                                                ثبت نشده است
                                            {% endif %} 
                               </p>
                                <p><strong>جریمه دیرکرد:</strong>
                                             {% if charge.payment_penalty_amount %}
                                                      % {{charge.payment_penalty_amount }}
                                                {% else %}
                                                ثبت نشده است
                                            {% endif %} 
                                </p>
                                <p><strong>توضیحات:</strong> 
                                    {% if charge.details %}
                                        <span class="bg-warning text-wrap">{{ charge.details }} </span>
                                        {% else %}
                                        ندارد
                                    {% endif %} 

                                </p>

                            </div>
                            <hr/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger p-2" data-bs-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

               </div>
{#<table class="table table-bordered">#}
{#    <thead>#}
{#        <tr>#}
{#            <th>#</th>#}
{#            <th>عنوان</th>#}
{#            <th>نوع شارژ</th>#}
{#            <th>مبلغ نهایی</th>#}
{#            <th>تاریخ پرداخت</th>#}
{#            <th>عملیات</th>#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#        {% for charge in charges %}#}
{#        <tr>#}
{#            <td>{{ forloop.counter }}</td>#}
{#            <td>{{ charge.title }}</td>#}
{#            <td>{{ charge.get_charge_type_display }}</td>#}
{#            <td>{{ charge.total_charge_month }}</td>#}
{#            <td>{{ charge.payment_date }}</td>#}
{#           <td>#}
{#    {% if charge.unit %}#}
{#    <a href="{% url 'unit_charge_list' charge.unit.id %}?type={{ charge.charge_type }}" class="btn btn-sm btn-primary">#}
{#        مشاهده شارژهای این نوع#}
{#    </a>#}
{#    {% endif %}#}
{#</td>#}
{#        </tr>#}
{#        {% empty %}#}
{#        <tr>#}
{#            <td colspan="6">شارزی یافت نشد</td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#    </tbody>#}
{#</table>#}


        <!-- Pagination -->
<div class="row mt-3">
    <div class="col-12">
        <div class="pagination d-flex justify-content-center mt-5">
            {% if page_obj.has_previous %}
                <a href="?q={{ query }}&paginate={{ paginate }}&page={{ page_obj.previous_page_number }}" class="rounded mx-1">قبلی</a>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                <a href="?q={{ query }}&paginate={{ paginate }}&page={{ page_number }}"
                   class="rounded mx-1 {% if page_number == page_obj.number %}active{% endif %}">
                    {{ page_number }}
                </a>
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?q={{ query }}&paginate={{ paginate }}&page={{ page_obj.next_page_number }}" class="rounded mx-1">بعدی</a>
            {% endif %}
        </div>
    </div>
</div>
</div>
    
    
{% endblock main_content %}