    {% load static %} 
     
      <!-- jQery -->
    
      <script src="/static/home/js/jquery-3.4.1.min.js"></script>
<script src="{% static 'admin_panel/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'admin_panel/js/sweetalert2@11.js' %}"></script>
      <!-- popper js -->
      <script src="/static/home/js/popper.min.js"></script>
      <!-- bootstrap js -->
      <script src="/static/home/js/bootstrap.js"></script>
      <!-- custom js -->
      <script src="/static/home/js/custom.js"></script>