{% load static %}
<ul class="navbar-nav navbar-nav-right" style="margin-bottom: 1rem">
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
               <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-bs-toggle" id="messageDropdown" 
                 data-bs-toggle="dropdown" aria-expanded="false">
                <i class="far fa-send fa-1x"></i>
                  <span id="total-count-products" class="position-absolute bg-info rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                        style="top: 20px; left: 18px; height: 20px; min-width: 2px;" >0</span>
              </a>
{#                {% if new_charges_count   %}#}
                	  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
            
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
{#                  <div class="preview-thumbnail rounded-circle">#}
{#                   <img src="/static/img/school-bell-48.png" alt="image" class="profile-pic">#}
{#                  </div>#}
{#                 <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">#}
{#                  <h6 class="preview-subject ellipsis mb-1 font-weight-normal">دیدگاه های کالا</h6>#}
{#                  <p class="text-dark mb-0"> <span class="circleOrangePayment">{{ new_charges_count }}</span>#}
{#                      شارژ پرداخت نشده </p>#}
{#                 </div>#}
                </a>
                  

                <div class="dropdown-divider"></div>
                  <a href="">
                <h6 class="p-3 mb-0 text-center text-muted">
                    نمایش همه نظرسنجی ها
                </h6>
                      </a>
              </div>

{#                {% endif %} #}
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-bs-toggle" id="messageDropdown" 
                 data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-bell-outline"></i>
                  <span id="total-count-products" class="position-absolute bg-danger rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                        style="top: 20px; left: 15px; height: 20px; min-width: 2px;" >{{ new_charges_count }}</span>
              </a>
                {% if new_charges_count   %}
                	  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
            
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail rounded-circle">
                   <img src="/static/img/school-bell-48.png" alt="image" class="profile-pic">
                  </div>
                 <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
{#                  <h6 class="preview-subject ellipsis mb-1 font-weight-normal">دیدگاه های کالا</h6>#}
                  <p class="text-dark mb-0"> <span class="circleOrangePayment">{{ new_charges_count }}</span>
                      شارژ پرداخت نشده </p>
                 </div>
                </a>
                  

                <div class="dropdown-divider"></div>
                  <a href="{% url 'user_charges' %}">
                <h6 class="p-3 mb-0 text-center">
                    نمایش همه شارژها
                </h6>
                      </a>
              </div>

                {% endif %} 
            </li>
              <li class="nav-item dropdown ">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="mdi mdi-email-outline "></i>
                  <span id="total-count-products" class="position-absolute bg-warning rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                        style="top: 20px; left: 15px; height: 20px; min-width: 2px;" >
                      {{ new_messages_count }}
                  </span>
              </a>
                       {% if new_messages_count %}
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
             
                  	<p class="p-3 mb-0 rtl">{{ new_messages_count }} پیام از طرف مدیر</p>
             
                <div class="dropdown-divider"></div>

                <div class="dropdown-divider"></div>

                <div class="dropdown-divider"></div>
                  <a href="{% url 'user_message' %}">
                    <h6 class="p-3 mb-0 text-center">نمایش همه پیام ها</h6>
                  </a>
              </div>
                 {% endif %} 
              </li>
          
              <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
<!--                  <img src="">-->
                  {% if user.profile_pic == ""  %}
                    <img class="img img-fluid mb-2" height="100" width="100"
                         src="{% static 'admin_panel/images/no-user-img.png' %}" alt="">
                    {% else %}
                    <img class="img img-fluid mb-2" height="100" width="100"
                         src="{% static 'admin_panel/images/no-user-img.png' %}" alt="">
                    {% endif %}
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{ user.full_name }} </p>
                </div>
              </a>

              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="{% url 'user_profile' %}">
                  <i class="mdi mdi-account-circle me-2 text-dark"></i> پروفایل من </a>
                <a class="dropdown-item" href="{% url 'logout_user' %}">
                  <i class="mdi mdi-logout me-2 text-dark"></i> خروج </a>
                 
              </div>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
                
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>

          </ul>