{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">

    <ul class="nav">

        <!-- ساختمان من -->
        <li class="nav-item nav-profile bg-light">
            <a href="" class="nav-link">
                <div class="nav-profile-image">
                    <img src="{% static 'admin_panel/icone8/icons8-home.gif' %}" alt="profile">
                    <span class="login-status online"></span>
                </div>
                     <div class="nav-profile-text ms-auto mt-3">
    <h6 class="mb-2">
        {{ house.name|default:"ساختمان من" }}
    </h6>
</div>
            </a>
        </li>

        <!-- داشبورد -->
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'user_panel' %}active{% endif %}"
               href="{% url 'user_panel' %}">
                <i class="menu-title">داشبورد کاربر</i>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <!-- مدیریت شارژ -->
        <li class="nav-item mt-0">
            <a class="nav-link {% if request.resolver_match.url_name == 'user_charges' %}active{% endif %}"
               href="{% url 'user_charges' %}">
                <i class="menu-title">مدیریت شارژ</i>
{#                <i class="mdi mdi-bell-ring-outline menu-icon"></i>#}
                <i class="mdi mdi-cash-multiple menu-icon"></i>
            </a>
        </li>

        <!-- گزارشات -->
        <li class="nav-item mt-0">

            <a class="nav-link
               {% if request.resolver_match.url_name == 'user_announce_manage' or request.resolver_match.url_name == 'fund_turn_over_user' %}active{% endif %}"
               data-bs-toggle="collapse"
               href="#general2">

                <i class="menu-title">گزارشات</i>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-clipboard-text menu-icon"></i>
            </a>

            <div class="collapse
                {% if request.resolver_match.url_name == 'user_announce_manage' or request.resolver_match.url_name == 'fund_turn_over_user' or request.resolver_match.url_name == 'user_message'  %}show{% endif %}"
                id="general2">

                <ul class="nav flex-column sub-menu">

                    <li class="nav-item mt-0">
                        <a class="nav-link {% if request.resolver_match.url_name == 'user_announce_manage' %}active{% endif %}"
                           href="{% url 'user_announce_manage' %}">اطلاعیه های من</a>
                    </li>
                    <li class="nav-item mt-0">
                        <a class="nav-link {% if request.resolver_match.url_name == 'user_message' %}active{% endif %}"
                           href="{% url 'user_message' %}">پیام های من</a>
                    </li>

                    <li class="nav-item mt-0">
                        <a class="nav-link {% if request.resolver_match.url_name == 'fund_turn_over_user' %}active{% endif %}"
                           href="{% url 'fund_turn_over_user' %}">تراکنش مالی</a>
                    </li>

                </ul>
            </div>
        </li>


        <!-- نظرسنجی -->
        <li class="nav-item mt-0">
            <a class="nav-link"
               href="">
                <i class="menu-title">نظرسنجی</i>
                <i class="fas fa-send menu-icon"></i>
            </a>
        </li>

        <!-- پشتیبانی -->
       <li class="nav-item mt-0">

                   <a class="nav-link d-flex align-items-center position-relative
                       {% if request.resolver_match.url_name == 'user_support_ticket' or request.resolver_match.url_name == 'tickets' %}active{% endif %}"
               data-bs-toggle="collapse"
               href="#general3">
            
            
                <span class="ms-2">پشتیبانی</span>
                <span id="ticket-counter-main" class="badge bg-danger counter-badge">0</span>
{#                       <span id="ticket-counter-main" class="badge bg-danger counter-badge"> </span>#}
                      
                   
                       
                <i class="menu-arrow"></i>
                <i class="mdi mdi-headphones menu-icon"></i>
            </a>
            <div class="collapse
                {% if request.resolver_match.url_name == 'user_support_ticket' or request.resolver_match.url_name == 'tickets' %}show{% endif %}"
                id="general3">
        
                <ul class="nav flex-column sub-menu">
        
                    <li class="nav-item mt-0">
                        <a class="nav-link {% if request.resolver_match.url_name == 'user_support_ticket' %}active{% endif %}"
                           href="{% url 'user_support_ticket' %}">ارسال تیکت</a>
                    </li>
        
                    <li class="nav-item mt-0">
                        <a class="nav-link {% if request.resolver_match.url_name == 'tickets' %}active{% endif %}"
                           href="{% url 'tickets' %}">تیکت‌های من
{#                           <span id="ticket-counter-sub" class="badge bg-danger counter-badge_second">0</span>#}

                        </a>
                    </li>
        
                </ul>
            </div>
        </li>


    </ul>

</nav>
<style>
    .counter-badge {
    position: relative;
    top: -8px;
    right: -30px;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const userSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/tickets/"
);

userSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const el = document.getElementById("ticket-counter-main"); // یا ticket-counter-admin
    el.textContent = data.count;
    el.style.display = data.count > 0 ? "inline-block" : "none";
};

userSocket.onopen = function(e) {
    console.log("WebSocket connected!");
};
userSocket.onclose = function(e) {
    console.log("WebSocket closed!");
};

</script>

