{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">

          <ul class="nav">
            <li class="nav-item nav-profile bg-light">
              <a href="{% url 'manage_house' %}" class="nav-link">
                <div class="nav-profile-image">
                  <img src="{% static 'admin_panel/icone8/icons8-home.gif' %}" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <h5 class="mt-2"><strong>ساختمان من</strong></h5>
{#                    <span style="font-size: 12px;">تلفن :00000000</span>#}
                </div>
{#                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>#}
              </a>
            </li>

            <li class="nav-item">
               {% url 'user_panel' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title">داشبورد</i>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>

                <li class="nav-item mt-0">
                 {% url 'user_charges' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت شارژ</i>
                <i class="mdi mdi-bell-ring-outline menu-icon"></i>
              </a>
            
                      <li class="nav-item mt-0">
              <a class="nav-link" data-bs-toggle="collapse" href="#general2" aria-expanded="true"
                 aria-controls="general2">
                <i class="menu-title"> گزارشات </i>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-clipboard-text menu-icon"></i>
              </a>
              <div class="collapse" id="general2">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item mt-0">
                    <a class="nav-link" href="{% url 'user_announce_manage' %}"> اطلاعیه ها </a></li>
                     <li class="nav-item mt-0">
                    <a class="nav-link" href="{% url 'fund_turn_over_user' %}"> تراکنش مالی </a></li>
{#                    <li class="nav-item mt-0">#}
{#                    <a class="nav-link" href="#"> بیلان ساختمان </a></li>#}
                </ul>
              </div>
            </li>

{#             <li class="nav-item border-top mt-0">#}
{#                    {% url 'sms_management' as address_url %}#}
{#                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">#}
{#                <i class="menu-title"> پیامک ها</i>#}
{#                <i class="fas fa-comment-dots menu-icon"></i>#}
{#              </a>#}
{#            </li>#}
             <li class="nav-item border-top mt-0">
                    {% url 'sms_management' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> نظرسنجی</i>
                <i class="fas fa-send menu-icon"></i>
              </a>
            </li>
         <li class="nav-item mt-0">
              <a class="nav-link" data-bs-toggle="collapse" href="#general3" aria-expanded="true"
                 aria-controls="general3">
                <i class="menu-title"> پشتیبانی </i>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-clipboard-text menu-icon"></i>
              </a>
              <div class="collapse" id="general3">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item mt-0">
                    <a class="nav-link" href="{% url 'user_support_ticket' %}"> ارسال تیکت </a></li>
                     <li class="nav-item mt-0">
                    <a class="nav-link" href="{% url 'tickets' %}"> تیکت های من </a></li>
                </ul>
              </div>
            </li>


          </ul>

</nav>