{% extends 'middleShared/base_template.html' %}
{% load poll_extras %}

{% block page_title %}
امور مالی واحد
{% endblock page_title %}

{% block main_content %}
    <hr>
    
  <div class="container py-5">
{#   <div class="col-12 mb-3 text-start">#}
{#            <a class="btn btn-gradient-danger px-4 py-3"   href="{{ request.META.HTTP_REFERER }}">برگشت به لیست </a>#}
{#        </div>#}

         <div class="d-flex gap-2 mt-4 justify-content-center">

    <!-- کارت کارت به کارت -->
    <div class="card p-2 text-center bg-gradient-info" style="width: 300px; cursor:pointer;" data-bs-toggle="collapse" data-bs-target="#manualPayment{{ charge.id }}">
      <img src="/static/img/payment1.png" class="card-img-top" style="height: 120px; object-fit: contain;" alt="کارت به کارت">
      <div class="card-body p-1">
        <small class="text-white fw-bold">پرداخت شارژ</small>
      </div>
    </div>

    <!-- کارت پرداخت آنلاین -->
            
{#         <a href="" class="card p-2 text-center" style="width: 300px; text-decoration:none;">#}
{#      <img src="/static/img/deadline.jpg" class="card-img-top" style="height: 100px; object-fit: contain;" alt="پرداخت آنلاین">#}
{#      <div class="card-body p-1">#}
{#        <small>حذف جریمه واحد</small>#}
{#      </div>#}
{#    </a>#}
             
<button id="penaltyBtn{{ charge.id }}" 
        class="btn {% if not charge.is_penalty_waived %}btn-gradient-danger{% else %}btn-gradient-success{% endif %}" 
        data-bs-toggle="modal" 
        data-bs-target="#penaltyModal{{ charge.id }}">
    <img src="/static/img/deadline.png" class="card-img-top" style="height: 120px; object-fit: contain;" alt="پرداخت آنلاین">
    <span class="btn-text fw-bold">
        {% if not charge.is_penalty_waived %}حذف جریمه{% elif charge.previous_penalty_amount > 0 %}بازگردانی جریمه{% endif %}
    </span>
</button>

<div class="modal fade" id="penaltyModal{{ charge.id }}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title">
          {% if not charge.is_penalty_waived %}
            آیا نسبت به حذف جریمه اطمینان دارید؟
          {% elif charge.previous_penalty_amount > 0 %}
            آیا نسبت به بازگرداندن جریمه اطمینان دارید؟
          {% else %}
            هیچ جریمه‌ای برای بازگردانی وجود ندارد
          {% endif %}
        </h6>
      </div>

      <div class="modal-body text-center">
        {% if not charge.is_penalty_waived %}
          <p>مبلغ جریمه: <strong>{{ charge.penalty_amount|three_digit_currency }}</strong> تومان</p>
          <p>با حذف این جریمه، مبلغ کل شارژ به مبلغ پایه باز می‌گردد.</p>
        {% elif charge.previous_penalty_amount > 0 %}
          <p>مبلغ جریمه: <strong>{{ charge.previous_penalty_amount|three_digit_currency }}</strong> تومان</p>
          <p>با بازگرداندن جریمه، مبلغ کل شارژ به حالت قبلی خود بازمی‌گردد.</p>
        {% else %}
          <p class="text-muted">جریمه‌ای وجود ندارد.</p>
        {% endif %}
      </div>

      <div class="modal-footer">
        {% if not charge.is_penalty_waived %}
          <button class="btn btn-gradient-danger" onclick="waiveChargePenalty({{ charge.id }})">حذف جریمه</button>
        {% elif charge.previous_penalty_amount > 0 %}
          <button class="btn btn-gradient-success" onclick="restoreChargePenalty({{ charge.id }})">بازگردانی جریمه</button>
        {% endif %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
      </div>

    </div>
  </div>
</div>






  </div>

  <!-- فرم کارت به کارت -->
  <div class="collapse mt-2" id="manualPayment{{ charge.id }}">
     
      
<form id="paymentForm{{ charge.id }}" method="post" class="mx-auto" style="max-width: 400px;">
    {% csrf_token %}
    <div class="row mt-4">
        <div class="col-12">
            <p class="badge-gradient-info p-2">نام شارژ: {{ charge.title }}</p>
              <p class="badge-gradient-danger p-2">   مبلغ قابل پرداخت : {{ charge.total_charge_month|three_digit_currency }} تومان  </p>
                
        </div>
    </div>
    <div class="mb-3">
        {{ form.payment_date.label_tag }}
        {{ form.payment_date }}
        {{ form.payment_date.errors }}
    </div>

    <div class="mb-3">
        {{ form.transaction_reference.label_tag }}
        {{ form.transaction_reference }}
        {{ form.transaction_reference.errors }}
    </div>
     <div class="mb-3">
        {{ form.bank.label_tag }}
        {{ form.bank }}
        {{ form.bank.errors }}
    </div>


    <div class="text-center">
        <button type="submit" class="btn btn-gradient-success w-50">ثبت پرداخت</button>
    </div>
</form>


  </div>
  </div>

  

    <script>
document.addEventListener('DOMContentLoaded', function() {
    {% for charge in page_obj %}
    const form{{ charge.id }} = document.getElementById('paymentForm{{ charge.id }}');
    form{{ charge.id }}.addEventListener('submit', function(e) {
        e.preventDefault();
        const data = new FormData(form{{ charge.id }});
        fetch("{% url 'manual_payment_ajax' charge.id %}", {
            method: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            body: data
        })
        .then(res => res.json())
        .then(result => {
            if(result.success) {
                alert(result.message);
                // بروز رسانی مبلغ کل و جریمه در جدول
                document.querySelector('#chargeRow{{ charge.id }} .total_charge').innerText = result.total_charge_month.toLocaleString();
                document.querySelector('#chargeRow{{ charge.id }} .penalty_amount').innerText = result.penalty_amount.toLocaleString();
                form{{ charge.id }}.closest('.collapse').classList.remove('show'); // فرم مخفی شود
            } else {
                alert('خطا در ثبت پرداخت');
            }
        });
    });
    {% endfor %}
});
</script>
    
<script>
function waiveChargePenalty(chargeId) {
    fetch("{% url 'waive_penalty_bulk' %}", {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: new URLSearchParams({ 'charge_ids[]': chargeId })
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            const modalEl = document.getElementById(`penaltyModal${chargeId}`);
            bootstrap.Modal.getOrCreateInstance(modalEl).hide();

            // تغییر متن و کلاس دکمه
            const btn = document.getElementById(`penaltyBtn${chargeId}`);
            btn.querySelector('.btn-text').textContent = 'بازگردانی جریمه';
            btn.classList.remove('btn-gradient-danger');
            btn.classList.add('btn-gradient-success');

           Swal.fire({
            icon: 'success',
            title: 'موفقیت',
            html: 'جریمه این شارژ با موفقیت حذف شد',
            confirmButtonText: 'باشه'
        }).then(() => {
            // هدایت کاربر به آدرس مورد نظر
           window.location.href = data.redirect_url;

        });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'خطا',
                text: data.error || 'خطا در حذف جریمه',
                confirmButtonText: 'باشه'
            });
        }
    })
    .catch(err => {
        Swal.fire({
            icon: 'error',
            title: 'خطا',
            text: 'خطا در ارتباط با سرور',
            confirmButtonText: 'باشه'
        });
    });
}

function restoreChargePenalty(chargeId) {
    fetch("{% url 'restore_penalty' %}", {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: new URLSearchParams({ 'charge_ids[]': chargeId })
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            const modalEl = document.getElementById(`penaltyModal${chargeId}`);
            bootstrap.Modal.getOrCreateInstance(modalEl).hide();

            // تغییر متن و کلاس دکمه
            const btn = document.getElementById(`penaltyBtn${chargeId}`);
            btn.querySelector('.btn-text').textContent = 'حذف جریمه';
            btn.classList.remove('btn-gradient-success');
            btn.classList.add('btn-gradient-danger');

          Swal.fire({
            icon: 'success',
            title: 'موفقیت',
            html: 'جریمه این شارژ با موفقیت حذف شد',
            confirmButtonText: 'باشه'
            }).then(() => {
                // هدایت کاربر به آدرس مورد نظر
             window.location.href = data.redirect_url;
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'خطا',
                text: data.error || 'خطا در بازگردانی جریمه',
                confirmButtonText: 'باشه'
            });
        }
    })
    .catch(err => {
        Swal.fire({
            icon: 'error',
            title: 'خطا',
            text: 'خطا در ارتباط با سرور',
            confirmButtonText: 'باشه'
        });
    });
}
</script>


    
{% endblock main_content %}