{% extends 'shared/base_template.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
مدیریت واحدها ( تعداد کل ثبت شده:{{ total_units }} )
{% endblock page_title %}

{% block main_content %}
    <hr/>
<div class="container p-0">
      <div class="row align-self-center mb-2">
            <div class="col-12 col-md-3 col-xl-3 align-self-center">
                <a href="{% url 'add_unit' %}" class="btn btn-primary px-3 py-2">
                  <i class="mdi mdi-plus" aria-hidden="true"></i>افزودن واحد جدید
                </a>
                 </div>
          <div class="col-12 col-md-5 col-xl-5">
              <input type="text" id="searchInput" placeholder="جستجوی سریع در جدول..." onkeyup="searchTableUnit()" class="form-control mb-2 mt-2 p-1">
          </div>
        <div class=" col-12 col-md-4 col-xl-4 text-center align-self-center">
            <button onclick="openQuery()" class="btn btn-gradient-info px-2 py-2">جستجوی پیشرفته</button>
            <a href="{% url 'export_units_excel' %}?{{ request.GET.urlencode }}"
   class="btn btn-gradient-success px-2 py-2">خروجی Excel</a>
            <a href="{% url 'export_units_pdf' %}?{{ request.GET.urlencode }}"
               class="btn btn-gradient-danger px-2 py-2">
               خروجی PDF
            </a>
            </div>
          </div>
       <div id="query-form" style="display: none;" class="row mt-2">
            <form method="get">
               <div class="row mt-2">
                     <div class="col-md-2">
                          <input type="text" name="unit" class="form-control" placeholder="شماره واحد"
                               value="{{ request.GET.unit }}">
                    </div>
                     <div class="col-md-2">
                        <input type="text" name="owner_name" class="form-control" placeholder="نام مالک"
                               value="{{ request.GET.owner_name }}">
                    </div>
                     <div class="col-md-2">
                        <input type="text" name="owner_mobile" class="form-control" placeholder="موبایل مالک"
                               value="{{ request.GET.owner_mobile }}">
                    </div>
                     <div class="col-md-2">
                            <input type="text"  name="area" class="form-control" placeholder=" متراژ"
                                   value="{{ request.GET.area }}">
                          </div>
                     <div class="col-md-2">
                        <input type="text"  name="bedrooms_count" class="form-control" placeholder=" تعداد خواب"
                               value="{{ request.GET.bedrooms_count }}">
                        </div>
               </div>
                <div class="row mt-2 mb-2">
                      <div class="col-md-2">
                <input type="text" name="renter_name" class="form-control" placeholder=" نام مستاجر"
                       value="{{ request.GET.renter_name }}">
            </div>
                      <div class="col-md-2">
                       <input type="text" name="renter_mobile" class="form-control" placeholder=" موبایل مستاجر"
                       value="{{ request.GET.renter_mobile }}">
                      </div>
                     <div class="col-md-2">
                       <input type="text" name="people_count" class="form-control" placeholder=" تعداد نفرات"
                       value="{{ request.GET.people_count }}">
                      </div>
                     <div class="col-md-2">
                       <input type="text" name="status_residence" class="form-control" placeholder="وضعیت سکونت"
                       value="{{ request.GET.status_residence }}">
                      </div>
                    
                     <div class="col-md-2 align-self-center text-center">
                      <button type="submit" class="btn btn-facebook px-4 py-2">جستجوی پیشرفته</button>
                    </div>
                    <div class="col-md-2 align-self-center text-center ">
                      <a href="{% url 'manage_unit' %}" class="btn btn-gradient-danger px-4 py-2">پاک‌کردن فیلتر</a>
                    </div>
                    </div>
               </form>
         </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="unitTable">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th> واحد</th>
                            <th>نام مالک</th>
                            <th>موبایل مالک</th>
                              <th>متراژ</th>
                            <th>تعداد خواب</th>
{#                            <th>تعداد نفرات مالک</th>#}
                            <th>نام مستاجر</th>
                            <th>موبایل مستاجر</th>
                            <th>تعداد نفرات </th>
                            <th>وضعیت سکونت</th>
                            <th>فعال/غیرفعال</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
               
                        <tbody class="text-center">
                         {% if object_list  %}
                      {% for unit in object_list  %}
                            <tr>
                          <td>{{ forloop.counter }}</td>
                            <td>{{ unit.unit }}</td>
                            <td>{{ unit.owner_name }}</td>
                            <td>{{ unit.owner_mobile }}</td>
                            <td>{{ unit.area }}</td>
                            <td>{{ unit.bedrooms_count }}</td>
{#                            <td>{{ unit.owner_people_count }}</td>#}
                            
                            <!-- Display Renters (multiple possible) -->
                            <td>
                                {% if unit.renters.all %}
                                    {% for renter in unit.renters.all %}
                                         {% if renter.renter_is_active %}
                                        {{ renter.renter_name }} <br>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            
                            <!-- Display Renters' Mobile Numbers (multiple possible) -->
                            <td>
                                {% if unit.renters.all %}
                                    {% for renter in unit.renters.all %}
                                         {% if renter.renter_is_active %}
                                        {{ renter.renter_mobile }} <br>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            
                            <!-- Display Renters' People Count (multiple possible) -->
                            <td>
                              {{ unit.people_count }}
                            </td>
                            
                            <td>{{ unit.status_residence }}</td>
                            <td>
                                {% if unit.is_active %}
                                    <button class="btn btn-primary bg-success p-1">فعال</button>
                                {% else %}
                                    <button class="btn btn-danger p-1">غیر فعال</button>
                                {% endif %}
                            </td>

                                   <td class="col-lg-1 col-xl-1 p-0">
                                        <a href="{% url 'unit_info' unit.id %}" class="btn btn-info p-1 p-1">
                                              <i class="mdi mdi-eye" aria-hidden="true"></i>
                                            </a>
                                         <a href="{% url 'edit_unit' unit.id %}" class="btn btn-warning p-1">
                                              <i class="mdi mdi-lead-pencil" aria-hidden="true"></i>
                                            </a>
                                              <a href="{% url 'delete_unit' unit.id %}" class="btn btn-danger p-1"
                                           onclick="return confirm('آیا نسبت به حذف این آیتم اطمینان دارید؟')">
                                                  <i class="mdi mdi-delete" aria-hidden="true"></i>
                                                </a>

                            </td>
                            </tr>
                        {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="13" class="text-center">هیچ پیامی برای نمایش وجود ندارد.</td>
                            </tr>
                 {% endif %}
                     <tbody>
                   
                </table>



            </div>
        </div>


    <div class="col-12">
            <div class="pagination d-flex justify-content-center mt-5">

            {% if page_obj.has_previous %}
                 <a href="?page={{ page_obj.previous_page_number }}" class="rounded">قبلی</a>
            {% endif %}

                {% for pageNumber in paginator.page_range %}
                      <a href="?page={{ pageNumber }}" class="{% if page_obj.number == pageNumber %}active{% endif %}">{{ pageNumber }}</a>
                {% endfor %}

            {% if page_obj.has_next %}
                 <a href="?page={{ page_obj.next_page_number }}" class="rounded">بعدی</a>
            {% endif %}
            </div>
        </div>
{% endblock %}








