{% extends 'shared/base_template.html' %}
{% load static %}
{% load poll_extras %}
{% load jalali_tags %}


{% block page_title %}
محاسبه شارژ بر اساس متراژ
{% endblock page_title %}

{% block main_content %}
    <hr/>
<div class="container mt-3">
 <div class="col-12 mb-2">
                <button type="button" class="btn btn-primary px-3 py-2" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                  <i class="mdi mdi-plus" aria-hidden="true"></i>افزودن شارژ جدید 
                </button>
                 </div>
               <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                        <th> عنوان شارژ </th>
                                        <th class="p-0">مبلغ ثابت بر اساس متراژ</th>
                                        <th class="p-0">تعداد واحدها</th>
                                        <th>متراژ کل</th>
                                        <th>مبلغ شارژ به ازای هر متر</th>
                                        <th> شارژ عمرانی </th>
                                        <th> توضیحات </th>
                                        <th>تاریخ ایجاد</th>
                                        <th>دستورات</th>
                                    </tr>
                                </thead>
                            {% if charges %}
                           {% for charge in charges %}
                                    <tbody class="text-center">
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{charge.charge_name }}</td>
                                            <td>{{charge.area_amount|three_digit_currency }}</td>
                                            <td>{{charge.unit_count }}</td>
                                            <td>{{charge.total_area }}</td>
                                            <td class="bg-gradient-light p-0"><strong>{{charge.final_area_amount|three_digit_currency }}</strong></td>
                                            <td>{{charge.civil_charge|three_digit_currency }}</td>
                                            <td>{{charge.details }}</td>
                                            <td>{{charge.created_at|show_jalali }}</td>
                                            
                                               <td class="p-0">
                                                      <a
                                           class="btn btn-gradient-info p-1 edit-charge-area-btn"
                                           data-id="{{ charge.id }}"
                                           data-charge_name="{{ charge.charge_name }}"
                                           data-area_amount="{{ charge.area_amount}}"
                                           data-civil_charge="{{ charge.civil_charge }}"
                                           data-final_area_amount="{{ charge.final_area_amount }}"
                                           data-details="{{ charge.details }}"
                                           data-bs-toggle="modal"
                                           data-bs-target="#exampleModalLong">
                                           <i class="mdi mdi-lead-pencil" aria-hidden="true"></i>
                                        </a>
                                                          <a href="{% url 'charge-area_delete' charge.id %}" class="btn btn-gradient-danger p-1"
                                                       onclick="return confirmDeleteWithSweetAlert(event)">
                                                              <i class="mdi mdi-delete" aria-hidden="true"></i>
                                                            </a>
                                                     <a href="" class="btn btn-gradient-success p-2"
                                                       onclick="return confirm('آیا نسبت به اعلام شارژ اطمینان دارید؟')">
                                                            اعلام شارژ
                                                            </a>

                                        </td>
                                        </tr>
                                    {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="11" class="text-center">هیچ رکوردی برای نمایش وجود ندارد.</td>
                                        </tr>
                                 <tbody>
                                {% endif %}
                           
{#                                <td class="bg-gradient-light text-dark" colspan="5"> تعداد واحدها:  {{ unit_count }}</td>#}
{#                                <td class="bg-gradient-primary" colspan="1"> تعداد نفرات: {{ total_people }}</td>#}
{#                                <td class="bg-gradient-primary" colspan="4"> متراژ کل واحدها: {{ total_area }}</td>#}
                            
                            </table>
                
       
               </div>
{#                <div class="container">#}
{#                        <div class="row align-items-center text-center mt-3">#}
{#                                <div class="col-2 bg-gradient-info">#}
{#                                    <p style="font-size: 15px">#}
{#                                   تعداد واحدها:  {{ unit_count }}#}
{#                                        </p>#}
{#                                </div>#}
{#                                <div class="col-2 bg-gradient-dark p-0">#}
{#                                    <p>#}
{#                                   تعداد نفرات: {{ total_people }}#}
{#                                        </p>#}
{#                                </div>#}
{#                                <div class="col-2 bg-gradient-warning">#}
{#                                    <p>#}
{#                                  متراژ کل واحدها: {{ total_area }}#}
{#                                        </p>#}
{#                                </div>#}
{#                              </div>#}
{#                    </div>#}
    <hr>

</div>
    
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="exampleModalLongTitle">
        <h5 class="modal-title">افزودن شارژ بر اساس متراژ</h5>
      </div>
         <hr>
      <div class="modal-body" >
         {{ form.non_field_errors }}
          <form id="areaForm" action="" method="POST"
                enctype="multipart/form-data" novalidate>
              {% csrf_token %}
                 <div class="row g-2">
                  <div class="col-6">
                      {{ form.charge_name.label_tag }}
                      {{ form.charge_name }}
                      {{ form.charge_name.errors }}
                  </div>
                     <div class="col-6">
                         <label for="">متراژ کل ساختمان:</label>
                         <input type="text" class="form-control" placeholder="متراژ کل"
                               value="{{ total_area }}" readonly>
                     </div>
                 </div>
              <div class="row">
                      <div class="col-6">
                       {{ form.area_amount.label_tag }}
                      {{ form.area_amount }}
                      {{ form.area_amount.errors }}
                  </div>
                     <div class="col-6">
                       {{ form.civil_charge.label_tag }}
                      {{ form.civil_charge }}
                      {{ form.civil_charge.errors }}
                  </div>
                     </div>
                  <div class="row g-2">
                      <div class="col-12 ">
                       {{ form.details.label_tag }}
                      {{ form.details }}
                      {{ form.details.errors }}
                  </div>
                     </div>
              
                   <hr class="mt-2" style="color: #0f1531">
                    <div class="d-flex justify-content-between">
                        <button type="submit" name="submit_bank" id="btn-submit-receive" class="btn btn-gradient-success px-4 py-2">ثبت شارژ</button>
                           <button type="button" class="btn btn-dark p-3" data-bs-dismiss="modal">بستن</button>
                     </div>
        

          </form>
      </div>

    </div>
  </div>
</div>

    
    
{% endblock %}


