{% extends 'shared/base_template.html' %}
{% load static %}
{% load poll_extras %}
{% load jalali_tags %}


{% block page_title %}
محاسبه شارژ بر اساس واحدی متراژی
{% endblock page_title %}

{% block main_content %}
    <hr/>
<div class="container mt-3">
 <div class="col-12 mb-2">
                <button type="button" class="btn btn-primary px-3 py-2" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                  <i class="mdi mdi-plus" aria-hidden="true"></i>افزودن شارژ جدید 
                </button>
                 </div>
               <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                        <th> عنوان شارژ </th>
                                        <th>  شارژ ثابت</th>
                                        <th class="p-0">مبلغ ثابت بر اساس متراژ(تومان)</th>
                                        <th>تعداد واحدها</th>
                                        <th>متراژ کل</th>
                                        <th>مبلغ شارژ هر واحد(تومان)</th>
                                        <th> شارژ عمرانی </th>
                                        <th>جمع کل شارژ ماه </th>
                                        <th> توضیحات </th>
                                        <th>تاریخ ایجاد</th>
                                        <th>دستورات</th>
                                    </tr>
                                </thead>
                            {% if charges %}
                           {% for charge in charges %}
                                    <tbody class="text-center">
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{charge.charge_name }}</td>
                                            <td>{{charge.fix_charge|three_digit_currency  }}</td>
                                            <td>{{charge.area_amount|three_digit_currency }}</td>
                                            <td>{{charge.unit_count }}</td>
                                            <td>{{charge.total_area }}</td>
                                            <td class="bg-gradient-light p-0"><strong>{{charge.final_person_amount|three_digit_currency }}</strong></td>
                                            <td>{{charge.civil_charge|three_digit_currency }}</td>
                                          <td>{{ charge.total_charge_month|three_digit_currency }}</td>
                                            <td>{{charge.details }}</td>
                                            <td>{{charge.created_at|show_jalali }}</td>
                                            
                                               <td>
                                                      <a
                                           class="btn btn-gradient-info p-1 edit-fix-area-btn"
                                           data-id="{{ charge.id }}"
                                           data-charge_name="{{ charge.charge_name }}"
                                           data-fix_charge="{{ charge.fix_charge }}"
                                           data-area_amount="{{ charge.area_amount}}"
                                           data-civil_charge="{{ charge.civil_charge }}"
{#                                           data-final_area_amount="{{ charge.final_area_amount }}"#}
                                           data-details="{{ charge.details }}"
                                           data-bs-toggle="modal"
                                           data-bs-target="#exampleModalLong">
                                           <i class="mdi mdi-lead-pencil" aria-hidden="true"></i>
                                        </a>
                                          <a href="{% url 'charge-fix_area_delete' charge.id %}" class="btn btn-gradient-danger p-1"
                                       onclick="return confirmDeleteWithSweetAlert(event)">
                                              <i class="mdi mdi-delete" aria-hidden="true"></i>
                                            </a>

                                        </td>
                                        </tr>
                                    {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="12" class="text-center">هیچ رکوردی برای نمایش وجود ندارد.</td>
                                        </tr>
                                 <tbody>
                                {% endif %}
                            <tfoot class="text-center bg-light">
                            <tr>
                                <td colspan="8" class="text-end"><strong>جمع شارژ سالانه:</strong></td>
                                <td class="text-dark"><strong>{{ total_charge_year|floatformat:0|three_digit_currency }} تومان</strong></td>
                                <td colspan="3"></td>
                            </tr>
                        </tfoot>
                            </table>
       
               </div>

    <hr>

</div>
    
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="exampleModalLongTitle">
        <h5 class="modal-title">محاسبه شارژ بر اساس واحدی متراژی</h5>
      </div>
         <hr>
      <div class="modal-body" >
         {{ form.non_field_errors }}
          <form id="fixAreaForm" action="" method="POST"
                enctype="multipart/form-data" novalidate>
              {% csrf_token %}
                 <div class="row g-2">
                  <div class="col-6">
                      {{ form.charge_name.label_tag }}
                      {{ form.charge_name }}
                      {{ form.charge_name.errors }}
                  </div>
                     <div class="col-6">
                         <label for="">متراژ کل ساختمان:</label>
                         <input type="text" class="form-control" placeholder="متراژ کل"
                               value="{{ total_area }}" readonly>
                     </div>
                 </div>
              <div class="row g-2">
                      <div class="col-6">
                      {{ form.fix_charge.label_tag }}
                      {{ form.fix_charge }}
                      {{ form.fix_charge.errors }}
                  </div>
                     <div class="col-6">
                         {{ form.civil_charge.label_tag }}
                      {{ form.civil_charge }}
                      {{ form.civil_charge.errors }}
                  </div>
                     </div>
               <div class="row g-2">
                      <div class="col-12 ">
                           {{ form.area_amount.label_tag }}
                      {{ form.area_amount }}
                      {{ form.area_amount.errors }}
                      
                  </div>
                     </div>
                  <div class="row g-2">
                      <div class="col-12 ">
                       {{ form.details.label_tag }}
                      {{ form.details }}
                      {{ form.details.errors }}
                  </div>
                     </div>
              
                   <hr class="mt-2" style="color: #0f1531">
                    <div class="d-flex justify-content-between">
                        <button type="submit" name="submit_receive" id="btn-submit-receive" class="btn btn-gradient-success px-4 py-2">ثبت شارژ</button>
                           <button type="button" class="btn btn-dark p-3" data-bs-dismiss="modal">بستن</button>
                     </div>
        

          </form>
      </div>

    </div>
  </div>
</div>

    
    
{% endblock %}


