{% extends 'shared/base_template.html' %}
{% load static %}
{% load poll_extras %}
{% load jalali_tags %}


{% block page_title %}
محاسبه شارژ بر اساس واحدی نفری متراژی
{% endblock page_title %}

{% block main_content %}

<div class="container py-5">
{# <div class="col-12 mb-2">#}
{#                <button type="button" class="btn btn-primary px-1 py-2" data-bs-toggle="modal" data-bs-target="#exampleModalLong">#}
{#                     <img src="/static/admin_panel/icone8/icons8-plus.gif" class="mx-2" width="20" alt="">#}
{#                    افزودن شارژ جدید #}
{#                </button>#}
{#                 </div>#}

               <div class="table-responsive">
                             <table class="table table-bordered border-primary">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                        <th> عنوان شارژ </th>
                                          <th>شارژ ثابت </th>
                                        <th>مبلغ شارژ هر متر</th>
                                        <th>مبلغ شارژ هر نفر</th>
{#                                        <th>تعداد کل نفرات</th>#}
{#                                        <th> متراژ کل</th>#}
                                        <th> شارژ عمرانی </th>
                                          <th> سایر هزینه ها </th>
{#                                        <th> توضیحات </th>#}
                                        <th>تاریخ ثبت شارژ</th>
                                        <th> دیرکرد</th>
                                            <th>مهلت پرداخت </th>
                                        <th>اعلام شارژ</th>
{#                                        <th>دستورات</th>#}
                                    </tr>
                                </thead>
                            {% if charges %}
                           {% for charge in charges %}
                                    <tbody class="text-center">
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{charge.name }}</td>
                                            <td>{{charge.fix_charge_amount }}</td>
                                            <td>{{charge.area_amount|three_digit_currency }}</td>
                                            <td>{{charge.person_amount|three_digit_currency }}</td>
{#                                            <td>{{charge.total_people }}</td>#}
{#                                            <td>{{charge.total_area }}</td>#}
                                            <td>{{charge.civil|three_digit_currency }}</td>
                                             <td>{{charge.other_cost_amount|three_digit_currency }}</td>
{#                                            <td>{{charge.details }}</td>#}
                                            <td>{{charge.created_at|show_jalali }}</td>
                                                     <td>% {{charge.payment_penalty_amount }}</td>
                                             <td>{{charge.payment_deadline|show_jalali }}</td>
                                            
                                               <td class="bg-light">
                                                <span>{{ charge.notified_count }} از {{ unit_count }} واحد</span>
                                                </td>
                                            
{#                                               <td class="p-0">#}
{#                                                      <a#}
{#                                           class="btn btn-gradient-info p-1 edit-area-person-fix-btn"#}
{#                                           data-id="{{ charge.id }}"#}
{#                                           data-name="{{ charge.name }}"#}
{#                                           data-fix_charge_amount="{{ charge.fix_charge_amount }}"#}
{#                                           data-person_amount="{{ charge.person_amount }}"#}
{#                                           data-area_amount="{{ charge.area_amount}}"#}
{#                                           data-civil="{{ charge.civil }}"#}
{#                                           data-other_cost_amount="{{ charge.other_cost_amount }}"#}
{#                                           data-details="{{ charge.details }}"#}
{#                                           data-payment_penalty_amount="{{ charge.payment_penalty_amount }}"#}
{#                                           data-payment_deadline="{{ charge.payment_deadline|show_jalali }}"#}
{#                                           data-bs-toggle="modal"#}
{#                                           data-bs-target="#exampleModalLong">#}
{#                                           <i class="mdi mdi-lead-pencil" aria-hidden="true"></i>#}
{#                                        </a>#}
{#                                          <a href="{% url 'charge_area_person_fix_delete' charge.id %}" class="btn btn-gradient-danger p-1"#}
{#                                       onclick="return confirmDeleteWithSweetAlert(event)">#}
{#                                              <i class="mdi mdi-delete" aria-hidden="true"></i>#}
{#                                            </a>#}
{#                                   <a href="{% url 'show_notification_fix_person_area_charge_form' charge.id %}"#}
{#                                    class="btn btn-gradient-success p-1" #}
{#                                          data-bs-toggle="tooltip"  title="اعلان شارژ">#}
{#                                         <i class="fas fa-bullhorn fa-flip-horizontal"></i>#}
{#                                            </a>#}
{##}
{#                                        </td>#}
                                        </tr>
                                    {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="15" class="text-center">هیچ رکوردی برای نمایش وجود ندارد.</td>
                                        </tr>
                                 <tbody>
                                {% endif %}
               
                            </table>
         <div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">

        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="rounded">قبلی</a>
        {% endif %}

        {% for pageNumber in page_obj.paginator.page_range %}
            <a href="?page={{ pageNumber }}" class="{% if page_obj.number == pageNumber %}active{% endif %}">{{ pageNumber }}</a>
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="rounded">بعدی</a>
        {% endif %}

    </div>
</div>
               </div>



</div>
    
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="exampleModalLongTitle">
        <h5 class="modal-title">محاسبه شارژ بر اساس واحدی متراژی نفری</h5>
      </div>
         <hr>
      <div class="modal-body" >
         {{ form.non_field_errors }}
          <form id="FixPersonAreaForm" action="" method="POST"
                enctype="multipart/form-data" novalidate>
              {% csrf_token %}
                 <div class="row g-2">
                  <div class="col-6">
                      {{ form.name.label_tag }}
                      {{ form.name }}
                      {{ form.name.errors }}
                  </div>
                             <div class="col-6">
                      {{ form.fix_charge_amount.label_tag }}
                      {{ form.fix_charge_amount }}
                      {{ form.fix_charge_amount.errors }}
                  </div>
                 </div>
               
              <div class="row g-2">
                   <div class="col-6">
                         <label for="">تعداد کل نفرات:</label>
                         <input type="text" class="form-control" placeholder=" کل نفرات"
                               value="{{ total_people }}" readonly>
                     </div>
                   <div class="col-6">
                         <label for="">متراژ کل ساختمان:</label>
                         <input type="text" class="form-control" placeholder="متراژ کل"
                               value="{{ total_area }}" readonly>
                     </div>
                 </div>
                <div class="row g-2">
                      <div class="col-6">
                      {{ form.person_amount.label_tag }}
                      {{ form.person_amount }}
                      {{ form.person_amount.errors }}
                  </div>
                     <div class="col-6">
                         {{ form.area_amount.label_tag }}
                      {{ form.area_amount }}
                      {{ form.area_amount.errors }}
                  </div>
                     </div>
               <div class="row g-2">
                     <div class="col-6">
                      {{ form.other_cost_amount.label_tag }}
                      {{ form.other_cost_amount }}
                      {{ form.other_cost_amount.errors }}
                  </div>
                        <div class="col-6">
                      {{ form.civil.label_tag }}
                      {{ form.civil }}
                      {{ form.civil.errors }}
                  </div>
                     </div>
                    <div class="row g-2">
                           <div class="col-6">
                       {{ form.payment_deadline.label_tag }}
                      {{ form.payment_deadline }}
                      {{ form.payment_deadline.errors }}
                  </div>
                     <div class="col-6">
                       {{ form.payment_penalty_amount.label_tag }}
                      {{ form.payment_penalty_amount }}
                      {{ form.payment_penalty_amount.errors }}
                  </div>
              </div>
                  <div class="row g-2">
                      <div class="col-12 ">
                       {{ form.details.label_tag }}
                      {{ form.details }}
                      {{ form.details.errors }}
                  </div>
                     </div>
              
                   <hr class="mt-2" style="color: #0f1531">
                    <div class="d-flex justify-content-between">
                        <button type="submit" name="submit_receive" id="btn-submit-receive" class="btn btn-gradient-success px-4 py-2">ثبت شارژ</button>
                           <button type="button" class="btn btn-dark p-3" data-bs-dismiss="modal">بستن</button>
                     </div>
        

          </form>
      </div>

    </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if request.GET.error == 'paid' %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      Swal.fire({
        icon: 'error',
        text: 'امکان ویرایش وجود ندارد زیرا حداقل یک واحد شارژ خود را پرداخت کرده است. لطفا اصلاحیه شارژ ثبت کنید!',
        confirmButtonText: 'باشه'
      });
    });
  </script>
{% elif request.GET.error == 'notify' %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      Swal.fire({
        icon: 'error',
        text: 'امکان ویرایش وجود ندارد، باید ابتدا اطلاعیه های ارسال را حذف کنید سپس ویرایش و مجددا ارسال نمایید!',
        confirmButtonText: 'باشه'
      });
    });
  </script>
{% endif %}
    
    
{% endblock %}


