<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سامانه مدیریت مجتمع بلوک B آبشار</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/static/css/core.css">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/Bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/sweetalert2@11.js"></script>
    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>


</head>
<body>

<div class="container-fluid ">
        <div class="row">
            <div class="col p-0">
                <div id="grad1"></div>
            </div>
        </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col">
        <img src="/static/img/logo3.png" class="logo-style" alt="">
    </div>
  </div>
</div>

<div class="container text-end mt-1">
  <div class="row align-items-start" >
    <div class="col-12 col-lg-8 col-xl-8 ">
        <hr/>
        <h4 class="header-style mt-4">اطلاعیه ها:</h4>
        {% for announcement in announcements %}
    <div class="row">
        <div class="col-1 align-self-start mt-3">
            <i class="fa fa-bell d-flex justify-content-end" style="color: rgba(98,112,204,0.98);"></i>
        </div>
        <div class="col-11 justify-content-center">

            	 <p class="info-text mt-2">
                 {{ announcement.title }}
             </p>

        </div>
    </div>
            {% endfor %}

    </div>
    <div class="col-12 col-lg-4 col-xl-4 login_style px-5">

        	<form action="" method="post" novalidate>
                             {% csrf_token %}

                       {% if messages %}
                            <div class="alert alert-danger px-5 py-2">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                            {% endif %}
                    <div class="row px-4">
                          <h5 class="mb-4 px-5">ورود به سامانه</h5>
                        <div class="col-md-12 px-5">
                            <label class="label_form">نام کاربری:</label>
                            {{ form.mobile }}
                        </div>
                        <div class="col-md-12 px-5">
                             <label class="label_form">کلمه عبور:</label>
                            {{ form.password }}
                        </div>
                                <div class="d-flex justify-content-between px-5">
                                    <a href="{% url 'mobile_login' %}" class="btn btn-info  px-3 mt-1">ورود با شماره همراه</a>
                                     <button type="submit" class="btn btn-info px-3 mt-1">ورود</button>
                                </div>
                        </div>

						</form>

{#      <form method="post" action="{% url 'dashboard' %}">#}
{#          {% csrf_token %}#}
{#           <h5 class="mt-1">ورود به سامانه</h5>#}
{#  <div class="form-group mt-4">#}
{#    <label for="exampleInputEmail1">شماره همراه</label>#}
{#    <input type="text" class="form-control" name="mobile" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">#}
{#    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label for="exampleInputPassword1">رمز عبور</label>#}
{#    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
{#  </div>#}
{#  <div class="form-group form-check">#}
{##}
{#  <button type="submit" class="btn btn-primary mt-2 d-flex align-items-center">ورود</button>#}
{#</form>#}
    </div>
  </div>

    <div class="row">
    <div class="col-12">
        <hr/>
        <p><i class="fa fa-copyright px-2"></i>تمام حقوق مادی و معنوی این سامانه متعلق بُشگردی می باشد.  </p>
    </div>
</div>
</div>



</body>
</html>