{% load static %}
{% load poll_extras %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">

          <ul class="nav">
            <li class="nav-item nav-profile bg-light">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="{% static 'admin_panel/icone8/icons8-home.gif' %}" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <h5 class="mt-2"><strong>ساختمان من</strong></h5>
{#                    <span style="font-size: 12px;">افرودن/ویرایش</span>#}
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>

            <li class="nav-item">
               {% url 'admin_dashboard' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title">داشبورد</i>
                <i class="mdi mdi-cellphone-link menu-icon"></i>
              </a>
            </li>

                <li class="nav-item border-top  mt-0">
                 {% url 'subscription' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت اشتراک</i>
                <i class="mdi mdi mdi-web menu-icon"></i>
              </a>
            </li>
             <li class="nav-item border-top  mt-0">
                 {% url 'announcement' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت اطلاعیه ها</i>
                <i class="mdi mdi-bell-ring-outline menu-icon"></i>
              </a>
            </li>
{#                         <li class="nav-item border-top mt-0">#}
{#                 {% url 'message_admin_to_middle' as address_url %}#}
{#                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">#}
{#                <i class="menu-title"> مدیریت پیام ها</i>#}
{#                <i class="mdi mdi-bell-ring-outline menu-icon"></i>#}
{#              </a>#}
{#            </li>#}
          {% url 'message_admin_to_middle' as url_message_to_middle %}
            {% url 'admin_message_management' as url_admin_message_list %}

            <li class="nav-item border-top mt-0">
              <a class="nav-link" data-bs-toggle="collapse"
                 href="#general145"
                 aria-expanded="true"
                 aria-controls="general145">
                <i class="menu-title"> مدیریت پیام ها </i>
                <i class="menu-arrow"></i>
                <i class="fas fa-bullhorn fa-flip-horizontal menu-icon"></i>
              </a>

              <div class="collapse {% if request.path == url_message_to_middle or request.path == url_admin_message_list %}show{% endif %}" id="general145">
                <ul class="nav flex-column sub-menu">

                  <li class="nav-item mt-0">
                    <a class="nav-link {% if request.path == url_message_to_middle %}active{% endif %}"
                       href="{{ url_message_to_middle }}">
                       ثبت پیام
                    </a>
                  </li>

                  <li class="nav-item mt-0">
                    <a class="nav-link {% if request.path == url_admin_message_list %}active{% endif %}"
                       href="{{ url_admin_message_list }}">
                       پیام های ارسالی
                    </a>
                  </li>

                </ul>
              </div>
            </li>
        
               <li class="nav-item border-top mt-0">
                 {% url 'manage_house' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت ساختمان</i>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
               <li class="nav-item mt-0">
                 {% url 'create_middle_admin' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت مدیران </i>
                <i class="mdi mdi-account-star  menu-icon"></i>
              </a>
            </li>
                  <li class="nav-item mt-0">
                 {% url 'user_management' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت کاربران </i>
                <i class="mdi mdi-account-group  menu-icon"></i>
              </a>
            </li>
                <li class="nav-item  mt-0">
                 {% url 'manage_bank' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت حساب بانکی</i>
                <i class="fas fa-bank menu-icon menu-icon"></i>
              </a>
            </li>
          
           <li class="nav-item border-top mt-0">
                 {% url 'manage_unit' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت واحدها</i>
                <i class="mdi mdi-city menu-icon menu-icon"></i>
              </a>
            </li>
          
               <li class="nav-item border-top mt-0">
                 {% url 'add_charge_category' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> افزودن مدل شارژ</i>
                <i class="mdi mdi-square-inc-cash menu-icon"></i>
              </a>
            </li>
             <li class="nav-item mt-0">
                 {% url 'charges_method' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت شارژ</i>
                <i class="mdi mdi-square-inc-cash menu-icon"></i>
              </a>
            </li>
{#              <li class="nav-item mt-0">#}
{#                 {% url 'charge_issued' as address_url %}#}
{#                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">#}
{#                <i class="menu-title">شارژ های صادره</i>#}
{#                <i class="mdi mdi-square-inc-cash menu-icon"></i>#}
{#              </a>#}
{#            </li>#}

{#             <li class="nav-item border-top mt-0">#}
{#              <a class="nav-link" data-bs-toggle="collapse" href="#general23" aria-expanded="true"#}
{#                 aria-controls="general23">#}
{#                <i class="menu-title"> عملیات</i>#}
{#                <i class="menu-arrow"></i>#}
{#                <i class="mdi mdi-desktop-mac menu-icon"></i>#}
{#              </a>#}
{#              <div class="collapse" id="general23">#}
{#                <ul class="nav flex-column sub-menu">#}
{#                    <li class="nav-item mt-0">#}
{#                    <a class="nav-link" href="{% url 'add_income' %}"> ثبت درآمد  </a></li>#}
{#                    <li class="nav-item mt-0">#}
{#                    <a class="nav-link" href="{% url 'add_expense' %}"> ثبت هزینه  </a></li>#}
{#                  <li class="nav-item mt-0">#}
{#                    <a class="nav-link" href="{% url 'add_receive' %}">مدیریت اسناد دریافتنی </a></li>#}
{#                    <li class="nav-item mt-0">#}
{#                    <a class="nav-link" href="{% url 'add_pay' %}"> مدیریت اسناد پرداختنی </a></li>#}
{#                     <li class="nav-item mt-0">#}
{#                    <a class="nav-link" href="{% url 'add_property' %}"> ثبت اموال ساختمان </a></li>#}
{#                      <li class="nav-item mt-0">#}
{#                    <a class="nav-link" href="{% url 'add_maintenance' %}"> ثبت تعمیر و نگهداری </a></li>#}
{##}
{#                </ul>#}
{#              </div>#}
{#             </li>#}
          
{#          <li class="nav-item mt-0 border-top">#}
{#  <a class="nav-link" data-bs-toggle="collapse" href="#general3"#}
{#     aria-expanded="{% if request.resolver_match.url_name in 'admin_fund_report admin_banks_report admin_unit_fund_report charge_issued admin_debtor_report admin_unit_history_report admin_expense_report admin_income_report admin_receive_report admin_pay_report admin_property_report admin_maintenance_report admin_billan_report' %}true{% else %}false{% endif %}"#}
{#     aria-controls="general3">#}
{#    <i class="menu-title">گزارشات</i>#}
{#    <i class="menu-arrow"></i>#}
{#    <i class="mdi mdi-clipboard-text menu-icon"></i>#}
{#  </a>#}
{#  <div class="collapse {% if request.resolver_match.url_name in 'admin_fund_report admin_banks_report admin_unit_fund_report charge_issued admin_debtor_report admin_unit_history_report admin_expense_report admin_income_report admin_receive_report admin_pay_report admin_property_report admin_maintenance_report admin_billan_report' %}show{% endif %}" id="general3">#}
{#    <ul class="nav flex-column sub-menu">#}
{#      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_fund_report' %}active{% endif %}" href="{% url 'admin_fund_report' %}">گردش صندوق</a></li>#}
{#      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_unit_fund_report' %}active{% endif %}" href="{% url 'admin_unit_fund_report' %}">گردش مالی اشخاص</a></li>#}
{#      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_banks_report' %}active{% endif %}" href="{% url 'admin_banks_report' %}"> بانک ها</a></li>#}
{#        <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'charge_issued' %}active{% endif %}" href="{% url 'charge_issued' %}">شارژ های اعلامی</a></li>#}
{#      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_debtor_report' %}active{% endif %}" href="{% url 'admin_debtor_report' %}">واحدهای بدهکار</a></li>#}
{#      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_unit_history_report' %}active{% endif %}" href="{% url 'admin_unit_history_report' %}">سوابق سکونت واحدها</a></li>#}
{#      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_expense_report' %}active{% endif %}" href="{% url 'admin_expense_report' %}">هزینه‌ها</a></li>#}
{#      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_income_report' %}active{% endif %}" href="{% url 'admin_income_report' %}">درآمدها</a></li>#}
{#       <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_receive_report' %}active{% endif %}" href="{% url 'admin_receive_report' %}">اسناد دریافتی</a></li>#}
{#       <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_pay_report' %}active{% endif %}" href="{% url 'admin_pay_report' %}">اسناد پرداختی </a></li>#}
{#      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_property_report' %}active{% endif %}" href="{% url 'admin_property_report' %}">اموال ساختمان</a></li>#}
{#      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_maintenance_report' %}active{% endif %}" href="{% url 'admin_maintenance_report' %}">تعمیر و نگهداری</a></li>#}
{#      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'admin_billan_report' %}active{% endif %}" href="{% url 'admin_billan_report' %}">بیلان ساختمان</a></li>#}
{##}
{#    </ul>#}
{#  </div>#}
{#</li>#}
{% with url=request.resolver_match.url_name %}

{% is_report_section url as report_open %}

<li class="nav-item mt-0 border-top">

  <a class="nav-link"
     data-bs-toggle="collapse"
     href="#general3"
     aria-expanded="{% if report_open %}true{% else %}false{% endif %}">

    <i class="menu-title">گزارشات</i>
    <i class="menu-arrow"></i>
    <i class="mdi mdi-clipboard-text menu-icon"></i>
  </a>

  <div class="collapse {% if report_open %}show{% endif %}" id="general3">
    <ul class="nav flex-column sub-menu">

      <li class="nav-item">
      <a class="nav-link {% if 'admin_fund' in url %}active{% endif %}"
   href="{% url 'admin_fund_report' %}">
   گردش صندوق
</a>
      </li>

      <li class="nav-item">
       <a class="nav-link {% if 'admin_bank' in url %}active{% endif %}"
   href="{% url 'admin_bank_report' %}">
   بانک‌ها
</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'admin_unit_fund' in url %}active{% endif %}"
           href="{% url 'admin_unit_fund_report' %}">
           گردش اشخاص
        </a>
      </li>

      <li class="nav-item">
      <a class="nav-link {% if 'charge' in url %}active{% endif %}"
   href="{% url 'charge_issued' %}">
   شارژها
</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'admin_debtor' in url %}active{% endif %}"
           href="{% url 'admin_debtor_report' %}">
           واحدهای بدهکار
        </a>
      </li>

   <li class="nav-item">
  <a class="nav-link {% if 'admin_unit_history' in url %}active{% endif %}"
     href="{% url 'admin_unit_history_report' %}">
     سوابق سکونت
  </a>
</li>

      <li class="nav-item">
        <a class="nav-link {% if 'admin_expense' in url %}active{% endif %}"
           href="{% url 'admin_expense_report' %}">
           هزینه‌ها
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'admin_income' in url %}active{% endif %}"
           href="{% url 'admin_income_report' %}">
           درآمدها
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'admin_receive' in url %}active{% endif %}"
           href="{% url 'admin_receive_report' %}">
           اسناد دریافتی
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'admin_pay' in url %}active{% endif %}"
           href="{% url 'admin_pay_report' %}">
           اسناد پرداختی
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'admin_property' in url %}active{% endif %}"
           href="{% url 'admin_property_report' %}">
           اموال
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'admin_maintenance' in url %}active{% endif %}"
           href="{% url 'admin_maintenance_report' %}">
           تعمیر و نگهداری
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if 'admin_house_balance' in url %}active{% endif %}"
           href="{% url 'admin_house_balance_report' %}">
           بیلان
        </a>
      </li>

    </ul>
  </div>

</li>

{% endwith %}

          
            {% url 'admin_register_sms' as url_sms_to_middle %}
            {% url 'admin_sms_management' as url_admin_sms_issued %}
            {% url 'admin_sms_approved' as url_admin_sms_approved %}
            {% url 'admin_sms_credit' as url_admin_credit_sms %}
            {% url 'middle_sms_report' as url_middle_sms_report %}

            <li class="nav-item border-top mt-0">
              <a class="nav-link" data-bs-toggle="collapse"
                 href="#general146"
                 aria-expanded="true"
                 aria-controls="general146">
                <i class="menu-title"> مدیریت پیامک ها </i>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-email-outline menu-icon"></i>
              </a>

              <div class="collapse 
{% if request.path == url_sms_to_middle or request.path == url_admin_sms_issued or request.path == url_admin_sms_approved or request.path == url_admin_credit_sms or request.path == url_middle_sms_report %}show{% endif %}" id="general146">
                <ul class="nav flex-column sub-menu">

                  <li class="nav-item mt-0">
                    <a class="nav-link {% if request.path == url_sms_to_middle %}active{% endif %}"
                       href="{{ url_sms_to_middle }}">
                       ثبت پیامک
                    </a>
                  </li>

                  <li class="nav-item mt-0">
                    <a class="nav-link {% if request.path == url_admin_sms_issued %}active{% endif %}"
                       href="{{ url_admin_sms_issued }}">
                       پیامک های ارسالی
                    </a>
                  </li>
                   <li class="nav-item mt-0">
                    <a class="nav-link {% if request.path == url_admin_sms_approved %}active{% endif %}"
                       href="{{ url_admin_sms_approved }}">
                       پیامک در انتظار تایید
                    </a>
                  </li>
                   <li class="nav-item mt-0">
                    <a class="nav-link {% if request.path == url_admin_credit_sms %}active{% endif %}"
                       href="{{ url_admin_credit_sms }}">
                      لیست شارژ پیامک
                    </a>
                  </li>
                    <li class="nav-item mt-0">
                    <a class="nav-link {% if request.path == url_middle_sms_report %}active{% endif %}"
                       href="{{ url_middle_sms_report }}">
                      مدیریت پیامک مدیران
                    </a>
                  </li>

                </ul>
              </div>
            </li>
{#             <li class="nav-item border-top mt-0">#}
{#                                {% url 'sms_management' as address_url %}#}
{#                            <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">#}
{#                            <i class="menu-title"> مدیریت نظرسنجی</i>#}
{#                            <i class="fas fa-send menu-icon"></i>#}
{#                          </a>#}
{#                        </li>#}
{#              <li class="nav-item border-top mt-0">#}
{#                    {% url 'admin_tickets' as address_url %}#}
{#                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">#}
{#                <i class="menu-title">پشتبانی</i>#}
{#                <span id="ticket-counter-admin" class="badge bg-danger bordered counter-badge">0</span>#}
{##}
{#                <i class="fas fa-headphones-alt menu-icon"></i>#}
{#              </a>#}
{#            </li>#}
          
          {% url 'admin_tickets' as url_admin_ticket %}
            {% url 'admin_ticket_report' as url_ticket_list %}

            <li class="nav-item border-top mt-0">

                <a class="nav-link
                    {% if request.path == url_admin_ticket or request.path == url_ticket_list %}active{% endif %}"
                   data-bs-toggle="collapse"
                   href="#general4">

                    <i class="menu-title">پشتیبانی</i>

                    <span id="ticket-counter-admin" class="badge bg-danger bordered counter-badge">0</span>

                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-headphones-box menu-icon"></i>
                </a>

                <div class="collapse
                    {% if request.path == url_admin_ticket or request.path == url_ticket_list %}show{% endif %}"
                     id="general4">

                    <ul class="nav flex-column sub-menu">

                        <li class="nav-item mt-0">
                            <a class="nav-link {% if request.path == url_admin_ticket %}active{% endif %}"
                               href="{{ url_admin_ticket }}">
                                 تیکت های من
                            </a>
                        </li>

                        <li class="nav-item mt-0">
                            <a class="nav-link {% if request.path == url_ticket_list %}active{% endif %}"
                               href="{{ url_ticket_list }}">
                                گزارش تیکت ها
                            </a>
                        </li>

                    </ul>
                </div>

            </li>
          
          
          </ul>

</nav>
<style>
    .counter-badge {
    position: relative;
    top: -8px;
    right: -38px;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}
</style>
<script>
    const userSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/tickets/admin/"
);

userSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const el = document.getElementById("ticket-counter-admin"); // یا ticket-counter-admin
    el.textContent = data.count;
    el.style.display = data.count > 0 ? "inline-block" : "none";
};

userSocket.onopen = function(e) {
    console.log("WebSocket connected!");
};
userSocket.onclose = function(e) {
    console.log("WebSocket closed!");
};

</script>