{% extends 'middleShared/base_template.html' %}
{% load poll_extras %}
{% load static %}

{% block page_title %}
داشبورد
{% endblock page_title %}

{% block main_content %}
  <style>
    @font-face {
    font-family: 'Vazir';
    src: url("{% static 'fonts/Vazir.ttf' %}") format('truetype');
    font-weight: normal;
    font-style: normal;
}
</style>


   <div class="container">

{#<div class="row py-3">#}
{#  <div class="col-12">#}
{#    <div class="card subscription-card">#}
{##}
{#      <div class="d-flex justify-content-between align-items-center flex-wrap subscription-flex">#}
{##}
{#        <!-- ===== دایره اشتراک ===== -->#}
{#        <div class="d-flex align-items-center">#}
{##}
{#          <div class="subscription-circle-wrapper">#}
{##}
{#            <svg width="130" height="130" viewBox="0 0 130 130">#}
{#              <!-- بک گراند -->#}
{#              <circle cx="65" cy="65" r="55"#}
{#                      stroke="#e9ecef"#}
{#                      stroke-width="10"#}
{#                      fill="none"/>#}
{#              <!-- نوار پیشرفت -->#}
{#              <circle cx="65" cy="65" r="55"#}
{#                      stroke="{% if sub_status == 'trial' %}#1cc88a{% elif sub_status == 'paid' %}#4e73df{% elif sub_status == 'inactive' %}#dc3545{% else %}#28a745{% endif %}"#}
{#                      stroke-width="10"#}
{#                      fill="none"#}
{#                      stroke-dasharray="345"#}
{#                      stroke-dashoffset="{% widthratio remaining_days total_days 345 %}"#}
{#                      transform="rotate(-90 65 65)"#}
{#                      stroke-linecap="round"/>#}
{#            </svg>#}
{##}
{#            <!-- متن وسط دایره -->#}
{#            <div class="subscription-circle-center">#}
{#              <div class="subscription-remaining">{{ remaining_days }}</div>#}
{#              <div class="subscription-divider"></div>#}
{#              <div class="subscription-total">{{ total_days }}</div>#}
{#            </div>#}
{##}
{#          </div>#}
{##}
{#          <!-- ===== اطلاعات اشتراک ===== -->#}
{#          <div class="ms-3">#}
{#            {% if sub_status == "trial" %}#}
{#              <div class="subscription-status subscription-trial">اشتراک آزمایشی فعال</div>#}
{#            {% elif sub_status == "paid" %}#}
{#              <div class="subscription-status subscription-paid">اشتراک فعال</div>#}
{#              <div class="small text-muted">مبلغ: {{ current_subscription.total_amount|three_digit_currency }} تومان</div>#}
{#              <div class="small text-muted">پایان: {{ current_subscription.end_date }}</div>#}
{#            {% elif sub_status == "inactive" %}#}
{#              <div class="subscription-status subscription-inactive">اشتراک منقضی شده</div>#}
{#            {% else %}#}
{#              <div class="subscription-status subscription-free">اشتراک رایگان اولیه</div>#}
{#              <div class="small text-muted">35 روز اعتبار</div>#}
{#            {% endif %}#}
{#          </div>#}
{##}
{#        </div>#}
{##}
{#        <!-- ===== دکمه ===== -->#}
{#        <div class="mt-3 mt-md-0">#}
{#          <a href="{% url 'buy_subscription' %}" class="btn btn-primary subscription-btn">#}
{#            تغییر / خرید اشتراک#}
{#          </a>#}
{#        </div>#}
{##}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</div>#}

{% if subscription_warning %}
<script>
let swalText = '';
{% if sub_status == 'trial' %}
    swalText = 'اشتراک رایگان شما به زودی منقضی می‌شود.';
{% elif sub_status == 'paid' %}
    swalText = 'اشتراک  شما به زودی منقضی می‌شود.';
{% elif sub_status == 'inactive' %}
    swalText = ' در حال حاضر اشتراک فعالی ندارید. لطفا نسبت به خرید اشتراک اقدام نمایید';
{% endif %}

Swal.fire({
    icon: 'warning',
    title: 'هشدار!',
    text: swalText,
});
</script>
{% endif %}

{% if redirect_to_buy %}
<script>
window.location.href = "{% url 'buy_subscription' %}";
</script>
{% endif %}



     <div class="row g-2 mt-2">
              <div class="col-md-3">
                  <a href="{% url 'middle_manage_unit' %}">
                <div class="card bg-gradient-warning card-img-holder text-white">
                  <div class="card-body text-center justify-content-center p-2 m-0">
                    <h4 class="font-weight-normal mb-3"><i class="mdi mdi-city mdi-24px float-right"></i>
                       تعداد کل واحدها
                    </h4>
                    <h3 class="mb-1 text-white">{{ unit_count }} </h3>
                  </div>
                </div>
                  </a>
              </div>
              <div class="col-md-3">
                  <a href="{% url 'add_sms_credit' %}">
                <div class="card bg-gradient-info card-img-holder text-white">
               <div class="card-body text-center justify-content-center p-2 m-0">
                    <h4 class="font-weight-normal mb-3">
                        <i class="mdi mdi-comment-text mdi-24px float-right"></i>
                        موجودی حساب پیامک
                    </h4>
                    <h3 class="mb-1 text-white">{{ middle_current_credit|three_digit_currency }} تومان</h3>
                  </div>
                </div>
                      </a>
              </div>
              <div class="col-md-3">
                  <a href="{% url 'fund_turn_over' %}">
                <div class="card bg-gradient-success card-img-holder text-white">
                 <div class="card-body text-center p-2 m-0">
                    <h4 class="font-weight-normal mb-3"><i class="mdi mdi-square-inc-cash mdi-24px float-right"></i>
                        موجودی صندوق
                    </h4>
                    <h3 class="mb-1 text-white">{{ fund_amount|three_digit_currency }} تومان </h3>
                  </div>
                </div>
                      </a>
              </div>
              <div class="col-md-3">
                  <a href="{% url 'debtor_units_report' %}">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body text-center justify-content-center p-2 m-0">
                    <h4 class="font-weight-normal mb-3">
                        <i class="mdi mdi-account-minus mdi-24px float-right"></i>
                         شارژ پرداخت نشده
                    </h4>
                    <h3 class="mb-1 text-white">{{ unit_count_unpaid_charges }}</h3>
                  </div>
                </div>
                  </a>
              </div>
            </div>
{#   # announcement#}
   <div class="row mt-4">
       <div class="col-12">
     <div class="card  p-4">
    <h1 class="header-style text-center mb-4">اطلاعیه‌های ساختمان</h1>
    {% if announcements %}
      {% for announcement in announcements %}
        <div class="row align-items-end border-bottom py-3">
          <div class="col-12 d-flex align-items-start">
            <i class="fas fa-bell ms-2" style="color: rgba(98,112,204,0.98); font-size: 1.3rem;"></i>
            <p class="info-text mb-0 mt-2 ">{{ announcement.title|safe }}</p>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="text-center py-4 text-muted">
        <i class="fas fa-info-circle me-1"></i>
        هیچ اطلاعیه‌ای ثبت نشده است.
      </div>
    {% endif %}
  </div>
      </div>
    </div>
{## charts#}
      <div class="row mt-4">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                 <div class="card-body">
                    {% if owner_renter_stats.owner  %}
                        <p class="text-muted">نمودار آمار کلی واحدها</p>
                        {{ owner_renter_stats|json_script:"owner_renter_stats" }}
                        <canvas id="doughnutChart" style="width: 150px; height: 60px; margin-top: 1rem"></canvas>
                 <div class="row mt-4 text-center">
        <div class="col-4">
            <p class="text-muted">
                   <strong>تعداد کل:</strong>
                 {{ unit_count }} واحد </p>
        </div>

        <div class="col-4">
            <p class="text-muted">
                <strong>مالک:</strong>
                        {% if owner_renter_stats.owner %}
                 {{ owner_renter_stats.owner }}
                    {% else %}
                                        ---
                                    {% endif %}واحد
            </p>
        </div>

        <div class="col-4">
            <p class="text-muted">
                   <strong>مستاجر:</strong>
                {% if owner_renter_stats.renter %}
                 {{ owner_renter_stats.renter }}واحد
                    {% else %}
                                        ---
                                    {% endif %}
            </p>
        </div>
    </div>

                    {% else %}
                    <div class="text-center mt-4">
                        <img src="/static/img/vecteezy_pie-chart-icon-design_53006962.jpg" width="250" alt="نمودار موجود نیست">
                     <p class="text-muted text-small">نموداری ثبت نشده است</p>
                        </div>
                    {% endif %}
                </div>

                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                        <div class="calendar-dashboard">
                            <div class="calendar-header shadow_style">
                                <button id="prevMonthBtn">&#9654;</button>
                                <select id="monthSelect"></select>
                                <select id="yearSelect"></select>
                                <button id="nextMonthBtn">&#9664;</button>
                                <button id="gotoTodayBtn">امروز</button>
                            </div>
                            <table id="calendar">
                                <thead>
                                    <tr>
                                        <th>ش</th><th>ی</th><th>د</th><th>س</th><th>چ</th><th>پ</th><th>ج</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="note-modal" id="noteModal">
                            <div class="note-box">
                                <h3 id="selectedDayTitle">یادداشت</h3>
                                <textarea id="noteText"></textarea>
                                <div class="note-buttons">
                                    <button id="saveNoteBtn">ذخیره</button>
                                     <button id="deleteNoteBtn">پاک کردن</button> <!-- اضافه شد -->
                                    <button id="closeNoteBtn">بستن</button>
                                </div>
                            </div>
                        </div>
              </div>
         </div>

   <div class="row">
       <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                  {% if residence_stats.occupied > 0 or residence_stats.empty > 0 %}
                    <p class="text-muted mb-4">نمودار وضعیت سکونت </p>
                        {{ residence_stats|json_script:"residence_stats" }}
                         <canvas id="pieChart" height="60" style="width: 150px; height: 60px; margin-top: 1rem"></canvas>
                        <div class="row mt-4 text-center">
                            <div class="col-6">
                                <p class="text-muted">
                                    <strong>ساکن:</strong>
                                    {% if residence_stats.occupied %}
                                        {{ residence_stats.occupied }} واحد
                                    {% else %}
                                        ---
                                    {% endif %}
                                </p>
                            </div>

                            <div class="col-6">
                                <p class="text-muted">
                                    <strong>خالی:</strong>
                                    {% if residence_stats.empty %}
                                        {{ residence_stats.empty }} واحد
                                    {% else %}
                                        ---
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                      {% else %}
                    <div class="text-center mt-4">
                        <img src="/static/img/vecteezy_pie-chart-icon-design_53007028.jpg" width="250" alt="نمودار موجود نیست">
                     <p class="text-muted text-small">نموداری ثبت نشده است</p>
                        </div>
                    {% endif %}

                  </div>
                </div>
              </div>

       <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">


                  <div class="card-body">
                         {% if has_charge_date %}
                    <p class="text-muted mb-4">نمودار وضعیت شارژ</p>
                  {{ paid_data|json_script:"paid_data_json" }}
                  {{ unpaid_data|json_script:"unpaid_data_json" }}
                    <canvas id="barChart" height="80" style="width: 150px; height: 70px; margin-top: 1rem"></canvas>
                                {% else %}
                    <div class="text-center mt-4">
                        <img src="/static/img/vecteezy_business-chart-with-arrow_20954792.png" width="260" alt="نمودار موجود نیست">
                     <p class="text-muted text-small">نموداری ثبت نشده است</p>
                        </div>
                    {% endif %}
                  </div>

                </div>
              </div>
   </div>
   {#   # last tickets#}
      <div class="row mt-1">
       <div class="col-12">
             <table class="table table-bordered">
      <thead>
      <tr>
          <th>#</th>
          <th>ایجاد کننده</th>
          <th>تاریخ ثبت</th>
           <th>موضوع</th>
          <th>شماره تیکت</th>
          <th>شماره تماس</th>
          <th>وضعیت</th>
          <th>آخرین بروزرسانی</th>
      </tr>
      </thead>
         {% if tickets %}
      {% for ticket in tickets %}
      <tbody>

      <tr onclick="window.location.href='{% url 'middleAdmin_ticket_detail' ticket.id %}'" style="cursor: pointer;">
          <td>{{ forloop.counter }}</td>
          <td>{{ ticket.user.full_name }}</td>
           <td>{{ ticket.created_at|show_jalali_date_only }}</td>
          <td>{{ ticket.subject|safe }}</td>
          <td>#{{ ticket.ticket_no}}</td>
        	<td>
               {% if ticket.is_call %}
            <button class="btn btn-gradient-info p-1">{{ ticket.user.mobile}}</button>
                 {% else %}
                   <span>ثبت نشده است</span>
        {% endif %}
          </td>
      <td>
    {% if ticket.is_closed %}
        <button class="btn btn-danger p-1">تیکت بسته شد</button>
        {% elif ticket.is_waiting %}
        <button class="btn btn-gradient-primary p-1">در حال بررسی</button>

    {% elif ticket.is_answer %}
        <button class="btn btn-gradient-success p-1">پاسخ داده شد</button>

    {% elif ticket.is_sent %}
        <button class="btn btn-warning p-1">در انتظار پاسخ </button>

    {% else %}
        <button class="btn btn-secondary p-1">در حال بررسی</button>
    {% endif %}
</td>

          <td>{{ ticket.updated_at|show_jalali_date_time }}</td>
      </tr>
      </tbody>
           {% endfor %}
    {% else %}
           <tbody>
           <tr>
            <td colspan="8">
                    هیچ تیکتی ثبت نشده است.
        </td>
           </tr>

           </tbody>
    {% endif %}
  </table>
       </div>
   </div>
   </div>
<!-- json_script امن‌ترین روش برای ارسال دیتا از Django به JS -->
{#{{ stats|json_script:"unit_stats" }}#}

{#<canvas id="doughnutChart" style="width: 150px; height: 90px; margin-top: 1rem"></canvas>#}

<script>
  // گرفتن دیتا از JSON
  const ownerRenterStats = JSON.parse(document.getElementById('owner_renter_stats').textContent);
  const residenceStats = JSON.parse(document.getElementById('residence_stats').textContent);

  {#var paidCharges = JSON.parse(document.getElementById('paid_charges').textContent);#}
  {#var unpaidCharges = JSON.parse(document.getElementById('unpaid_charges').textContent);#}
var paidCharges = {{ paid_data|safe }};
var unpaidCharges = {{ unpaid_data|safe }};
</script>
<!-- یک <canvas> برای رسم نمودار -->
{#<canvas id="myChart" width="400" height="200"></canvas>#}

{#<script>#}
{#    // داده‌ها را از Django دریافت می‌کنیم#}
{#    const data = {{ chart_data_json|safe }};#}
{##}
{#    const config = {#}
{#        type: 'bar', // نوع نمودار#}
{#        data: data,#}
{#        options: {#}
{#            responsive: true,#}
{#            plugins: {#}
{#                legend: {#}
{#                    position: 'top',#}
{#                },#}
{#                tooltip: {#}
{#                    callbacks: {#}
{#                        label: function(context) {#}
{#                            return context.dataset.label + ': ' + context.raw;#}
{#                        }#}
{#                    }#}
{#                }#}
{#            },#}
{#            scales: {#}
{#                y: {#}
{#                    beginAtZero: true,#}
{#                    title: {#}
{#                        display: true,#}
{#                        text: 'تعداد شارژها'#}
{#                    }#}
{#                },#}
{#                x: {#}
{#                    title: {#}
{#                        display: true,#}
{#                        text: 'ماه شمسی'#}
{#                    }#}
{#                }#}
{#            }#}
{#        },#}
{#    };#}
{##}
{#    // ساخت نمودار#}
{#    const myChart = new Chart(#}
{#        document.getElementById('myChart'),#}
{#        config#}
{#    );#}
{#</script>#}


{% endblock main_content %}


