{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">

                      <ul class="nav">
                        <li class="nav-item nav-profile bg-body">
                          <a href="{% url 'middle_manage_house' %}" class="nav-link">
                            <div class="nav-profile-image">
                              <img src="{% static 'admin_panel/icone8/icons8-home (1).gif' %}" width="20" alt="profile">
            {#                  <span class="login-status online"></span>#}
                              <!--change to offline or busy as needed-->
                            </div>
                              <br>
                           <div class="nav-profile-text ms-auto mt-3">
                                  {% if house and house.name %}
                                    <h6 class="mb-2"> {{ house.name }}</h6>
                                  {% else %}
                                    <h6 class="mb-1">ساختمان من</h6>
                                  {% endif %}
                                  <small class="text-muted text-center p-2"> ویرایش</small>
                                </div>

                          </a>
                        </li>
            {% if house.id %}


            <li class="nav-item border-top">
               {% url 'middle_admin_dashboard' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title">داشبورد مدیر</i>
                <i class="mdi mdi-cellphone-link menu-icon"></i>
              </a>
            </li>


                {% url 'middle_send_announcement' as url_middle_send %}
                {% url 'middle_announcement' as url_middle_list %}

                <li class="nav-item mt-0">
                  <a class="nav-link" data-bs-toggle="collapse"
                     href="#general66"
                     aria-expanded="true"
                     aria-controls="general66">
                    <i class="menu-title"> مدیریت اطلاعیه ها </i>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-bell-alert menu-icon"></i>
                  </a>

                  <div class="collapse {% if request.path == url_middle_send or request.path == url_middle_list %}show{% endif %}" id="general66">
                    <ul class="nav flex-column sub-menu">

                      <li class="nav-item mt-0">
                        <a class="nav-link {% if request.path == url_middle_send %}active{% endif %}"
                           href="{{ url_middle_send }}">
                           ارسال اطلاعیه
                        </a>
                      </li>

                      <li class="nav-item mt-0">
                        <a class="nav-link {% if request.path == url_middle_list %}active{% endif %}"
                           href="{{ url_middle_list }}">
                           اطلاعیه های من
                        </a>
                      </li>

                    </ul>
                  </div>
                </li>
      <li class="nav-item border-top mt-0">
                 {% url 'message_to_user' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت پیام ها</i>
                <i class="fas fa-bank menu-icon menu-icon"></i>
              </a>
            </li>

                 <li class="nav-item border-top mt-0">
                 {% url 'middle_manage_bank' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت حساب بانکی</i>
                <i class="fas fa-bank menu-icon menu-icon"></i>
              </a>
            </li>
          
           <li class="nav-item  mt-0">
                 {% url 'middle_manage_unit' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت واحدها</i>
                <i class="mdi mdi-city menu-icon menu-icon"></i>
              </a>
            </li>

          
               <li class="nav-item border-top mt-0">
                 {% url 'middle_add_charge' as address_url %}
                <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                <i class="menu-title"> مدیریت شارژ</i>
                <i class="mdi mdi-square-inc-cash menu-icon"></i>
              </a>
            </li>


             <li class="nav-item border-top mt-0">
  <a class="nav-link" data-bs-toggle="collapse" href="#general23"
     aria-expanded="{% if request.resolver_match.url_name in 'middle_add_income middle_add_expense middle_add_receive middle_add_pay middle_add_property middle_add_maintenance' %}true{% else %}false{% endif %}"
     aria-controls="general23">
    <i class="menu-title">عملیات</i>
    <i class="menu-arrow"></i>
    <i class="mdi mdi-desktop-mac menu-icon"></i>
  </a>
  <div class="collapse {% if request.resolver_match.url_name in 'middle_add_income middle_add_expense middle_add_receive middle_add_pay middle_add_property middle_add_maintenance' %}show{% endif %}" id="general23">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'middle_add_income' %}active{% endif %}" href="{% url 'middle_add_income' %}">ثبت درآمد</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'middle_add_expense' %}active{% endif %}" href="{% url 'middle_add_expense' %}">ثبت هزینه</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'middle_add_receive' %}active{% endif %}" href="{% url 'middle_add_receive' %}">ثبت اسناد دریافتنی</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'middle_add_pay' %}active{% endif %}" href="{% url 'middle_add_pay' %}">ثبت اسناد پرداختنی</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'middle_add_property' %}active{% endif %}" href="{% url 'middle_add_property' %}">ثبت اموال ساختمان</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'middle_add_maintenance' %}active{% endif %}" href="{% url 'middle_add_maintenance' %}">ثبت تعمیر و نگهداری</a></li>
    </ul>
  </div>
</li>



              <li class="nav-item mt-0">
  <a class="nav-link" data-bs-toggle="collapse" href="#general2"
     aria-expanded="{% if request.resolver_match.url_name in 'fund_turn_over unit_reports debtor_creditor_reports unit_history_report expense_history_report income_history_report property_history_report maintenance_history_report' %}true{% else %}false{% endif %}"
     aria-controls="general2">
    <i class="menu-title">گزارشات</i>
    <i class="menu-arrow"></i>
    <i class="mdi mdi-clipboard-text menu-icon"></i>
  </a>
  <div class="collapse {% if request.resolver_match.url_name in 'fund_turn_over unit_reports debtor_creditor_reports unit_history_report expense_history_report income_history_report property_history_report maintenance_history_report pay_receive_report charge_list_report charge_notify_report_list' %}show{% endif %}" id="general2">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'fund_turn_over' %}active{% endif %}" href="{% url 'fund_turn_over' %}">گردش صندوق</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'unit_reports' %}active{% endif %}" href="{% url 'unit_reports' %}">گردش مالی اشخاص</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'charge_list_report' %}active{% endif %}" href="{% url 'charge_list_report' %}">شارژ های اعلامی</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'charge_notify_report_list' %}active{% endif %}" href="{% url 'charge_notify_report_list' %}">شارژ های اعلامی2</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'debtor_creditor_reports' %}active{% endif %}" href="{% url 'debtor_creditor_reports' %}">واحدهای بدهکار</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'unit_history_report' %}active{% endif %}" href="{% url 'unit_history_report' %}">سوابق سکونت واحدها</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'expense_history_report' %}active{% endif %}" href="{% url 'expense_history_report' %}">هزینه‌ها</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'income_history_report' %}active{% endif %}" href="{% url 'income_history_report' %}">درآمدها</a></li>
       <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'pay_receive_report' %}active{% endif %}" href="{% url 'pay_receive_report' %}">دریافت و پرداخت</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'property_history_report' %}active{% endif %}" href="{% url 'property_history_report' %}">اموال ساختمان</a></li>
      <li class="nav-item mt-0"><a class="nav-link {% if request.resolver_match.url_name == 'maintenance_history_report' %}active{% endif %}" href="{% url 'maintenance_history_report' %}">تعمیر و نگهداری</a></li>
      <li class="nav-item mt-0"><a class="nav-link" href="#">بیلان ساختمان</a></li>
    </ul>
  </div>
</li>


                            <li class="nav-item border-top mt-0">
                            {% url 'middle_tickets' as address_url %}
                           <a class="nav-link {% if request.path == address_url %}active{% endif %}" href="{{ address_url }}">
                            <i class="menu-title">مدیریت تیکت ها</i>

                            <span id="ticket-counter-main" class="badge bg-danger counter-badge">0</span>
                               <input type="hidden" id="ticket-id" value="{{ ticket.id }}">

                               <i class="mdi mdi-headset menu-icon"></i>
                          </a>
                        </li>

            {% url 'middle_register_sms' as url_middle_register_sms %}
            {% url 'middle_sms_management' as url_middle_sms_list %}

            <li class="nav-item border-top mt-0">
              <a class="nav-link" data-bs-toggle="collapse"
                 href="#general77"
                 aria-expanded="true"
                 aria-controls="general77">
                <i class="menu-title"> مدیریت پیامک ها </i>
                <i class="menu-arrow"></i>
                <i class="fas fa-comment-dots menu-icon"></i>
              </a>

              <div class="collapse {% if request.path == url_middle_register_sms or request.path == url_middle_sms_list %}show{% endif %}" id="general77">
                <ul class="nav flex-column sub-menu">

                  <li class="nav-item mt-0">
                    <a class="nav-link {% if request.path == url_middle_register_sms %}active{% endif %}"
                       href="{{ url_middle_register_sms }}">
                       ثبت پیامک
                    </a>
                  </li>

                  <li class="nav-item mt-0">
                    <a class="nav-link {% if request.path == url_middle_sms_list %}active{% endif %}"
                       href="{{ url_middle_sms_list }}">
                       پیامک های من
                    </a>
                  </li>

                </ul>
              </div>
            </li>


             {% url 'middleAdmin_support_ticket' as url_support_ticket %}
            {% url 'middleAdmin_tickets' as url_support_list %}

            <li class="nav-item border-top mt-0">

                <a class="nav-link
                    {% if request.path == url_support_ticket or request.path == url_support_list %}active{% endif %}"
                   data-bs-toggle="collapse"
                   href="#general4">

                    <i class="menu-title">پشتیبانی</i>

                    <span id="ticket-counter-middle-admin" class="badge bg-danger counter-badge-middle">0</span>

                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-headphones-box menu-icon"></i>
                </a>

                <div class="collapse
                    {% if request.path == url_support_ticket or request.path == url_support_list %}show{% endif %}"
                     id="general4">

                    <ul class="nav flex-column sub-menu">

                        <li class="nav-item mt-0">
                            <a class="nav-link {% if request.path == url_support_ticket %}active{% endif %}"
                               href="{{ url_support_ticket }}">
                                ارسال تیکت
                            </a>
                        </li>

                        <li class="nav-item mt-0">
                            <a class="nav-link {% if request.path == url_support_list %}active{% endif %}"
                               href="{{ url_support_list }}">
                                تیکت‌های من
                            </a>
                        </li>

                    </ul>
                </div>

            </li>

         {% endif %}
             

          </ul>

</nav>
<style>
    .counter-badge {
    position: relative;
    top: -8px;
    right: -12px;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}

.counter-badge-middle{
    position: relative;
    top: -8px;
    right: -29px;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const userSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/tickets/"
);

userSocket.onmessage = function(e) {
    console.log("WS message received:", e.data);
    const data = JSON.parse(e.data);
    const el = document.getElementById("ticket-counter-main");
    el.textContent = data.count;
    el.style.display = data.count > 0 ? "inline-block" : "none";
};

userSocket.onopen = function(e) {
    console.log("WebSocket connected!");
};
userSocket.onclose = function(e) {
    console.log("WebSocket closed!");
};

</script>

<script>
    const middleSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/tickets/admin/"
);

middleSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const el = document.getElementById("ticket-counter-middle-admin"); // یا ticket-counter-admin
    el.textContent = data.count;
    el.style.display = data.count > 0 ? "inline-block" : "none";
};

middleSocket.onopen = function(e) {
    console.log("WebSocket connected!");
};
middleSocket.onclose = function(e) {
    console.log("WebSocket closed!");
};

</script>


