{% load static %}
<ul class="navbar-nav navbar-nav-right" style="margin-bottom: 1rem;">

  <!-- تمام صفحه -->
  <li class="nav-item d-none d-lg-block full-screen-link">
    <a class="nav-link">
      <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
    </a>
  </li>

  <li class="nav-item d-none d-lg-block ">
    <a class="nav-link text-success" href="{% url 'middleAdmin_support_ticket' %}" title="ثبت تیکت">
      <i class="mdi mdi-headset"></i>
    </a>
  </li>



              <li class="nav-item dropdown ">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                  <span id="total-count-products" class="position-absolute bg-danger rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                        style="top: 20px; left: 15px; height: 20px; min-width: 2px;" >
                      {{ middle_new_messages_count }}
                  </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  {% if middle_new_messages_count %}
                  {% endif %}
                <div class="dropdown-divider"></div>

                <div class="dropdown-divider"></div>

                <div class="dropdown-divider"></div>
                  <a href="{% url 'middle_message_management_from_admin' %}">
                    <h6 class="p-3 mb-0 text-center">نمایش پیام </h6>
                  </a>
              </div>
            </li>
<li class="nav-item d-none d-lg-block">
  <a class="nav-link text-info" href="#" id="contactBtn" title="تماس با ما">
    <i class="mdi mdi-phone-in-talk"></i>
  </a>
</li>

              <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
<!--                  <img src="">-->
                  {% if user.profile_pic == ""  %}
                    <img class="img img-fluid mb-2" height="100" width="100"
                         src="{% static 'admin_panel/images/no-user-img.png' %}" alt="">
                    {% else %}
                    <img class="img img-fluid mb-2" height="100" width="100"
                         src="{% static 'admin_panel/images/no-user-img.png' %}" alt="">
                    {% endif %}
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{ user.full_name }} </p>
                </div>
              </a>

              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="{% url 'middle_profile' %}">
                  <i class="mdi mdi-account-circle me-2 text-dark"></i> پروفایل من </a>
                <a class="dropdown-item" href="{% url 'logout_middle_admin' %}">
                  <i class="mdi mdi-logout me-2 text-dark"></i> خروج </a>

              </div>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">

  <!-- پروفایل کاربر -->
{#  <li class="nav-item nav-profile dropdown">#}
{#    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">#}
{#      <div class="nav-profile-img">#}
{#        {% if user.profile_pic %}#}
{#          <img class="img img-fluid mb-2" height="100" width="100" src="{{ user.profile_pic.url }}" alt="">#}
{#        {% else %}#}
{#          <img class="img img-fluid mb-2" height="100" width="100" src="{% static 'admin_panel/images/no-user-img.png' %}" alt="">#}
{#        {% endif %}#}
{#        <span class="availability-status online"></span>#}
{#      </div>#}
{#      <div class="nav-profile-text">#}
{#        <p class="mb-1 text-black">{{ user.full_name }}</p>#}
{#      </div>#}
{#    </a>#}
{#    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">#}
{#      <div class="dropdown-divider"></div>#}
{#      <a class="dropdown-item" href="{% url 'logout_middle_admin' %}">#}
{#        <i class="mdi mdi-logout me-2 text-primary"></i> خروج#}
{#      </a>#}
{#    </div>#}
{#  </li>#}

  <!-- تنظیمات -->
  <li class="nav-item nav-settings d-none d-lg-block">
    <a class="nav-link" href="#">
      <i class="mdi mdi-format-line-spacing"></i>
    </a>
  </li>

</ul>
<script>
  document.getElementById("contactBtn").addEventListener("click", function(e) {
    e.preventDefault(); // جلوگیری از رفتن به href="#"

    Swal.fire({
      title: 'اطلاعات تماس',
      html: `
        <p>تلفن: <strong>021-12345678</strong></p>
        <p>ایمیل: <strong>info@example.com</strong></p>
      `,
      icon: 'info',
      confirmButtonText: 'باشه'
    });
  });
</script>