{% extends 'partials/core_template.html' %}
{% load poll_extras %}

{% block page_title %}
    تیکت های من
{% endblock page_title %}

{% block main_content %}
 
    
  <div class="container py-5">
   <hr>
       <section class="content py-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                      {% if messages %}
                      {% for message in messages  %}

                      {% if message.tags == 'success' %}
                      <div class="alert alert-success">
                        {{message}}
                      </div>
                      {% else %}
                      <div class="alert alert-warning">
                        {{message}}
                      </div>
                      {% endif %}

                      {% endfor %}
                      {% endif %}
            </div>
                   </div>
                </div>
        
            </section>
        <div class="row mb-4 ">
              <div class="col-9 col-md-10 col-xl-10 align-self-center ">
         <form method="get" action="">
                <input type="text" class="p-2" name="q" id="searchInput" autocomplete="off"
                       value="{{ query }}"
                       placeholder="جستجوی  ..." dir="rtl"
                       oninput="if(this.value === '') this.form.submit();">
                <button type="submit" class="btn btn-info px-3 py-2">جستجو</button>
            </form>        
          </div>
             <div class="col-3 col-md-2 col-xl-2 text-start ">
                  <label for="cardsPerPage" class="form-label d-none d-md-inline">تعداد نمایش :</label>
                  <select id="cardsPerPage" class="form-select" onchange="window.location.href='?q={{ query }}&paginate=' + this.value;">
                    <option value="20" {% if request.GET.paginate|default:'20' == '20' %}selected{% endif %}>20</option>
                    <option value="50" {% if request.GET.paginate == '50' %}selected{% endif %}>50</option>
                    <option value="100" {% if request.GET.paginate == '100' %}selected{% endif %}>100</option>
                    <option value="1000" {% if request.GET.paginate == '1000' %}selected{% endif %}>همه</option>
                </select>
                </div>
        
        </div>
  
  <table class="table table-bordered">
      <thead>
      <tr>
          <th>#</th>
          <th>تاریخ ثبت</th>
           <th>موضوع</th>
          <th>شماره تیکت</th>
          <th>وضعیت</th>
          <th>آخرین بروزرسانی</th>
      </tr>
      </thead>
         {% if tickets %}
      {% for ticket in tickets %}
      <tbody>
   
      <tr onclick="window.location.href='{% url 'ticket_detail' ticket.id %}'" style="cursor: pointer;">
          <td>{{ forloop.counter }}</td>
           <td>{{ ticket.created_at|show_jalali_date_only }}</td>
          <td>{{ ticket.subject|safe }}</td>
          <td>#{{ ticket.ticket_no}}</td>
                 <td>
    {% if ticket.is_closed %}
        <button class="btn btn-danger p-1">تیکت بسته شد</button>
        {% elif ticket.is_waiting %}
        <button class="btn btn-gradient-primary p-1">در حال بررسی</button>

    {% elif ticket.is_answer %}
        <button class="btn btn-gradient-success p-1">پاسخ داده شد</button>

    {% elif ticket.is_sent %}
        <button class="btn btn-warning p-1">در انتظار پاسخ </button>

    {% else %}
        <button class="btn btn-secondary p-1">در حال بررسی</button>
    {% endif %}
</td>
          <td>{{ ticket.updated_at|show_jalali_date_time }}</td>
      </tr>
      </tbody>
           {% endfor %}
    {% else %}
           <tbody>
           <tr>
            <td colspan="6">
                    هیچ تیکتی ثبت نشده است.
        </td> 
           </tr>
 
           </tbody>
    {% endif %}
  </table>
  </div>
   <div class="col-12">
                    <div class="pagination d-flex justify-content-center mt-5">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="rounded mx-1">قبلی</a>
                        {% endif %}
                
                        {% for page_number in page_obj.paginator.page_range %}
                            {% if page_number == page_obj.number %}
                                <a href="?page={{ page_number }}" class="{% if page_obj.number == page_number %}active{% endif %}">{{ page_number }}</a>
                            {% else %}
                                <a href="?page={{ page_number }}" class="rounded mx-1">{{ page_number }}</a>
                            {% endif %}
                        {% endfor %}
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="rounded mx-1">بعدی</a>
                        {% endif %}
                    </div>
                </div>
    
{% endblock main_content %}
