{% extends 'partials/core_template.html' %}
{% load poll_extras %}

{% block page_title %}
مدیریت شارژ واحد {{ unit.unit }}
{% endblock page_title %}

{% block main_content %}
    <hr>
    
    <div class="container mt-4">
       {# # fix charge#}
    <div class="row">
        <div class="col-12 p-0 mb-3"><img src="/static/admin_panel/icone8/icons8-note-48.png" width="30" alt="">
            لیست شارژ ثابت ماهانه 1404(مبالغ به تومان می باشد)</div>
    
           <div class="table-responsive p-0">
                    <table class="table table-bordered " id="expenseTable">
                        <thead class="text-center">
                           <tr>
    {#                            <th>واحد</th>#}
                                <th>عنوان</th>
                                <th>مبلغ شارژ ماهانه</th>
                                <th>شارژ عمرانی</th>
                                <th>شارژ پرداختی</th>
                                <th>تاریخ ارسال اطلاعیه</th>
                                <th>وضعیت پرداخت</th>
                                <th>تاریخ پرداخت</th>
                                <th>کد پیگیری</th>
                                <th>دستورات/کد پیگیری</th>
                            </tr>
                        </thead>
                           {% if charges %}
                        {% for charge in charges %}
                        <tbody class="text-center">
                           <tr>
    {#                        <td>{{ charge.unit.unit }}</td>#}
                            <td>{{ charge.charge_name }}</td>
                            <td>{{ charge.amount|three_digit_currency }} </td>
                            <td>{{ charge.civil_charge|three_digit_currency }} </td>
                            <td>{{ charge.total_charge_month|three_digit_currency }} </td>
                            <td>{{ charge.created_at|show_jalali_date_only }}</td>
                            <td>
                                {% if charge.is_paid %}
                                    <span class="badge badge-success p-2">پرداخت شده</span>
                                {% else %}
                                    <span class="badge badge-danger p-2">پرداخت نشده</span>
                                {% endif %}
                            </td>
                             <td>{{ charge.payment_date|show_jalali_date_only }}</td>
                             <td>{{ charge.tr }}</td>
                            <td>
                            {% if charge.is_paid %}
                            
                             <button
                             class="btn btn-warning text-dark p-2">
                           {{ charge.transaction_reference }}
                        </button>
                                {% else %}
                                 <a href="{% url 'request_pay_fix' charge.id %}"
                             class="btn btn-gradient-primary p-2">
                           پرداخت شارژ
                        </a>
                            {% endif %} 
                       
                        </td>
                        </tr>
                            {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="10" class="text-center">هیچ اطلاعیه ای برای نمایش وجود ندارد.</td>
                                </tr>
                         <tbody>
                        {% endif %}
                    </table>
                </div>
       
    </div>

    
    {# # area charge#}
    <div class="row mt-4">
         <div class="col-12 p-0"><img src="/static/admin_panel/icone8/icons8-note-48.png" width="30" alt="">
             لیست شارژ متراژی ماهانه 1404(مبالغ به تومان می باشد) </div>
           <div class="table-responsive p-0">
                <table class="table table-bordered ">
                    <thead class="text-center">
                         <tr>
                            <th>واحد</th>
                            <th>عنوان</th>
                            <th>متراژ</th>
                            <th>مبلغ شارژ به ازای هر متر </th>
                            <th>مبلغ شارژ ماهانه</th>
                            <th> شارژ عمرانی</th>
                            <th> جمع کل</th>
                            <th>تاریخ ارسال اطلاعیه</th>
                            <th>وضعیت پرداخت</th>
                            <th>تاریخ پرداخت</th>
                            <th>دستورات/کد پیگیری</th>
                        </tr>
                    </thead>
                       {% if area_charges %}
                    {% for charge in area_charges %}
                    <tbody class="text-center">
                        <tr>
                    <td>{{ charge.unit.unit }}</td>
                    <td>{{ charge.charge_name}}</td>
                    <td>{{ charge.unit.area}}</td>
                    <td>{{ charge.amount}}</td>
                    <td>{{ charge.final_area_amount|three_digit_currency }} </td>
                    <td>{{ charge.civil_charge|three_digit_currency }} </td>
                    <td>{{ charge.total_charge_month|three_digit_currency }} </td>
                    <td>{{ charge.created_at|show_jalali_date_only }}</td>
                       <td>
                            {% if charge.is_paid %}
                                <span class="badge badge-success p-2">پرداخت شده</span>
                            {% else %}
                                <span class="badge badge-danger p-2">پرداخت نشده</span>
                            {% endif %}
                        </td>
                                     <td>
                    {% if charge.payment_date %}
                    	{{ charge.payment_date|show_jalali }}
                    {% else %} 
                    ----
                   {% endif %} 
                </td>
                     <td class="shadow_style">
                      {% if charge.is_paid %}
                       	 <button
                         class="btn btn-warning text-dark p-2">
                       {{ charge.transaction_reference }}
                    </button>
                            {% else %}
                        	 <a href="{% url 'request_pay_area' charge.id %}"
                          class="btn btn-gradient-primary p-2">
                       پرداخت شارژ
                    </a>
                        {% endif %} 

                    </td>
                </tr>
                        {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="10" class="text-center">هیچ اطلاعیه ای برای نمایش وجود ندارد.</td>
                            </tr>
                     <tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    
    {# # person charge#}
    <div class="row mt-4">
         <div class="col-12 p-0"><img src="/static/admin_panel/icone8/icons8-note-48.png" width="30" alt="">
             لیست شارژ نفری ماهانه 1404(مبالغ به تومان می باشد)</div>
    
     <div class="table-responsive p-0">
                <table class="table table-bordered" >
                      <thead>
                        <tr>
{#                            <th>واحد</th>#}
                            <th>عنوان</th>
                            <th>تعداد نفرات</th>
                            <th>مبلغ شارژ به ازای هر نفر </th>
                            <th>مبلغ شارژ ماهانه</th>
                            <th> شارژ عمرانی</th>
                            <th> جمع کل</th>
                            <th>تاریخ ارسال اطلاعیه</th>
                            <th>وضعیت پرداخت</th>
                            <th>تاریخ پرداخت</th>
                            <th>دستورات/کد پیگیری</th>
                        </tr>
                    </thead>
                  {% if person_charges %}
            {% for charge in person_charges %}
                <tbody>
                <tr>
{#                    <td>{{ charge.unit.unit }}</td>#}
                    <td>{{ charge.charge_name}}</td>
                    <td>{{ charge.unit.people_count}}</td>
                    <td>{{ charge.amount|three_digit_currency}}</td>
                    <td>{{ charge.final_person_amount|three_digit_currency }} </td>
                    <td>{{ charge.civil_charge|three_digit_currency }} </td>
                    <td>{{ charge.total_charge_month|three_digit_currency }} </td>
                    <td>{{ charge.created_at|show_jalali }}</td>
                         <td>
                            {% if charge.is_paid %}
                                <span class="badge badge-success p-2">پرداخت شده</span>
                            {% else %}
                                <span class="badge badge-danger p-2">پرداخت نشده</span>
                            {% endif %}
                        </td>
                            <td>
                    {% if charge.payment_date %}
                    	{{ charge.payment_date|show_jalali }}
                    {% else %} 
                    ----
                   {% endif %} 
                </td>
                    <td>
                    
                       {% if charge.is_paid %}
                      	 <button
                         class="btn btn-warning text-dark p-2">
                       {{ charge.transaction_reference }}
                    </button>
                            {% else %}
                        	 <a href="{% url 'request_pay_person' charge.id  %}"
                      class="btn btn-gradient-primary p-2">
                       پرداخت شارژ
                    </a>
                        {% endif %} 
                   
                    </td>
                </tr>
                  {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="10" class="text-center">هیچ اطلاعیه ای برای نمایش وجود ندارد.</td>
                            </tr>
                     <tbody>
                    {% endif %}
                </table>
            </div>
    
    </div>
    
    {# Fix person Charge#}
     <div class="row mt-4">
         <div class="col-12 p-0"><img src="/static/admin_panel/icone8/icons8-note-48.png" width="30" alt="">
             لیست شارژ واحدی نفری ماهانه 1404(مبالغ به تومان می باشد)</div>
               <div class="table-responsive p-0 mt-3">
                <table class="table table-bordered" >
                      <thead>
                        <tr>
{#                            <th>#</th>#}
                            <th>عنوان</th>
{#                            <th>شارژ ثابت</th>#}
{#                            <th>تعداد نفرات</th>#}
{#                            <th>مبلغ شارژ به ازای هر نفر </th>#}
                            <th>مبلغ شارژ ماهانه</th>
                            <th> شارژ عمرانی</th>
                            <th> جمع کل</th>
                            <th>تاریخ ارسال اطلاعیه</th>
                            <th>وضعیت پرداخت</th>
                            <th>تاریخ پرداخت</th>
                            <th> مشاهده</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                  {% if fix_person_charges %}
            {% for charge in fix_person_charges %}
                <tbody>
                <tr>
{#                    <td>{{ forloop.counter }}</td>#}
                    <td>{{ charge.charge_name}}</td>
{#                   <td>{{ charge.fix_charge|three_digit_currency}}</td>#}
{#                  <td>{{ charge.unit.people_count}}</td>#}
{#                   <td>{{ charge.amount|three_digit_currency}}</td>#}
                    <td>{{ charge.final_person_amount|three_digit_currency }} </td>
                    <td>{{ charge.civil_charge|three_digit_currency }} </td>
                    <td>{{ charge.total_charge_month|three_digit_currency }} </td>
                    <td>{{ charge.created_at|show_jalali }}</td>
                         <td>
                            {% if charge.is_paid %}
                                <span class="badge badge-success p-2">پرداخت شده</span>
                            {% else %}
                                <span class="badge badge-danger p-2">پرداخت نشده</span>
                            {% endif %}
                        </td>
                <td>
                    {% if charge.payment_date %}
                    	{{ charge.payment_date|show_jalali }}
                    {% else %} 
                    ----
                   {% endif %} 
                </td>
                <td class="p-0">
                       <button data-bs-toggle="modal" data-bs-target="#exampleModalLong{{ charge.id }}"
                        class="btn btn-gradient-info text-dark px-2 py-1"><i class="mdi mdi-eye"></i>
                </button>
                </td>
                         <td class="p-0">
                        {% if charge.is_paid %}
                  <a  class="btn btn-gradient-dark p-2" disabled="">
                    پرداخت/ غیرفعال
                </a>

                            {% else %}
                <a href="{% url 'request_pay_fix_person' charge.id %}" class="btn btn-gradient-primary p-2">
                    پرداخت شارژ
                </a>
            {% endif %}
        
                   
                    </td>
                <!-- Modal -->
                <div class="modal fade"  id="exampleModalLong{{ charge.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ charge.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ charge.id }}">مشاهده جزئیات </h5>
                            </div>
                          <hr/>
                            <div class="modal-body text-end">
                                <p><strong>عنوان:</strong> {{ charge.charge_name }}</p>
                                <p><strong>شارژ ثابت:</strong> {{ charge.fix_charge|three_digit_currency }}تومان</p>
                                <p><strong>تعداد نفرات:</strong> {{ charge.unit.people_count}}</p>
                                 <p><strong>مبلغ شارژ به ازای هر نفر:</strong> {{ charge.amount|three_digit_currency }} تومان</p>
                                <p><strong>مبلغ شارژ ماهانه:</strong> {{ charge.final_person_amount|three_digit_currency }} تومان</p>
                                <p><strong>شارژ عمرانی:</strong> {{ charge.civil_charge|three_digit_currency }} تومان</p>
                                <p><strong>جمع کل:</strong> {{ charge.total_charge_month|three_digit_currency }} تومان</p>
                                <p><strong>توضیحات:</strong> 
                                    {% if charge.details %}
                                        <span class="badge bg-warning">{{ charge.details }} </span>
                                        {% else %}
                                        توضیحات ثبت نشده است
                                    {% endif %} 
                                    
                                </p>
                                <p><strong>تاریخ پرداخت:</strong> {{ charge.payment_date|show_jalali_date_only }}</p>
                                 <p><strong> کد پیگیری:</strong> {{ charge.transaction_reference }}</p>
                                <p><strong>وضعیت:</strong> 
                                    {% if charge.is_paid %}
                                    	<span class="badge bg-success">پرداخت شده</span></p>
                                        {% else %}
                                        <span class="badge bg-danger">پرداخت نشده</span></p>
                                    {% endif %} 
                                    
                                
                            </div>
                            <hr/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger p-2" data-bs-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>

                </tr>
                  {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="11" class="text-center">هیچ اطلاعیه ای برای نمایش وجود ندارد.</td>
                            </tr>
                     <tbody>
                    {% endif %}
                </table>
            </div>
    </div>
    
    {# Fix Area Charge#}
     <div class="row mt-4">
         <div class="col-12 p-0"><img src="/static/admin_panel/icone8/icons8-note-48.png" width="30" alt="">
             لیست شارژ واحدی متراژی ماهانه 1404(مبالغ به تومان می باشد)</div>
               <div class="table-responsive p-0">
                <table class="table table-bordered" >
                      <thead>
                        <tr>
{#                            <th>واحد</th>#}
                            <th>عنوان</th>
{#                            <th>شارژ ثابت</th>#}
{#                            <th>تعداد نفرات</th>#}
{#                            <th>مبلغ شارژ به ازای هر متر </th>#}
                            <th>مبلغ شارژ ماهانه</th>
                            <th> شارژ عمرانی</th>
                            <th> جمع کل</th>
                            <th>تاریخ ارسال اطلاعیه</th>
                            <th>وضعیت پرداخت</th>
                            <th>تاریخ پرداخت</th>
                            <th>مشاهده </th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                  {% if fix_area_charges %}
            {% for charge in fix_area_charges %}
                <tbody>
                <tr>
{#                    <td>{{ charge.unit.unit }}</td>#}
                    <td>{{ charge.charge_name}}</td>
{#                    <td>{{ charge.fix_charge|three_digit_currency}}</td>#}
{#                    <td>{{ charge.unit.people_count}}</td>#}
{#                    <td>{{ charge.amount|three_digit_currency}}</td>#}
                    <td>{{ charge.final_person_amount|three_digit_currency }} </td>
                    <td>{{ charge.civil_charge|three_digit_currency }} </td>
                    <td>{{ charge.total_charge_month|three_digit_currency }} </td>
                    <td>{{ charge.created_at|show_jalali }}</td>
                         <td>
                            {% if charge.is_paid %}
                                <span class="badge badge-success p-2">پرداخت شده</span>
                            {% else %}
                                <span class="badge badge-danger p-2">پرداخت نشده</span>
                            {% endif %}
                        </td>
                   
                         <td>
                    {% if charge.payment_date %}
                    	{{ charge.payment_date|show_jalali }}
                    {% else %} 
                    ----
                   {% endif %} 
                </td>
                <td class="p-0">
                       <button data-bs-toggle="modal" data-bs-target="#exampleModalLong2{{ charge.id }}"
                        class="btn btn-gradient-info text-dark px-2 py-1"><i class="mdi mdi-eye"></i>
                </button>
                </td>
                         <td class="p-0">
                        {% if charge.is_paid %}
                  <a  class="btn btn-gradient-dark p-2" disabled="">
                    پرداخت/ غیرفعال
                </a>

                            {% else %}
                <a href="{% url 'request_pay_fix_area' charge.id %}" class="btn btn-gradient-primary p-2">
                    پرداخت شارژ
                </a>
            {% endif %}
        
                   
                    </td>
                <!-- Modal -->
                <div class="modal fade"  id="exampleModalLong2{{ charge.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ charge.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ charge.id }}">مشاهده جزئیات </h5>
                            </div>
                          <hr/>
                            <div class="modal-body text-end">
                                <p><strong>عنوان:</strong> {{ charge.charge_name }}</p>
                                <p><strong>شارژ ثابت:</strong> {{ charge.fix_charge|three_digit_currency }}تومان</p>
                                <p><strong>تعداد نفرات:</strong> {{ charge.unit.people_count}}</p>
                                 <p><strong>مبلغ شارژ به ازای هر نفر:</strong> {{ charge.amount|three_digit_currency }} تومان</p>
                                <p><strong>مبلغ شارژ ماهانه:</strong> {{ charge.final_person_amount|three_digit_currency }} تومان</p>
                                <p><strong>شارژ عمرانی:</strong> {{ charge.civil_charge|three_digit_currency }} تومان</p>
                                <p><strong>جمع کل:</strong> {{ charge.total_charge_month|three_digit_currency }} تومان</p>
                                <p><strong>توضیحات:</strong> 
                                    {% if charge.details %}
                                        <span class="badge bg-warning">{{ charge.details }} </span>
                                        {% else %}
                                        توضیحات ثبت نشده است
                                    {% endif %} 
                                    
                                </p>
                                <p><strong>تاریخ پرداخت:</strong> {{ charge.payment_date|show_jalali_date_only }}</p>
                                <p><strong> کد پیگیری:</strong> {{ charge.transaction_reference }}</p>
                                 <p><strong>وضعیت:</strong> 
                                    {% if charge.is_paid %}
                                    	<span class="badge bg-success">پرداخت شده</span></p>
                                        {% else %}
                                        <span class="badge bg-danger">پرداخت نشده</span></p>
                                    {% endif %} 
                                    
                                
                            </div>
                            <hr/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger p-2" data-bs-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>
                </tr>
                  {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="11" class="text-center">هیچ اطلاعیه ای برای نمایش وجود ندارد.</td>
                            </tr>
                     <tbody>
                    {% endif %}
                </table>
            </div>
    </div>
    
      {#  Person Area Charge#}
     <div class="row mt-4">
         <div class="col-12 p-0"><img src="/static/admin_panel/icone8/icons8-note-48.png" width="30" alt="">
             لیست شارژ نفری متراژی ماهانه 1404(مبالغ به تومان می باشد)</div>
               <div class="table-responsive p-0">
                <table class="table table-bordered" >
                      <thead>
                        <tr>
{#                            <th>واحد</th>#}
                            <th>عنوان</th>
{#                            <th>شارژ ثابت</th>#}
{#                            <th>تعداد نفرات</th>#}
{#                            <th>مبلغ شارژ به ازای هر متر </th>#}
                            <th>مبلغ شارژ ماهانه</th>
                            <th> شارژ عمرانی</th>
                            <th> جمع کل</th>
                            <th>تاریخ ارسال اطلاعیه</th>
                            <th>وضعیت پرداخت</th>
                            <th>تاریخ پرداخت</th>
                             <th>مشاهده </th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                  {% if person_area_charges %}
            {% for charge in person_area_charges %}
                <tbody>
                <tr>
{#                    <td>{{ charge.unit.unit }}</td>#}
                    <td>{{ charge.charge_name}}</td>
{#                    <td>{{ charge.fix_charge|three_digit_currency}}</td>#}
{#                    <td>{{ charge.unit.people_count}}</td>#}
{#                    <td>{{ charge.amount|three_digit_currency}}</td>#}
                    <td>{{ charge.final_person_amount|three_digit_currency }} </td>
                    <td>{{ charge.civil_charge|three_digit_currency }} </td>
                    <td>{{ charge.total_charge_month|three_digit_currency }} </td>
                    <td>{{ charge.created_at|show_jalali }}</td>
                         <td>
                            {% if charge.is_paid %}
                                <span class="badge badge-success p-2">پرداخت شده</span>
                            {% else %}
                                <span class="badge badge-danger p-2">پرداخت نشده</span>
                            {% endif %}
                        </td>
                   
                         <td>
                    {% if charge.payment_date %}
                    	{{ charge.payment_date|show_jalali }}
                    {% else %} 
                    ----
                   {% endif %} 
                </td>     
                    <td class="p-0">
                       <button data-bs-toggle="modal" data-bs-target="#exampleModalLong2{{ charge.id }}"
                        class="btn btn-gradient-info text-dark px-2 py-1"><i class="mdi mdi-eye"></i>
                </button>
                </td>
                         <td class="p-0">
                        {% if charge.is_paid %}
                  <a  class="btn btn-gradient-dark p-2" disabled="">
                    پرداخت/ غیرفعال
                </a>

                            {% else %}
                <a href="{% url 'request_pay_person_area' charge.id %}" class="btn btn-gradient-primary p-2">
                    پرداخت شارژ
                </a>
            {% endif %}
        
                   
                    </td>
                <!-- Modal -->
                <div class="modal fade"  id="exampleModalLong2{{ charge.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ charge.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ charge.id }}">مشاهده جزئیات </h5>
                            </div>
                          <hr/>
                            <div class="modal-body text-end">
                                <p><strong>عنوان:</strong> {{ charge.charge_name }}</p>
                                <p><strong>تعداد نفرات:</strong> {{ charge.unit.people_count}}</p>
                                <p><strong>متراژ واحد:</strong> {{ charge.unit.area}}</p>
                                 <p><strong>مبلغ شارژ به ازای هر نفر:</strong> {{ charge.person_charge|three_digit_currency }} تومان</p>
                                 <p><strong>مبلغ شارژ به ازای هر متر:</strong> {{ charge.area_charge|three_digit_currency }} تومان</p>
                                <p><strong>مبلغ شارژ ماهانه:</strong> {{ charge.final_person_amount|three_digit_currency }} تومان</p>
                                <p><strong>شارژ عمرانی:</strong> {{ charge.civil_charge|three_digit_currency }} تومان</p>
                                <p><strong>جمع کل:</strong> {{ charge.total_charge_month|three_digit_currency }} تومان</p>
                                <p><strong>توضیحات:</strong> 
                                    {% if charge.details %}
                                        <span class="badge bg-warning">{{ charge.details }} </span>
                                        {% else %}
                                        توضیحات ثبت نشده است
                                    {% endif %} 
                                    
                                </p>
                                <p><strong>تاریخ پرداخت:</strong> {{ charge.payment_date|show_jalali_date_only }}</p>
                                <p><strong> کد پیگیری:</strong> {{ charge.transaction_reference }}</p>
                                    <p><strong>وضعیت:</strong> 
                                    {% if charge.is_paid %}
                                    	<span class="badge bg-success">پرداخت شده</span></p>
                                        {% else %}
                                        <span class="badge bg-danger">پرداخت نشده</span></p>
                                    {% endif %} 
                                    
                            </div>
                            <hr/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger p-2" data-bs-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>
                </tr>
                  {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="11" class="text-center">هیچ اطلاعیه ای برای نمایش وجود ندارد.</td>
                            </tr>
                     <tbody>
                    {% endif %}
                </table>
            </div>
    </div>
    
       {#  Fix Person Area Charge#}
     <div class="row mt-4">
         <div class="col-12 p-0"><img src="/static/admin_panel/icone8/icons8-note-48.png" width="30" alt="">
             لیست شارژ واحدی نفری متراژی ماهانه 1404(مبالغ به تومان می باشد)</div>
               <div class="table-responsive p-0">
                <table class="table table-bordered" >
                      <thead>
                        <tr>
{#                            <th>واحد</th>#}
                            <th>عنوان</th>
{#                            <th>شارژ ثابت</th>#}
{#                            <th>تعداد نفرات</th>#}
{#                            <th>مبلغ شارژ به ازای هر متر </th>#}
                            <th>مبلغ شارژ ماهانه</th>
                            <th> شارژ عمرانی</th>
                            <th> جمع کل</th>
                            <th>تاریخ ارسال اطلاعیه</th>
                            <th>وضعیت پرداخت</th>
                            <th>تاریخ پرداخت</th>
                            <th>مشاهده </th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                  {% if fix_person_area_charges %}
            {% for charge in fix_person_area_charges %}
                <tbody>
                <tr>
{#                    <td>{{ charge.unit.unit }}</td>#}
                    <td>{{ charge.charge_name}}</td>
{#                    <td>{{ charge.fix_charge|three_digit_currency}}</td>#}
{#                    <td>{{ charge.unit.people_count}}</td>#}
{#                    <td>{{ charge.amount|three_digit_currency}}</td>#}
                    <td>{{ charge.final_person_amount|three_digit_currency }} </td>
                    <td>{{ charge.civil_charge|three_digit_currency }} </td>
                    <td>{{ charge.total_charge_month|three_digit_currency }} </td>
                    <td>{{ charge.created_at|show_jalali }}</td>
                         <td>
                            {% if charge.is_paid %}
                                <span class="badge badge-success p-2">پرداخت شده</span>
                            {% else %}
                                <span class="badge badge-danger p-2">پرداخت نشده</span>
                            {% endif %}
                        </td>
                   
                         <td>
                    {% if charge.payment_date %}
                    	{{ charge.payment_date|show_jalali }}
                    {% else %} 
                    ----
                   {% endif %} 
                </td>
                  <td class="p-0">
                       <button data-bs-toggle="modal" data-bs-target="#exampleModalLong2{{ charge.id }}"
                        class="btn btn-gradient-info text-dark px-2 py-1"><i class="mdi mdi-eye"></i>
                </button>
                </td>
                         <td class="p-0">
                        {% if charge.is_paid %}
                  <a  class="btn btn-gradient-dark p-2" disabled="">
                  پرداخت/ غیرفعال
                </a>

                            {% else %}
                <a href="{% url 'request_pay_fix_person_area' charge.id %}" class="btn btn-gradient-primary p-2">
                    پرداخت شارژ
                </a>
            {% endif %}
        
                   
                    </td>
                <!-- Modal -->
                <div class="modal fade"  id="exampleModalLong2{{ charge.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ charge.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ charge.id }}">مشاهده جزئیات </h5>
                            </div>
                          <hr/>
                            <div class="modal-body text-end">
                                <p><strong>عنوان:</strong> {{ charge.charge_name }}</p>
                                <p><strong>تعداد نفرات:</strong> {{ charge.unit.people_count}}</p>
                                <p><strong>متراژ واحد:</strong> {{ charge.unit.area}}</p>
                                 <p><strong>مبلغ شارژ به ازای هر نفر:</strong> {{ charge.person_charge|three_digit_currency }} تومان</p>
                                 <p><strong>مبلغ شارژ به ازای هر متر:</strong> {{ charge.area_charge|three_digit_currency }} تومان</p>
                                <p><strong>مبلغ شارژ ماهانه:</strong> {{ charge.final_person_amount|three_digit_currency }} تومان</p>
                                <p><strong>شارژ عمرانی:</strong> {{ charge.civil_charge|three_digit_currency }} تومان</p>
                                <p><strong>جمع کل:</strong> {{ charge.total_charge_month|three_digit_currency }} تومان</p>
                                <p><strong>توضیحات:</strong> 
                                    {% if charge.details %}
                                        <span class="badge bg-warning">{{ charge.details }} </span>
                                        {% else %}
                                        توضیحات ثبت نشده است
                                    {% endif %} 
                                    
                                </p>
                                <p><strong>تاریخ پرداخت:</strong> {{ charge.payment_date|show_jalali_date_only }}</p>
                                <p><strong> کد پیگیری:</strong> {{ charge.transaction_reference }}</p>
                                    <p><strong>وضعیت:</strong> 
                                    {% if charge.is_paid %}
                                    	<span class="badge bg-success">پرداخت شده</span>
                                        {% else %}
                                        <span class="badge bg-danger">پرداخت نشده</span></p>
                                    {% endif %} 
                                    
                            </div>
                            <hr/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger p-2" data-bs-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>
                </tr>
                  {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="11" class="text-center">هیچ اطلاعیه ای برای نمایش وجود ندارد.</td>
                            </tr>
                     <tbody>
                    {% endif %}
                </table>
            </div>
    </div>
    
        {#  Fix variable Area Charge#}
     <div class="row mt-4">
         <div class="col-12 p-0"><img src="/static/admin_panel/icone8/icons8-note-48.png" width="30" alt="">
             لیست شارژ  ثابت و متغیر ماهانه 1404(مبالغ به تومان می باشد)</div>
               <div class="table-responsive p-0">
                <table class="table table-bordered" >
                      <thead>
                        <tr>
{#                            <th>واحد</th>#}
                            <th>عنوان</th>
{#                            <th>شارژ ثابت</th>#}
{#                            <th>تعداد نفرات</th>#}
{#                            <th>مبلغ شارژ به ازای هر متر </th>#}
                            <th>مبلغ شارژ ماهانه</th>
                            <th> شارژ عمرانی</th>
                            <th> اجاره پارکینگ</th>
                            <th> سایر هزینه ها</th>
                            <th> جمع کل</th>
                            <th>تاریخ ارسال اطلاعیه</th>
                            <th>وضعیت پرداخت</th>
                            <th>تاریخ پرداخت</th>
                            <th>مشاهده </th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                  {% if fix_variable_charges %}
            {% for charge in fix_variable_charges %}
                <tbody>
                <tr>
{#                    <td>{{ charge.unit.unit }}</td>#}
                    <td>{{ charge.charge_name}}</td>
{#                    <td>{{ charge.fix_charge|three_digit_currency}}</td>#}
{#                    <td>{{ charge.unit.people_count}}</td>#}
{#                    <td>{{ charge.amount|three_digit_currency}}</td>#}
                    <td>{{ charge.final_person_amount|three_digit_currency }} </td>
                    <td>{{ charge.civil_charge|three_digit_currency }} </td>
                    <td>{{ charge.extra_parking_charges|three_digit_currency }} </td>
                    <td>{{ charge.other_cost|three_digit_currency }} </td>
                    <td>{{ charge.total_charge_month|three_digit_currency }} </td>
                    <td>{{ charge.created_at|show_jalali }}</td>
                         <td>
                            {% if charge.is_paid %}
                                <span class="badge badge-success p-2">پرداخت شده</span>
                            {% else %}
                                <span class="badge badge-danger p-2">پرداخت نشده</span>
                            {% endif %}
                        </td>
                   
                         <td>
                    {% if charge.payment_date %}
                    	{{ charge.payment_date|show_jalali }}
                    {% else %} 
                    ----
                   {% endif %} 
                </td>
                <td class="p-0">
                       <button data-bs-toggle="modal" data-bs-target="#exampleModalLong2{{ charge.id }}"
                        class="btn btn-gradient-info text-dark px-2 py-1"><i class="mdi mdi-eye"></i>
                </button>
                </td>
                         <td class="p-0">
                    
                        {% if charge.is_paid %}
                     <a  class="btn btn-gradient-dark p-2" disabled="">
                    پرداخت/ غیرفعال
                </a>
                            {% else %}
                    <a href="{% url 'request_pay_fix_variable' charge.id %}" 
                       class="btn btn-gradient-primary align-self-center justify-content-center p-2">
                    پرداخت شارژ
                </a>
            {% endif %}
        
                   
                    </td>
                <!-- Modal -->
                <div class="modal fade"  id="exampleModalLong2{{ charge.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ charge.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ charge.id }}">مشاهده جزئیات </h5>
                            </div>
                          <hr/>
                            <div class="modal-body text-end">
                                <p><strong>عنوان:</strong> {{ charge.charge_name }}</p>
                                <p><strong>تعداد نفرات:</strong> {{ charge.unit.people_count}}</p>
                                <p><strong>متراژ واحد:</strong> {{ charge.unit.area}}</p>
                                <p><strong> شارژ ثابت:</strong> {{ charge.unit_fix_charge_per_unit}}</p>
                                 <p><strong>مبلغ شارژ به ازای هر نفر:</strong> {{ charge.unit_variable_person_charge|three_digit_currency }} تومان</p>
                                 <p><strong>مبلغ شارژ به ازای هر متر:</strong> {{ charge.unit_variable_area_charge|three_digit_currency }} تومان</p>
                                <p><strong>مبلغ شارژ ماهانه:</strong> {{ charge.final_person_amount|three_digit_currency }} تومان</p>
                                <p><strong>شارژ عمرانی:</strong> {{ charge.civil_charge|three_digit_currency }} تومان</p>
                                <p><strong>اجاره پارکینگ:</strong> 
                                    {{ charge.extra_parking_charges|three_digit_currency }} تومان
                                </p>
                                <p><strong>سایر هزینه ها:</strong> {{ charge.other_cost|three_digit_currency }} تومان</p>
                                <p><strong>جمع کل:</strong> {{ charge.total_charge_month|three_digit_currency }} تومان</p>
                                <p><strong>توضیحات:</strong> 
                                    {% if charge.details %}
                                        <span class="badge bg-warning">{{ charge.details }} </span>
                                        {% else %}
                                        توضیحات ثبت نشده است
                                    {% endif %} 
                                    
                                </p>
                                <p><strong>تاریخ پرداخت:</strong> {{ charge.payment_date|show_jalali_date_only }}</p>
                                <p><strong> کد پیگیری:</strong> {{ charge.transaction_reference }}</p>
                                    <p><strong>وضعیت:</strong> 
                                    {% if charge.is_paid %}
                                    	<span class="badge bg-success">پرداخت شده</span>
                                        {% else %}
                                        <span class="badge bg-danger">پرداخت نشده</span></p>
                                    {% endif %} 
                                    
                            </div>
                            <hr/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger p-2" data-bs-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>
                </tr>
                  {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="11" class="text-center">هیچ اطلاعیه ای برای نمایش وجود ندارد.</td>
                            </tr>
                     <tbody>
                    {% endif %}
                </table>
            </div>
    </div>
    
    
</div>
    
    
{% endblock main_content %}