{% extends 'partials/core_template.html' %}
{% load poll_extras %}

{% block page_title %}
{#مدیریت شارژ واحد {{ unit.unit }}#}
{% endblock page_title %}

{% block main_content %}
     <div class="container py-2 mt-4"   dir="rtl">
     <div class="row text-center">
         <div class="col-12">
             <img src="/static/img/pay-charge.png" width="200" alt="">
         </div>
     </div>
     

     <div class="row d-flex justify-content-center">
         {% if success %}
<div class="alert alert-success text-center w-25">{{ success }}</div>
{% endif %}
{% if error %}
<div class="alert alert-danger text-center w-25">{{ error }}</div>
{% endif %}
     <div class="col-12 text-center mt-4">
         
           <a class="btn btn-gradient-danger w-25" href="{% url 'user_charges' %}"> مدیریت شارژ </a>
     </div>
     </div>
    </div>


{% endblock main_content %}